<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS10_VisualBasicMySQLMVC3Project.zip">
            <Directory Id="dir1084FE96D350C34AAA0E32AA64F2528A" Name="Content" />
            <Directory Id="dir10AABB533504A7DC157DD1AE095FA9FD" Name="Controllers" />
            <Directory Id="dir0B18BC658309C38B6E3C64C283880974" Name="Models" />
            <Directory Id="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Name="My Project" />
            <Directory Id="dir1046467613ED4F48305EA9F70777736B" Name="Scripts" />
            <Directory Id="dir102A483915A1F25748ED06690A284619" Name="Views" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS10_MvcVisualBasicTemplateDirectoryComponents">
            <Component Id="cmp10D692AB5FEFC0D72AFC6E6814ACBCC09" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="77C8CA6F-E883-4F5B-9D56-2F77CF5A2575">
                <File Id="fil2111C010006BCD4EC60AD618B5E014F41E99" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax" />
            </Component>
            <Component Id="cmp108B07BA9DAC2211E1CE718A8914F760F" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="00088712-B1F9-4CA5-BC31-BD80833FBFAD">
                <File Id="fil21112D4EE5A143AC21A6C87BF60BA3D4E5E3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax.vb" />
            </Component>
            <Component Id="cmp10018E05F60FB721965672906C877B660" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="7AC94C9E-6814-4032-9181-0B8B1112C75E">
                <File Id="fil2117737B100106741CEE35984D63954177C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MvcApplication.vbproj" />
            </Component>
            <Component Id="cmp10748B25BC83513079EC4FFE3995A6A4E" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="A0B50FCA-F5C0-447E-9D5F-977496C97785">
                <File Id="fil21127BF76742D83C763CCF189DBE99FA752" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MyTemplate.vstemplate" />
            </Component>
            <Component Id="cmp11CB7BE0E355EE86C13DFF974D1DA2397" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="ACE1D4DB-25CD-4C4A-B706-DFEE49492FDB">
                <File Id="fil21112807068D49F6F85301394B5D4128E06" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\packages.config" />
            </Component>
            <Component Id="cmp109B8FE6192ADBDA73C9D2A6C9F5B24D9" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="4330BE7A-FD83-41A4-8810-87594ED57939">
                <File Id="fil21B832EBF390445F4DFBD054EC9DF2DF6A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.config" />
            </Component>
            <Component Id="cmp10CD123353C4F149DE85DDF424C88D5B7" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="07652292-F345-4320-8CE8-1BBA8BADE3A9">
                <File Id="fil211D6FF993C9DB3733C94245E3C770482D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Debug.config" />
            </Component>
            <Component Id="cmp1046F1EACC6AEC59D7DFDBF49B0AC798B" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="D132F735-5D3A-4DA8-8BFB-74267653E104">
                <File Id="fil21983821757C363F69CCDF8CC3A8853F29" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Release.config" />
            </Component>
            <Component Id="cmp10E74FD4FCE4B30702FD1ADA2AD95F963" Directory="VS10_VisualBasicMySQLMVC3Project.zip" Guid="52B2989E-05D0-44B0-A90B-39C7A970B8C6">
                <File Id="fil215DBCEC1F792365639917C6AEB7E0131C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="cmp10C485FE85D849F81A7EAC23AAB0366B7" Directory="dir1084FE96D350C34AAA0E32AA64F2528A" Guid="ED6F7E7D-4EFC-4F37-AFC7-BF6BBA49CD2D">
                <File Id="fil213FD3602925E980CC3822E9DCDD3F792F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\Site.css" />
            </Component>            
            <Component Id="cmp105E9AB95BBBF83F2E1517E70B200C997" Directory="dir10AABB533504A7DC157DD1AE095FA9FD" Guid="D759BAEC-7059-4AB5-A59B-82C281AD7545">
                <File Id="fil21D1C1813AE4A1C4AC38710146326FF6DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\AccountController.vb" />
            </Component>
            <Component Id="cmp10F835357233BD33C8BE6DCB283D88961" Directory="dir10AABB533504A7DC157DD1AE095FA9FD" Guid="1520CA47-EA6F-4A22-A55D-1A55327ECEFC">
                <File Id="fil21105950AE1CA0B5D6F47DE3D1A47441DC1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\HomeController.vb" />
            </Component>
            <Component Id="cmp118F896C0F0586EA1A16F3BDA78DCA032" Directory="dir0B18BC658309C38B6E3C64C283880974" Guid="86B6CF2F-06F8-4D77-8CB7-DC208D56E30C">
                <File Id="fil2112A658021D354A367203B8FC6B26B58DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Models\UserModels.vb" />
            </Component>
            <Component Id="cmp10EC33C4DE86C2DDB8D8BE47DF03CE804" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="976CF298-B2E5-448B-B739-983228E84D5F">
                <File Id="fil211C0951B2FC77E9F457EC876F29AD5E340" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.Designer.vb" />
            </Component>
            <Component Id="cmp10F23C150022F607D715CE4194A10BFAB" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="40037A2F-0D4A-4D9E-B9C7-4B6BE663AC5C">
                <File Id="fil2114320BC4D0F924DC02F0E911C92606653" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.myapp" />
            </Component>
            <Component Id="cmp10AB8C670A75E9D27BA202CC6BCB08880" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="830B5CEE-B69A-467E-B298-6E48D489C934">
                <File Id="fil2110F293E58307CACD76898A609BA1466CB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\AssemblyInfo.vb" />
            </Component>
            <Component Id="cmp1064BE4A8CF2683544F07E4D8A9FF7D0C" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="12C95E94-6A11-4964-99BF-87CB870C66D1">
                <File Id="fil2113B293E0AFADAFDA883605B5290D0B23" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.Designer.vb" />
            </Component>
            <Component Id="cmp102661516A5A0FD1B5E008CA6BCB3FB6F" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="28D119F8-A580-4E78-895D-91582878AA45">
                <File Id="fil211EB11A133C758785ACBA8E6AC96CA4166" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.resx" />
            </Component>
            <Component Id="cmp10AFDEEAF0BD54D99622AA8154A4BF23A" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="B59F9D14-9D8A-4845-B35F-54BBC8079690">
                <File Id="fil2116ACD75703809B49EF6C0221D7F72C1CF" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.Designer.vb" />
            </Component>
            <Component Id="cmp10D98E7B79B1E6E97AEA69C02562B074C" Directory="dir109DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="A5909F4C-E70F-4CF9-B9B0-5F3B061C336B">
                <File Id="fil211DB1CB78B2DA5963B3FA5B3FF32FA238" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.settings" />
            </Component>
            
            <Component Id="cmp10E1539EC7A34B141D2FE84DAC37DDC75" Directory="dir102A483915A1F25748ED06690A284619" Guid="10BE95F8-52BA-4CE0-923F-0AE80BE98966">
                <File Id="fil2112CF166B98F58C1AF5E876021F7AF6789" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Web.config" />
            </Component>
            <Component Id="cmp1001AFE2EDAD5FE41C475A533812E2FD8" Directory="dir102A483915A1F25748ED06690A284619" Guid="E7B4FA0F-04FD-46B8-8F38-057C8A0433B1">
                <File Id="fil211F6B16A148B5BE8A7CB32B89511EDCA61" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\_ViewStart.vbhtml" />
            </Component>
            <Component Id="cmp1075EAE2F42BB0462A530D1A07348674C" Directory="dir47D50A869CA7D52F7AA656BA3A264F31" Guid="0F540014-5CBA-4926-B798-42DFAA4F0E1B">
                <File Id="fil211C7F5AF4259F4D2EBDF72CF5DD06B0E58" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePassword.vbhtml" />
            </Component>
            <Component Id="cmp103189995267EDBD2930AAA2EE97B85EB" Directory="dir47D50A869CA7D52F7AA656BA3A264F31" Guid="40C2CD2C-FF47-47EF-A7F1-62F1D74056F7">
                <File Id="fil211A2B362FE85F95B52EEFF7C980B98D71A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePasswordSuccess.vbhtml" />
            </Component>
            <Component Id="cmp10B5D7CC9B75C50B4A94A5AA2F5133AB1" Directory="dir47D50A869CA7D52F7AA656BA3A264F31" Guid="2C5AFB66-A96A-46E0-9BB8-47463CC87DB5">
                <File Id="fil2117F2B3CC988EA4A54F7C7B80D68CED4CA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\Login.vbhtml" />
            </Component>
            <Component Id="cmp10FADF5B30531DB943669CE2FA06AF28A" Directory="dir47D50A869CA7D52F7AA656BA3A264F31" Guid="1257E7C9-7094-4BE4-981F-C69EB93701DF">
                <File Id="fil2116DA2D9ED6723B3603F18E8EFD5256324" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\CreateUser.vbhtml" />
            </Component>
            <Component Id="cmp1068019BD878FC8E6A59489574AC9EE2F" Directory="dir10CCDDD31D59EE6C46CFB7D30061940D" Guid="3D16CA08-1489-4B68-8CC3-C142A27FB1A8">
                <File Id="fil211E7AA3F6B4EDA5047EBEA06ADB5175907" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\About.vbhtml" />
            </Component>
            <Component Id="cmp104CF75D73B96FB2D9637F83DAAE2D2DB" Directory="dir10CCDDD31D59EE6C46CFB7D30061940D" Guid="381FE243-15AF-46F0-8D75-8162E4C24AA0">
                <File Id="fil211F11AB5AEE2C127A00FF1DBB4AD64DCF5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\Index.vbhtml" />
            </Component>
            <Component Id="cmp10BE71660E60F6650BD67E1277C81AE85" Directory="dir223F2651D863C0ED5A8B7087AC343AEA" Guid="9DC5A7A0-0BDB-476F-BBE6-4E8A9FB9B5C7">
                <File Id="fil2116C9804552F60D6E3051A3D43F04C1507" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\Error.vbhtml" />
            </Component>
            <Component Id="cmp109371757F8ED9C159285418920E6D7F1" Directory="dir223F2651D863C0ED5A8B7087AC343AEA" Guid="1C0A29DB-FDB5-45E0-BD0B-8510FFF85D69">
                <File Id="fil2112E9176C03148EC4B982D6127E8E4B3A1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_Layout.vbhtml" />
            </Component>
            <Component Id="cmp10B696C12100A9BC39D9AC0B0CED71192" Directory="dir223F2651D863C0ED5A8B7087AC343AEA" Guid="46175652-7A69-4F51-96F3-E1368C662DD6">
                <File Id="fil211CF8AF1B807788F1CDAA49C0DAA968307" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_LoginPartial.vbhtml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir102A483915A1F25748ED06690A284619">
            <Directory Id="dir223F2651D863C0ED5A8B7087AC343AEA" Name="Shared" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir102A483915A1F25748ED06690A284619">
            <Directory Id="dir47D50A869CA7D52F7AA656BA3A264F31" Name="Account" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC10C55EB263693016F6E29678F0D6F04">
            <Directory Id="dir101531F2576809306498AAFA0991E9B0" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1084FE96D350C34AAA0E32AA64F2528A">
            <Directory Id="dir943BB3F0821E3CD4B29CDC1FDCB6B9F5" Name="themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir102A483915A1F25748ED06690A284619">
            <Directory Id="dir10CCDDD31D59EE6C46CFB7D30061940D" Name="Home" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir943BB3F0821E3CD4B29CDC1FDCB6B9F5">
            <Directory Id="dirC10C55EB263693016F6E29678F0D6F04" Name="base" />
        </DirectoryRef>
    </Fragment>
</Wix>