<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS11_MySQLMVC3Project.zip">
            <Directory Id="vs11dirB4997EC24718410F860B4493399C9797" Name="Content" />
            <Directory Id="vs11dir40848669870A256441B493F48F2479D8" Name="Controllers" />
            <Directory Id="vs11dir7589C405C602CB6F333BFC2B9D7226CC" Name="Models" />
            <Directory Id="vs11dir428276E25DA7BE4213AC3D0DD8245054" Name="Properties" />
            <Directory Id="vs11dir094FBDB593E9BAD232CDF36563B7E74F" Name="Scripts" />
            <Directory Id="vs11dir13F4FB870B9C325B5E341A0C06F33B6A" Name="Views" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS11_MvcCsharpTemplateDirectoryComponents">
            <Component Id="vs11cmp03BE8090E4EDA8F20BDA0925285081CC" Directory="VS11_MySQLMVC3Project.zip" Guid="7D8AFE34-54E5-4F09-9A83-610C034B81F2">
                <File Id="vs11fil797B0591BB481223EFFB826FEC891139" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Global.asax" />
            </Component>
            <Component Id="vs11cmp0B7DE58C351BC60FF616DB70A6C3DE97" Directory="VS11_MySQLMVC3Project.zip" Guid="B3021B49-D135-421D-936E-B1D63227411F">
                <File Id="vs11fil81F41C4D1BC27C43DDCD70A060D8CF6D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Global.asax.cs" />
            </Component>
            <Component Id="vs11cmpBB5F8B100B88352D55B594D4DC28D92C" Directory="VS11_MySQLMVC3Project.zip" Guid="B63B6219-6117-4A50-83FE-E9455CCEA03B">
                <File Id="vs11filF7A307116A82A990906B8D947348BE04" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\MvcApplication1.csproj" />
            </Component>
            <Component Id="vs11cmpDE0FA82BAFF692BCB2C26D5D764A8952" Directory="VS11_MySQLMVC3Project.zip" Guid="5AFCA58A-712F-44FD-B9F7-76ABDFD00492">
                <File Id="vs11filFD9C6874032FE11EE86FF33740D946F2" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\MySQLMvcTemplate.vstemplate" />
            </Component>            
            <Component Id="vs11cmpEE6234F51DD271462866A39FEAF3AC2F" Directory="VS11_MySQLMVC3Project.zip" Guid="7FA2E40B-893A-4531-97BB-9D8CEE4B1C70">
                <File Id="vs11fil393A227BFEEE1A4CBA0621431FAF8903" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Web.config" />
            </Component>
            <Component Id="vs11cmp018271C9A9D8828DEF4C1636778579D1" Directory="VS11_MySQLMVC3Project.zip" Guid="53E715DC-5432-45E0-B673-5AF8FAFCEF36">
                <File Id="vs11fil42B84DC45FAB61796CE6A618B29420B2" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Web.Debug.config" />
            </Component>
            <Component Id="vs11cmp2FF3C9504A023B69D8C858BBDB80FE88" Directory="VS11_MySQLMVC3Project.zip" Guid="B3B541D4-67EF-4818-B9D4-F697ED9076DD">
                <File Id="vs11fil1CBC9EEF8AF3D9041E77B4E7D067CE4D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Web.Release.config" />
            </Component>
            <Component Id="vs11cmpC8F95E6278AD474E91740CCAACF2E84D" Directory="VS11_MySQLMVC3Project.zip" Guid="16AD1E69-BE04-43F2-B861-8BF57D65EFCE">
                <File Id="vs11fil81EB2608FBA57F74F3194A7409435DED" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="vs11cmpB33BD86C08968F24751BD78F7C792324" Directory="vs11dirB4997EC24718410F860B4493399C9797" Guid="C39E15DB-28DD-48D2-9C75-BC6CCB483041">
                <File Id="vs11filA2950B279958B35C554DADFF0F57F0E3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Content\Site.css" />
            </Component>
            
            <Component Id="vs11cmp0DBD60076A67C5D67FA7656427B8F91D" Directory="vs11dir40848669870A256441B493F48F2479D8" Guid="A034946D-BBA7-45FC-AF10-0D2D3A77397B">
                <File Id="vs11fil62A2E3FF6AF90A6E1003DF6EAB621AC8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Controllers\AccountController.cs" />
            </Component>
            <Component Id="vs11cmp2DA80AA532F178A422CEA0FE2D10A7A2" Directory="vs11dir40848669870A256441B493F48F2479D8" Guid="42EBA35D-5572-425A-BF4E-F681F525DE83">
                <File Id="vs11fil58AA45C19E801A016FE7F891B8839D2C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Controllers\HomeController.cs" />
            </Component>
            <Component Id="vs11cmpCC31CA21D7B410DFA58E96AE15BBC2C8" Directory="vs11dir7589C405C602CB6F333BFC2B9D7226CC" Guid="47D5A710-5778-4DAF-8EE6-E5CA9C638B5A">
                <File Id="vs11fil214927A15F43826F9358B9B0E69F5C2A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Models\UserModels.cs" />
            </Component>
            <Component Id="vs11cmpA8E1E9FDA28AD58159C4C3E7D7E4D65E" Directory="vs11dir428276E25DA7BE4213AC3D0DD8245054" Guid="21764FCC-DA16-41A6-ACB2-6EF7D92B958C">
                <File Id="vs11filE1A9FE22350CD7AE1FA79C48473533ED" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Properties\AssemblyInfo.cs" />
            </Component>
            
            <Component Id="vs11cmp5BCB4102571FB7B572F31B2B2E38FADD" Directory="vs11dir13F4FB870B9C325B5E341A0C06F33B6A" Guid="1CE13E20-A661-478B-B61B-D11C4A79A8DD">
                <File Id="vs11filA2F181A0960C42FC87F745308E77F290" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Web.config" />
            </Component>
            <Component Id="vs11cmp40E3341902BAF44F88D94DE154461764" Directory="vs11dir13F4FB870B9C325B5E341A0C06F33B6A" Guid="CE3B9B87-548B-4963-8720-4F61CF9F0FA9">
                <File Id="vs11filBA363CFEEE8141748A54414B830AE5DE" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\_ViewStart.cshtml" />
            </Component>
            <Component Id="vs11cmpFA9ABDB119B80F775660318AA042C60E" Directory="vs11dir3AEDF8E08509EADBF6C66E5695E59890" Guid="26B2554B-79E8-4DF5-A93C-05AE186CCC27">
                <File Id="vs11fil0DD413F5290137B5E90E2C5315E4E091" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePassword.cshtml" />
            </Component>
            <Component Id="vs11cmp310FB65EC91D4F46D55F45B48BDFEB7D" Directory="vs11dir3AEDF8E08509EADBF6C66E5695E59890" Guid="EDF98F22-BA4E-48BA-8963-451B91F12342">
                <File Id="vs11filCF99CF542DF094C346856A4CB9E171B8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePasswordSuccess.cshtml" />
            </Component>
            <Component Id="vs11cmpA05DB962AE0B0CC87E3D52D9C58BBD7E" Directory="vs11dir3AEDF8E08509EADBF6C66E5695E59890" Guid="2161CB3C-ACB3-4BEA-976A-7813B967FB48">
                <File Id="vs11fil9C0E62E4725C75B61E409AD543D7109B" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Account\Login.cshtml" />
            </Component>
            <Component Id="vs11cmpB7D2771EEB1020920A02E165BAB3BB94" Directory="vs11dir3AEDF8E08509EADBF6C66E5695E59890" Guid="7148F88B-7C57-4EE7-B865-4157BF3AD43A">
                <File Id="vs11fil0CAA545439ED07D8C45D25CE67BAB3E8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Account\CreateUser.cshtml" />
            </Component>
            <Component Id="vs11cmpF0ABC304379CA46533396272B9517300" Directory="vs11dir2F28E7C889BD9FEB7116185F220771D1" Guid="D9CD6520-991E-4B32-B78B-ECE967BA41A3">
                <File Id="vs11filEBB77B3A8F4F891CF4E9729974653BBB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Home\About.cshtml" />
            </Component>
            <Component Id="vs11cmpA64FAFC92A955E2059C25D3E27361CBA" Directory="vs11dir2F28E7C889BD9FEB7116185F220771D1" Guid="93889C5D-1218-4051-8E6C-E1C54F4F8E1A">
                <File Id="vs11fil87B4D6C2A6D31166665493A092041622" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Home\Index.cshtml" />
            </Component>
            <Component Id="vs11cmp6A6B75DDABC6C0673DDB29FC00E93C45" Directory="vs11dirADAE7A409890E3A181952E9CA5FA552E" Guid="66B7A8A6-2B1B-4D63-87CD-3A6DE99A121D">
                <File Id="vs11filB21130567062FBE630C9608BF534AB24" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Shared\Error.cshtml" />
            </Component>
            <Component Id="vs11cmp1177A72639A1A9EC104498720563B109" Directory="vs11dirADAE7A409890E3A181952E9CA5FA552E" Guid="1E6A06EF-C4F5-4161-8294-040D02E76F44">
                <File Id="vs11fil08EC4795113BC5E39CA5183285C12B73" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_Layout.cshtml" />
            </Component>
            <Component Id="vs11cmpE703513B11EB6683B0EF5A61D8CDED58" Directory="vs11dirADAE7A409890E3A181952E9CA5FA552E" Guid="6E1E49C8-FA79-4820-8875-596220A0C748">
                <File Id="vs11filC180C63BBB6F7005542296F3BD33873C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_LoginPartial.cshtml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dir13F4FB870B9C325B5E341A0C06F33B6A">
            <Directory Id="vs11dir2F28E7C889BD9FEB7116185F220771D1" Name="Home" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dir13F4FB870B9C325B5E341A0C06F33B6A">
            <Directory Id="vs11dir3AEDF8E08509EADBF6C66E5695E59890" Name="Account" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dirAD334F5036A2A70123065AEDA8E8BBD2">
            <Directory Id="vs11dir62B27898CB6091A09A677E25EB0446A2" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dirB0CB8AB577968C13EDD8A3284C64DB63">
            <Directory Id="vs11dirAD334F5036A2A70123065AEDA8E8BBD2" Name="base" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dir13F4FB870B9C325B5E341A0C06F33B6A">
            <Directory Id="vs11dirADAE7A409890E3A181952E9CA5FA552E" Name="Shared" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="vs11dirB4997EC24718410F860B4493399C9797">
            <Directory Id="vs11dirB0CB8AB577968C13EDD8A3284C64DB63" Name="themes" />
        </DirectoryRef>
    </Fragment>
</Wix>