<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS11_MySQLWindowsFormsProject.zip">
            <Directory Id="vs11dirDEE58BD9C1C57B61E9BC8128F6140E2F" Name="Properties" />
            <Directory Id="vs11dir6E8D3B7215BF9A7193BEBF636375B3C1" Name="Resources" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS11_WindowsFormsCsharpTemplateDirectoryComponents">
            <Component Id="vs11cmp6E99945176A1ADEF015826B4CBFEE305" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="3FCD8ACC-EB1E-4E62-BA38-C9314C1226D9">
                <File Id="vs11filA9AD042992DE57684FA656331098C55A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\app.config" />
            </Component>
            <Component Id="vs11cmp7D9B6F69E1D0588B9E11E833A90AF9D9" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="305558CA-EA72-47DD-8F04-D7FE2E66D984">
                <File Id="vs11filCDE61D3D3C1884168EE8B28B4B3AB590" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Form1.cs" />
            </Component>
            <Component Id="vs11cmp4C9A6980BEC4F8D195362B388A347739" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="3213180F-FE71-414F-9738-6628143CDE3F">
                <File Id="vs11filAC624ACFDF9F6A2D79C3D73CCF70412C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Form1.Designer.cs" />
            </Component>
            <Component Id="vs11cmp47BF3F6FD4D197D256C0152B2133941A" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="3D8E361C-0259-487F-85DB-E31A534780FC">
                <File Id="vs11fil1AF197E7580BDF68244033535B129EF6" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Form1.resx" />
            </Component>            
            <Component Id="vs11cmp2958FA17FA317D2D11AD0F0D7B9346B9" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="316B4FE9-7952-4E3F-A5E8-AB168C312354">
                <File Id="vs11filD365D57AD2EB6A50FF3E3042DF5AD5BA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\MyTemplate.vstemplate" />
            </Component>
            <Component Id="vs11cmp74802C2669B83E0A6F1CEC8F0063B7C3" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="31C4BCA0-39C2-4446-90C3-8A7808908156">
                <File Id="vs11fil9B2E45885232ED802F9A594E43A5F8A3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Program.cs" />
            </Component>
            <Component Id="vs11cmpCA921D67F72D17567AC42676B54F532D" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="377C59A5-3858-4052-A9D5-5AF98B32BD55">
                <File Id="vs11fil966DD2870EA489C36A6CB1296F8BB5E8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\WindowsTemplateProject.csproj" />
            </Component>
            <Component Id="vs11cmpA5E89D4B51BAE01193E675954BD252B3" Directory="VS11_MySQLWindowsFormsProject.zip" Guid="4962D577-7DAA-4CB4-9301-59EA132035BE">
                <File Id="vs11filB4CF79144F1D16BF4F0034BA045BFFFB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="vs11cmpCAC63D635A03F0CAF989A006A04735ED" Directory="dirDEE58BD9C1C57B61E9BC8128F6140E2F" Guid="36F10925-399D-41DC-BADF-728BCFB9F133">
                <File Id="vs11fil191B2BE16889A494F199DED2D011B8C1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Properties\AssemblyInfo.cs" />
            </Component>
            <Component Id="vs11cmp872512C27915716303541D2A95817BD1" Directory="dirDEE58BD9C1C57B61E9BC8128F6140E2F" Guid="35764AC2-CC3F-4922-9B2B-1551691DDE4A">
                <File Id="vs11filFB007B7941E80D6386DF9AEC3D5F7634" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Properties\Resources.Designer.cs" />
            </Component>
            <Component Id="vs11cmp22DE1A14A9764E42A1BA533AADDAA1A6" Directory="dirDEE58BD9C1C57B61E9BC8128F6140E2F" Guid="4A836CB2-C1F5-4D66-80AB-C5B933EDE2BD">
                <File Id="vs11filDD46D83822AFAE37CEE156604CC9788D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Properties\Resources.resx" />
            </Component>
            <Component Id="vs11cmpDFB2847AD8E3E05268B5877A35154053" Directory="dirDEE58BD9C1C57B61E9BC8128F6140E2F" Guid="3C17B95A-3FB4-4509-A7FF-0E624B6BF39B">
                <File Id="vs11fil5FF5D691A08072CAB603A26E04901A0C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Properties\Settings.Designer.cs" />
            </Component>
            <Component Id="vs11cmp3E9C33E1FB4CC63167CA2D96B0330E6C" Directory="dirDEE58BD9C1C57B61E9BC8128F6140E2F" Guid="336F40FD-1E7E-471D-88FA-BFF0D26B1E03">
                <File Id="vs11filC9B61F7A4D793A0B07812A8184CD0335" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Properties\Settings.settings" />
            </Component>
            <Component Id="vs11cmp67AF18D1EADC6AF483088F5647F30ACE" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="373BF0AE-BE4B-4121-ADF4-CD7FA63C9AC4">
                <File Id="vs11fil5F41CE2508EF28C6486E372862A65836" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorAddNewItem.Image.png" />
            </Component>
            <Component Id="vs11cmpCCE194072C5D13ABA66267E7586BE818" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="3D7A216E-1880-419B-B877-3570CEB4A716">
                <File Id="vs11filCCCCD5DF3AA4F218AB111DB0CFAB4438" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorDeleteItem.Image.png" />
            </Component>
            <Component Id="vs11cmp05FB4B67016AE4FA4532B6A712DEC9BF" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="3D8E549B-123A-45AB-A0D3-B276963116BA">
                <File Id="vs11fil1504DDF368288F41CC4A84128FEC385F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorMoveFirstItem.Image.png" />
            </Component>
            <Component Id="vs11cmp61FD8D7898B0647AC8D6C0C86B27BA68" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="36FEFF4A-FE67-4F32-8FB4-BDFBB32AA042">
                <File Id="vs11filFF5A420C179DB8AB6964CEA4B0F3BE5C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorMoveLastItem.Image.png" />
            </Component>
            <Component Id="vs11cmpC593E576C55FBC7E9EF2E009BD8FA751" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="3CED78AD-0BB5-4F00-BF7E-1604CEF48ECF">
                <File Id="vs11filA08E32847B0C02BDBF2BDD41519BE269" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorMoveNextItem.Image.png" />
            </Component>
            <Component Id="vs11cmp862812777E9DE1B1B2BDA21B015B468E" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="33276EA5-148F-4A0C-A74C-22AF32392888">
                <File Id="vs11filE832F31B8BC1E073E048D7895615677E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorMovePreviousItem.Image.png" />
            </Component>
            <Component Id="vs11cmp5FBAE016E0D5F06492A5638E085A2A21" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="3FB4F503-A478-4B42-A89C-2B8B7018F00F">
                <File Id="vs11filBFB0EC4E7805778EB6708C8710E0CF9E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\bindingNavigatorSaveItem.Image.png" />
            </Component>
            <Component Id="vs11cmp92887D424031B7E160FAE2EEB9CC3CE9" Directory="dir6E8D3B7215BF9A7193BEBF636375B3C1" Guid="4599FBC7-F84E-4095-B9A7-AFD1980E5205">
                <File Id="vs11fil632AA8451CD4F3444A772A98C75D2AEB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\CSharp\MySQL\MySQL Windows Forms Project.zip\Resources\Thumbs.db" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>