<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS11_VisualBasicMySQLWindowsFormsProject.zip">
            <Directory Id="dir261121A79A0BF53391A233C88A5027119" Name="My Project" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS11_WinFormsVisualBasicTemplateDirectoryComponents">
            <Component Id="cmp2D3F0028E4E1720EF25AD47A70C028E40" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="E079F9AB-F4E0-4446-B052-2F3FBB5D6F6A">
                 <File Id="fil2E55C82540514ABA6FAC4E5E9CC9E73C1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\App.config" />
            </Component>
            <Component Id="cmp206CBBAD416FEE234BD966F81913E9B90" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="FD763729-5607-4A8B-9186-6CCA2DED8C44">
                 <File Id="fil222216FEAA7AF601B22292D81D1D858CE" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\Form1.Designer.vb" />
            </Component>
            <Component Id="cmp247BF3F6FD4D197D256C0152B2133941A" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="2B2316FB-3F18-43D8-A5F2-0EB91F57950F">
                 <File Id="fil21AF197E7580BDF68244033535B129EF6" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\Form1.resx" />
            </Component>
            <Component Id="cmp2A0B921F97C18B542674D0A58D93211D2" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="133ADB36-2B59-466E-8207-26A85A0C7D32">
                 <File Id="fil2159A7645CBEDCC9A4CD13D31A2FDE9BC" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\Form1.vb" />
            </Component>
            <Component Id="cmp22958FA17FA317D2D11AD0F0D7B9346B9" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="167DB4FD-4F8F-47FF-9106-73A28AF633EC">
                 <File Id="fil2D365D57AD2EB6A50FF3E3042DF5AD5BA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\MyTemplate.vstemplate" />
            </Component>
            <Component Id="cmp298A4A18727BB09658289403B2734EBEB" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="E08E3201-E4A3-4498-9EF1-FC8BD6ADF289">
                 <File Id="fil2EC5E84DD727F9A7E2D1F15D0E11D6E5B" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\WindowsTemplateProjectVb.vbproj" />
            </Component>
            <Component Id="cmp2A5E89D4B51BAE01193E675954BD252B3" Directory="VS11_VisualBasicMySQLWindowsFormsProject.zip" Guid="4FBA7F35-69ED-4E16-BBC8-061D920BBBF9">
                 <File Id="fil2B4CF79144F1D16BF4F0034BA045BFFFB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="cmp27244FF285A4E158363AFB174BB787189" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="7B6D5E94-311C-4E39-A016-DC02D79154E3">
                 <File Id="fil229DE0E06D76A32B5527C369524626A45" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Application.Designer.vb" />
            </Component>
            <Component Id="cmp291045C6ACB113157F890C1D1C7E9B122" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="E483D2E6-23C1-4EEB-A5BF-BE2CEE7D45B0">
                 <File Id="fil2AFB74B814B264E1B25B92F342EBA8E12" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Application.myapp" />
            </Component>
            <Component Id="cmp2FC0196215DD79737E0B03E468CD57DB2" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="D479E03A-EB2D-4AA4-BC0F-2EBC58FAE4A3">
                 <File Id="fil2C1527022F8615513CA40C661B5D5779B" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\AssemblyInfo.vb" />
            </Component>
            <Component Id="cmp239AE7D3B4CDF3C76398C3E0FF109AF10" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="3D912776-6714-47EC-BC96-011B4F7E04BD">
                 <File Id="fil2584475A65BC8DE8A5F73FBD3B76F6CD1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Resources.Designer.vb" />
            </Component>
            <Component Id="cmp262D4B48B88C607557B87C5DD0774E8F9" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="1F730481-052F-41C6-B864-E8FEC5424094">
                 <File Id="fil2B23CAF2B243B2E1620CAE40487C4B7C0" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Resources.resx" />
            </Component>
            <Component Id="cmp28874AC1832D1D594BD79D1179AF12385" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="402822E4-F1B7-4C6A-B00E-79BAB73A2514">
                 <File Id="fil235F035F567773340807D1B9F7EDA9DA9" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Settings.Designer.vb" />
            </Component>
            <Component Id="cmp2646A27A8B7D169FA3CF12E734313BE57" Directory="dir261121A79A0BF53391A233C88A5027119" Guid="571234FD-6767-4793-A3E8-FE26E04FD33D">
                 <File Id="fil2A17AF943002CA04741E7992974C1449A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL Windows Forms Project.zip\My Project\Settings.settings" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>