<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS12_VisualBasicMySQLMVC3Project.zip">
            <Directory Id="dirE384FE96D350C34AAA0E32AA64F2528A" Name="Content" />
            <Directory Id="dir12AABB533504A7DC157DD1AE095FA9FD" Name="Controllers" />
            <Directory Id="dir1218BC658309C38B6E3C64C283880974" Name="Models" />
            <Directory Id="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Name="My Project" />
            <Directory Id="dir1246467613ED4F48305EA9F70777736B" Name="Scripts" />
            <Directory Id="dir6B2A483915A1F25748ED06690A284619" Name="Views" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS12_MvcVisualBasicTemplateDirectoryComponents">
            <Component Id="cmp9D692AB5FEFC0D72AFC6E6814ACBCC09" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="E9ABFE65-342B-41E3-8AD1-52FC60C5C632">
                <File Id="filC010006BCD4EC60AD618B5E014F41E99" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax" />
            </Component>
            <Component Id="cmp38B07BA9DAC2211E1CE718A8914F760F" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="5EC096C3-D68A-4408-A7A9-4C607FB118C9">
                <File Id="fil2D4EE5A143AC21A6C87BF60BA3D4E5E3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax.vb" />
            </Component>
            <Component Id="cmpC018E05F60FB721965672906C877B660" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="D3597F20-A2FE-4738-B40F-EA89F22B496E">
                <File Id="fil7737B100106741CEE35984D63954177C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MvcApplication.vbproj" />
            </Component>
            <Component Id="cmpE748B25BC83513079EC4FFE3995A6A4E" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="5BEA0F7D-3903-4431-A74E-74F1E3E37718">
                <File Id="fil27BF76742D83C763CCF189DBE99FA752" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MyTemplate.vstemplate" />
            </Component>
            <Component Id="cmp0CB7BE0E355EE86C13DFF974D1DA2397" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="A7500D5C-7290-4CF8-AA0D-E8A84C475A94">
                <File Id="fil12807068D49F6F85301394B5D4128E06" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\packages.config" />
            </Component>
            <Component Id="cmpA9B8FE6192ADBDA73C9D2A6C9F5B24D9" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="05BAAA6C-9C5A-4064-85A3-9C08CDBF641E">
                <File Id="filB832EBF390445F4DFBD054EC9DF2DF6A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.config" />
            </Component>
            <Component Id="cmp6CD123353C4F149DE85DDF424C88D5B7" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="B4877507-ED38-436B-915A-2F43AB5678A7">
                <File Id="fil1D6FF993C9DB3733C94245E3C770482D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Debug.config" />
            </Component>
            <Component Id="cmpA46F1EACC6AEC59D7DFDBF49B0AC798B" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="165B3F3F-4E11-4D6B-9184-8CAD153C92CB">
                <File Id="fil983821757C363F69CCDF8CC3A8853F29" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Release.config" />
            </Component>
            <Component Id="cmpDE74FD4FCE4B30702FD1ADA2AD95F963" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="F3F9A313-7F56-4BC1-A911-DED14E4E4E70">
                <File Id="fil5DBCEC1F792365639917C6AEB7E0131C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="cmpBC485FE85D849F81A7EAC23AAB0366B7" Directory="dirE384FE96D350C34AAA0E32AA64F2528A" Guid="47454510-D4CF-495E-B865-8FB0532DE953">
                <File Id="fil3FD3602925E980CC3822E9DCDD3F792F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\Site.css" />
            </Component>
            <Component Id="cmp551523B9977211D2CCE3E970E73C4412" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="2C427759-C2EA-49B4-9C4A-0C57F749CAFC">
                <File Id="fil147FEAB3EBD4D20CC1472BF54B541A77" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.accordion.css" />
            </Component>
            <Component Id="cmpA4384E7B1086A14D96DFC35948162114" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="55EB0174-A55C-44BA-9C17-92A2806401EF">
                <File Id="filA9559E130C60AF5C4973B335306864C1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.all.css" />
            </Component>
            <Component Id="cmp371967FD2226D0A6D384C4C57F464B6F" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="A3D78944-7037-4FA0-8B2B-C8D74D6B5ED4">
                <File Id="fil0747BF7732DDAEAC3DACFA34061336D9" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.autocomplete.css" />
            </Component>
            <Component Id="cmpC4BA915E52DF29242780C2E836541D8F" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="313F38A4-0AA3-4CDE-84DE-BBC7FF2361B6">
                <File Id="fil6CE89FD36C33BAFE3812C14843242601" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.base.css" />
            </Component>
            <Component Id="cmpD49431A4F865EAF3484668B23E3135EE" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="78CFF5B4-96FA-452D-B1E5-CC00E111A869">
                <File Id="fil2CB1ABD014B26CCF29CE0DCD7018EBB8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.button.css" />
            </Component>
            <Component Id="cmp4068E1BE15151F82E98DCC1A14EC8E71" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="7EA34632-D3E4-4DB6-8D3C-4AFA9EB8194A">
                <File Id="fil55363B751EFC1E46807AFBC8166E6813" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.core.css" />
            </Component>
            <Component Id="cmpFE963E37026C02369A2F2DE98551CE5F" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="40FE5133-9FE5-41B8-ACE7-193CA01C8265">
                <File Id="fil795DC4E8D0AC4586F2E0FC80E76FE2D8" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.datepicker.css" />
            </Component>
            <Component Id="cmp6F18A6E1ACB9CCEFA3DE67337F8140AE" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="8BC8DBE4-3573-466F-9BBF-28C9403605B2">
                <File Id="fil37A13D2845642DB70046A8F7E58AB1DC" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.dialog.css" />
            </Component>
            <Component Id="cmp0ABA9EB8DF1A77FF3A4215D92BB9CBD3" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="CFA8F767-D401-4F4E-9265-A3745210B678">
                <File Id="fil161B7589C6EDF32CD5D8E48F3AFAEF7B" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.progressbar.css" />
            </Component>
            <Component Id="cmpD5AAA414A328E9F40C264C967EE03FFB" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="2330F603-2A6F-482A-BFC7-F7646E14BC8D">
                <File Id="fil64BC295C754CBB7E2C049293B9EB9FE9" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.resizable.css" />
            </Component>
            <Component Id="cmp60B77240420022FDA6BDE8566B88B1AD" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="DB32C068-F35B-49A0-9446-B013FAE73050">
                <File Id="fil86B1A479C4C0BE9B36BE0B5C1ABD8198" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.selectable.css" />
            </Component>
            <Component Id="cmpA5D8B29BE17638BB7FFCD7A3873F1147" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="0DCB201C-4B2D-442F-8EE4-7CD284F497F7">
                <File Id="fil2CE2C8F54A8A42182EC229634F1E7B81" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.slider.css" />
            </Component>
            <Component Id="cmpB1782ADFD14D49409747C8714DE4747F" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="0211CD47-8158-4F0F-AD8E-43F67439A71F">
                <File Id="fil99816BEE19667F8A9C49E205B813C20E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.tabs.css" />
            </Component>
            <Component Id="cmp1886F3985266C38042A3F6E7700D46AA" Directory="dirC19C55EB263693016F6E29678F0D6F04" Guid="69335E04-3837-4CF1-BF45-D478D8A309F2">
                <File Id="fil607E530123485B6D5E3BB280A61BC9C7" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\jquery.ui.theme.css" />
            </Component>
            <Component Id="cmpFE52CFB1CB00262343D6D2EA39BDEEC8" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="738DCC37-0050-4B6C-BCDA-278CBBED5227">
                <File Id="filECA9961E66400357E13F26243B4E62C3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_flat_0_aaaaaa_40x100.png" />
            </Component>
            <Component Id="cmp65DD4422F9308AE91B5C81BF94624793" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="B3DD114B-2E63-495C-9EBF-6792CC2506DB">
                <File Id="filC591037B306491CD6BA39227F38EE948" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_flat_75_ffffff_40x100.png" />
            </Component>
            <Component Id="cmpBA360341B4A24A6D7DC15B2656C86716" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="7FD3E390-499D-4996-849D-8EC94BBAA8C1">
                <File Id="fil5126AF78BD4C0BB5C046AB3394664567" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_glass_55_fbf9ee_1x400.png" />
            </Component>
            <Component Id="cmp1A5E86E7CB797E7FCE052BCAB2B3C418" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="C1BAB366-57E6-4B6E-AED4-CEE0DCDAE465">
                <File Id="fil8F2F13DA0B931B5E1CC79DA2C0B90736" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_glass_65_ffffff_1x400.png" />
            </Component>
            <Component Id="cmp79BAA3C905E16451D6AD983161C76859" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="E39B2E7A-2FBB-45B3-8F46-BFFFA16FF3F1">
                <File Id="filFBC450EB5F0286F37DD32EEE65800F55" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_glass_75_dadada_1x400.png" />
            </Component>
            <Component Id="cmpCC7F0DF33C146FBD76419615E421FA70" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="9A1F3F95-0C08-41CB-970F-62CB9A9358DC">
                <File Id="fil95C3CC6B68B82E3410017F931F4C920C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_glass_75_e6e6e6_1x400.png" />
            </Component>
            <Component Id="cmp7AB82A408E9A2C6B17C8E8EDD4E3EABF" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="97108D7B-70A4-47CE-ADD4-02AA4F871BD3">
                <File Id="filB7A92E352D0446E0D6708C82B3874D4E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_glass_95_fef1ec_1x400.png" />
            </Component>
            <Component Id="cmpEBDC69A7336969C98D17E79FD22F9ED2" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="0312C2C4-6C52-46B5-A058-75F9A98FD56F">
                <File Id="fil2B588EEA3AD42ADC61B6ADE63232AFCC" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-bg_highlight-soft_75_cccccc_1x100.png" />
            </Component>
            <Component Id="cmp50AC82DECA973F6E76FD2BBF8585C667" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="FFAE38B9-2870-4482-9CD5-D2BAC078FEA3">
                <File Id="fil0DE8402C35F9E7AD066189A3EC8FF052" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-icons_222222_256x240.png" />
            </Component>
            <Component Id="cmpCE4DEEF0D0340FA247A298EDB0653625" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="9DF6CDB0-EF92-49E9-A2B9-263CFCDF45C7">
                <File Id="fil9FCEAB586B0AF30B84293BBE04B7F3B4" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-icons_2e83ff_256x240.png" />
            </Component>
            <Component Id="cmp594BB186E6E15C5F2241A5F01EA7CB01" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="C26D023C-8E2F-4E71-B792-D12FAC543181">
                <File Id="fil23CEF59DB95AE235D97F900F43AE54DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-icons_454545_256x240.png" />
            </Component>
            <Component Id="cmp6BDA0C83F09D1573677FCEA505877CA2" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="5766A560-87C5-4E9F-8FDA-8B8914EF2575">
                <File Id="filDEE7A21F3E45EC654AA2066135DFC9CA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-icons_888888_256x240.png" />
            </Component>
            <Component Id="cmp27D97FE171343F2579BE29CF6547AE18" Directory="dir871531F2576809306498AAFA0991E9B0" Guid="34147EA8-8533-4A05-A54D-FFDCB52B1768">
                <File Id="fil56A0249CE94F9CDA6F9850AC1DFE2F5F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\themes\base\images\ui-icons_cd0a0a_256x240.png" />
            </Component>
            <Component Id="cmp45E9AB95BBBF83F2E1517E70B200C997" Directory="dir12AABB533504A7DC157DD1AE095FA9FD" Guid="5B7C1C3C-3914-447B-8708-EFD3A6C3566E">
                <File Id="filD1C1813AE4A1C4AC38710146326FF6DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\AccountController.vb" />
            </Component>
            <Component Id="cmpFF835357233BD33C8BE6DCB283D88961" Directory="dir12AABB533504A7DC157DD1AE095FA9FD" Guid="2EE038A3-E1C7-49D3-8215-3A851CE39C7F">
                <File Id="fil05950AE1CA0B5D6F47DE3D1A47441DC1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\HomeController.vb" />
            </Component>
            <Component Id="cmp08F896C0F0586EA1A16F3BDA78DCA032" Directory="dir1218BC658309C38B6E3C64C283880974" Guid="2F47A316-0DF1-4CC2-AD63-E77B41BF1205">
                <File Id="fil2A658021D354A367203B8FC6B26B58DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Models\AccountModels.vb" />
            </Component>
            <Component Id="cmp3EC33C4DE86C2DDB8D8BE47DF03CE804" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="69D14A3C-1951-4735-941D-FCD788D07184">
                <File Id="filC0951B2FC77E9F457EC876F29AD5E340" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.Designer.vb" />
            </Component>
            <Component Id="cmpAF23C150022F607D715CE4194A10BFAB" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="BDF9C1B8-3262-4DAF-B6DC-BBB6C9027678">
                <File Id="fil4320BC4D0F924DC02F0E911C92606653" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.myapp" />
            </Component>
            <Component Id="cmpCAB8C670A75E9D27BA202CC6BCB08880" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="C6813B59-F23A-426F-90F0-C3E694503EB5">
                <File Id="fil0F293E58307CACD76898A609BA1466CB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\AssemblyInfo.vb" />
            </Component>
            <Component Id="cmpB64BE4A8CF2683544F07E4D8A9FF7D0C" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="56D61E29-6618-48D3-9FDA-ABF404E3F4F3">
                <File Id="fil13B293E0AFADAFDA883605B5290D0B23" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.Designer.vb" />
            </Component>
            <Component Id="cmp12661516A5A0FD1B5E008CA6BCB3FB6F" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="0E58D30C-97FB-4773-B60C-1579B8BECB33">
                <File Id="filEB11A133C758785ACBA8E6AC96CA4166" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.resx" />
            </Component>
            <Component Id="cmpDAFDEEAF0BD54D99622AA8154A4BF23A" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="93E6384B-C9C3-4E9E-8199-549B78E67859">
                <File Id="fil6ACD75703809B49EF6C0221D7F72C1CF" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.Designer.vb" />
            </Component>
            <Component Id="cmp2D98E7B79B1E6E97AEA69C02562B074C" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="22DE7645-0591-47E5-B8B6-4C3CB2DB6F6C">
                <File Id="fil1DB1CB78B2DA5963B3FA5B3FF32FA238" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.settings" />
            </Component>
            <Component Id="cmp3B094CE2ECF5658284CB2D582221AE9A" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="739A7AAE-3358-4927-A658-30E3AF2C612D">
                <File Id="fil2A151C48FCC32110AABBD2BCD4957E0C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery-1.5.1-vsdoc.js" />
            </Component>
            <Component Id="cmpC54B0A0DBF0362EC3ECCDB0F58638F80" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="22D3736F-7699-4D9F-BA45-DE42299C5246">
                <File Id="fil4788514AFF77E2B06265D18ABDC49230" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery-1.5.1.js" />
            </Component>
            <Component Id="cmpF82A9AE55D5682E1E7547A500C7E9247" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="3123C726-5241-4688-8CB6-77699021C23E">
                <File Id="fil1E542518DCBA89264F16EA454E502586" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery-1.5.1.min.js" />
            </Component>
            <Component Id="cmp8662BF54755A780328E1766B4F2931C7" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="EF46C58F-4858-44C8-BE3B-D18F8D18B142">
                <File Id="fil6F94BF6E19BDD86656A5B48605E6E9C5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery-ui-1.8.11.js" />
            </Component>
            <Component Id="cmpA832BBF33990B09256E0493DA0696E24" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="95830301-0055-492B-909B-61B1C475449A">
                <File Id="fil8F2DCF06682E8B40D874700E13500DC2" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery-ui-1.8.11.min.js" />
            </Component>
            <Component Id="cmp56BA37745080E82E9D000E964939063D" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="4EC820F9-AC3D-4175-B4EF-12D2095CF07A">
                <File Id="fil137C62319EA9AF77A6AC013C360EC1F5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.unobtrusive-ajax.js" />
            </Component>
            <Component Id="cmpB2F1E73CE27312497DA68B0D45057104" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="98B1140A-FD06-4AD6-83A6-02BA0BE94B1A">
                <File Id="fil2D52BBC647EE7BDC2A77EA1699F41C8F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.unobtrusive-ajax.min.js" />
            </Component>
            <Component Id="cmp81EBCBF35DB2381F9701423EFA63409B" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="A9835964-6B3C-461A-8EB2-5FFCF1AECCE3">
                <File Id="fil1EAA5457F1B8D5F6DDDC33D1C0674B71" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.validate-vsdoc.js" />
            </Component>
            <Component Id="cmpC43E8D93B08B1CDEA0A757EAB2D6407F" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="D1958B2F-5596-4C65-954D-5484C8195B77">
                <File Id="filDD8219D3D3C53B8D6100587970F2F952" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.validate.js" />
            </Component>
            <Component Id="cmpCDDAEDA0B57834DE69E1B248FC158B68" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="E1472C25-BBAD-4E28-B192-12427FFB67EE">
                <File Id="fil9C08BCDF356DDFFD947C9760DB6983D1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.validate.min.js" />
            </Component>
            <Component Id="cmp31EEA0EECD7E50D60FB37CEB0235FC03" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="849C875C-7B31-41FB-8D9D-709310229295">
                <File Id="fil69B491DCA51FF74A4432F9CBFFC464DF" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.validate.unobtrusive.js" />
            </Component>
            <Component Id="cmpDFD4D182ED51F7EF694FE486D50BC3F8" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="186A9083-1318-4E75-B2B0-A0FA11A279D9">
                <File Id="filB5C3E5695F9009F6058A57A7692D1BAC" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\jquery.validate.unobtrusive.min.js" />
            </Component>
            <Component Id="cmpD6D652F4698A7503D88D3B3E330F331E" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="AC32BACE-12BE-47C9-8140-C7B1AAEE2998">
                <File Id="fil7255DB9F1458310487F969EDD11F23D3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftAjax.debug.js" />
            </Component>
            <Component Id="cmp3776CB9B4B19AD378F49B727C4AAD658" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="2B79D8B7-545E-4E41-B23A-907A4B36313C">
                <File Id="filCE2E377E70651F8AB54D4D5C0DBCFA67" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftAjax.js" />
            </Component>
            <Component Id="cmp3ED32500D7BC6F450FECA3B704B573D0" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="8BE85BA0-E04F-4781-9B50-04E2BD747508">
                <File Id="fil473DCE3C2A9E7C543CA9B0FF02D4157E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftMvcAjax.debug.js" />
            </Component>
            <Component Id="cmp81C1D3D9921E7368B80E00E607B2C976" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="DAA1367D-796E-41AE-9078-5E46EC4E71CB">
                <File Id="fil9EDCB9C97B845C3645AEBD258FF7AA65" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftMvcAjax.js" />
            </Component>
            <Component Id="cmpA57192EFA0F3C9D1B8040FD68E8A0E57" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="7C1CB426-D625-490F-A4F5-DC8901F560E5">
                <File Id="filC1E6E8F492E0256D100E46A2A3999EBD" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftMvcValidation.debug.js" />
            </Component>
            <Component Id="cmp60387BA185EFCEF3AC296DA6F703CF1E" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="CF3D18D6-A7C8-4961-AB48-FF3BA50A9B96">
                <File Id="fil0B05A2DABF3C0BE197576E9B09A12290" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\MicrosoftMvcValidation.js" />
            </Component>
            <Component Id="cmpB2E31DB0AD93CBE2784AFD517B981A45" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="CD96108C-41F9-4469-915E-720AFC9E9E61">
                <File Id="fil01E5DDE7DE1D449C01C8D0B0E7E0D262" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\modernizr-1.7.js" />
            </Component>
            <Component Id="cmpBDD72C5D1D309F153287D21D62F6CC2B" Directory="dir1246467613ED4F48305EA9F70777736B" Guid="BAADA086-E68A-4F4E-917D-8E5405562839">
                <File Id="fil386533097A18010C7549AFA3E5FC5B23" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Scripts\modernizr-1.7.min.js" />
            </Component>
            <Component Id="cmpBE1539EC7A34B141D2FE84DAC37DDC75" Directory="dir6B2A483915A1F25748ED06690A284619" Guid="3677A46B-C06B-489A-A53E-CF9D40F517C9">
                <File Id="fil2CF166B98F58C1AF5E876021F7AF6789" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Web.config" />
            </Component>
            <Component Id="cmpA01AFE2EDAD5FE41C475A533812E2FD8" Directory="dir6B2A483915A1F25748ED06690A284619" Guid="132C3758-E0B4-41E8-8313-1D8308150164">
                <File Id="filF6B16A148B5BE8A7CB32B89511EDCA61" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\_ViewStart.vbhtml" />
            </Component>
            <Component Id="cmp675EAE2F42BB0462A530D1A07348674C" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="1D8575DF-F8FE-4D76-89B7-1702588AC552">
                <File Id="filC7F5AF4259F4D2EBDF72CF5DD06B0E58" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePassword.vbhtml" />
            </Component>
            <Component Id="cmp73189995267EDBD2930AAA2EE97B85EB" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="8EE21283-EA8C-4B09-8632-180213989360">
                <File Id="filA2B362FE85F95B52EEFF7C980B98D71A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePasswordSuccess.vbhtml" />
            </Component>
            <Component Id="cmp4B5D7CC9B75C50B4A94A5AA2F5133AB1" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="37030DF5-C100-4D90-BBEB-788C41C59E40">
                <File Id="fil7F2B3CC988EA4A54F7C7B80D68CED4CA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\LogOn.vbhtml" />
            </Component>
            <Component Id="cmp5FADF5B30531DB943669CE2FA06AF28A" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="4731D975-21A3-45C3-B10A-EF20416B73E2">
                <File Id="fil6DA2D9ED6723B3603F18E8EFD5256324" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\Register.vbhtml" />
            </Component>
            <Component Id="cmpD68019BD878FC8E6A59489574AC9EE2F" Directory="dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="9E6C365E-D18F-43E4-9825-109FA83061F7">
                <File Id="filE7AA3F6B4EDA5047EBEA06ADB5175907" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\About.vbhtml" />
            </Component>
            <Component Id="cmp94CF75D73B96FB2D9637F83DAAE2D2DB" Directory="dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="E345A77F-D8EA-4D31-A393-06009B9B9960">
                <File Id="filF11AB5AEE2C127A00FF1DBB4AD64DCF5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\Index.vbhtml" />
            </Component>
            <Component Id="cmpCBE71660E60F6650BD67E1277C81AE85" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="425863D8-1A5F-482E-A827-DD3625565A36">
                <File Id="fil6C9804552F60D6E3051A3D43F04C1507" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\Error.vbhtml" />
            </Component>
            <Component Id="cmp39371757F8ED9C159285418920E6D7F1" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="9172EE25-D623-4242-8288-A4097E666E9F">
                <File Id="fil2E9176C03148EC4B982D6127E8E4B3A1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_Layout.vbhtml" />
            </Component>
            <Component Id="cmp5B696C12100A9BC39D9AC0B0CED71192" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="FE071537-D987-4B88-9180-C930EF422E6B">
                <File Id="filCF8AF1B807788F1CDAA49C0DAA968307" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_LogOnPartial.vbhtml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir123F2651D863C0ED5A8B7087AC343AEA" Name="Shared" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir12D50A869CA7D52F7AA656BA3A264F31" Name="Account" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC19C55EB263693016F6E29678F0D6F04">
            <Directory Id="dir871531F2576809306498AAFA0991E9B0" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE384FE96D350C34AAA0E32AA64F2528A">
            <Directory Id="dir123BB3F0821E3CD4B29CDC1FDCB6B9F5" Name="themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir12CCDDD31D59EE6C46CFB7D30061940D" Name="Home" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir123BB3F0821E3CD4B29CDC1FDCB6B9F5">
            <Directory Id="dirC19C55EB263693016F6E29678F0D6F04" Name="base" />
        </DirectoryRef>
    </Fragment>
</Wix>