<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="VS12_VisualBasicMySQLMVC3Project.zip">
            <Directory Id="dirE384FE96D350C34AAA0E32AA64F2528A" Name="Content" />
            <Directory Id="dir12AABB533504A7DC157DD1AE095FA9FD" Name="Controllers" />
            <Directory Id="dir1218BC658309C38B6E3C64C283880974" Name="Models" />
            <Directory Id="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Name="My Project" />
            <Directory Id="dir1246467613ED4F48305EA9F70777736B" Name="Scripts" />
            <Directory Id="dir6B2A483915A1F25748ED06690A284619" Name="Views" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VS12_MvcVisualBasicTemplateDirectoryComponents">
            <Component Id="cmp9D692AB5FEFC0D72AFC6E6814ACBCC09" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="E9ABFE65-342B-41E3-8AD1-52FC60C5C632">
                <File Id="filC010006BCD4EC60AD618B5E014F41E99" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax" />
            </Component>
            <Component Id="cmp38B07BA9DAC2211E1CE718A8914F760F" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="5EC096C3-D68A-4408-A7A9-4C607FB118C9">
                <File Id="fil2D4EE5A143AC21A6C87BF60BA3D4E5E3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax.vb" />
            </Component>
            <Component Id="cmpC018E05F60FB721965672906C877B660" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="D3597F20-A2FE-4738-B40F-EA89F22B496E">
                <File Id="fil7737B100106741CEE35984D63954177C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MvcApplication.vbproj" />
            </Component>
            <Component Id="cmpE748B25BC83513079EC4FFE3995A6A4E" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="5BEA0F7D-3903-4431-A74E-74F1E3E37718">
                <File Id="fil27BF76742D83C763CCF189DBE99FA752" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MyTemplate.vstemplate" />
            </Component>
            <Component Id="cmp0CB7BE0E355EE86C13DFF974D1DA2397" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="A7500D5C-7290-4CF8-AA0D-E8A84C475A94">
                <File Id="fil12807068D49F6F85301394B5D4128E06" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\packages.config" />
            </Component>
            <Component Id="cmpA9B8FE6192ADBDA73C9D2A6C9F5B24D9" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="05BAAA6C-9C5A-4064-85A3-9C08CDBF641E">
                <File Id="filB832EBF390445F4DFBD054EC9DF2DF6A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.config" />
            </Component>
            <Component Id="cmp6CD123353C4F149DE85DDF424C88D5B7" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="B4877507-ED38-436B-915A-2F43AB5678A7">
                <File Id="fil1D6FF993C9DB3733C94245E3C770482D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Debug.config" />
            </Component>
            <Component Id="cmpA46F1EACC6AEC59D7DFDBF49B0AC798B" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="165B3F3F-4E11-4D6B-9184-8CAD153C92CB">
                <File Id="fil983821757C363F69CCDF8CC3A8853F29" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Release.config" />
            </Component>
            <Component Id="cmpDE74FD4FCE4B30702FD1ADA2AD95F963" Directory="VS12_VisualBasicMySQLMVC3Project.zip" Guid="F3F9A313-7F56-4BC1-A911-DED14E4E4E70">
                <File Id="fil5DBCEC1F792365639917C6AEB7E0131C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\__TemplateIcon.ico" />
            </Component>
            <Component Id="cmpBC485FE85D849F81A7EAC23AAB0366B7" Directory="dirE384FE96D350C34AAA0E32AA64F2528A" Guid="47454510-D4CF-495E-B865-8FB0532DE953">
                <File Id="fil3FD3602925E980CC3822E9DCDD3F792F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\Site.css" />
            </Component>
            
            <Component Id="cmp45E9AB95BBBF83F2E1517E70B200C997" Directory="dir12AABB533504A7DC157DD1AE095FA9FD" Guid="5B7C1C3C-3914-447B-8708-EFD3A6C3566E">
                <File Id="filD1C1813AE4A1C4AC38710146326FF6DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\AccountController.vb" />
            </Component>
            <Component Id="cmpFF835357233BD33C8BE6DCB283D88961" Directory="dir12AABB533504A7DC157DD1AE095FA9FD" Guid="2EE038A3-E1C7-49D3-8215-3A851CE39C7F">
                <File Id="fil05950AE1CA0B5D6F47DE3D1A47441DC1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\HomeController.vb" />
            </Component>
            <Component Id="cmp08F896C0F0586EA1A16F3BDA78DCA032" Directory="dir1218BC658309C38B6E3C64C283880974" Guid="2F47A316-0DF1-4CC2-AD63-E77B41BF1205">
                <File Id="fil2A658021D354A367203B8FC6B26B58DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Models\AccountModels.vb" />
            </Component>
            <Component Id="cmp3EC33C4DE86C2DDB8D8BE47DF03CE804" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="69D14A3C-1951-4735-941D-FCD788D07184">
                <File Id="filC0951B2FC77E9F457EC876F29AD5E340" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.Designer.vb" />
            </Component>
            <Component Id="cmpAF23C150022F607D715CE4194A10BFAB" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="BDF9C1B8-3262-4DAF-B6DC-BBB6C9027678">
                <File Id="fil4320BC4D0F924DC02F0E911C92606653" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.myapp" />
            </Component>
            <Component Id="cmpCAB8C670A75E9D27BA202CC6BCB08880" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="C6813B59-F23A-426F-90F0-C3E694503EB5">
                <File Id="fil0F293E58307CACD76898A609BA1466CB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\AssemblyInfo.vb" />
            </Component>
            <Component Id="cmpB64BE4A8CF2683544F07E4D8A9FF7D0C" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="56D61E29-6618-48D3-9FDA-ABF404E3F4F3">
                <File Id="fil13B293E0AFADAFDA883605B5290D0B23" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.Designer.vb" />
            </Component>
            <Component Id="cmp12661516A5A0FD1B5E008CA6BCB3FB6F" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="0E58D30C-97FB-4773-B60C-1579B8BECB33">
                <File Id="filEB11A133C758785ACBA8E6AC96CA4166" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.resx" />
            </Component>
            <Component Id="cmpDAFDEEAF0BD54D99622AA8154A4BF23A" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="93E6384B-C9C3-4E9E-8199-549B78E67859">
                <File Id="fil6ACD75703809B49EF6C0221D7F72C1CF" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.Designer.vb" />
            </Component>
            <Component Id="cmp2D98E7B79B1E6E97AEA69C02562B074C" Directory="dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="22DE7645-0591-47E5-B8B6-4C3CB2DB6F6C">
                <File Id="fil1DB1CB78B2DA5963B3FA5B3FF32FA238" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.settings" />
            </Component>            
            <Component Id="cmpBE1539EC7A34B141D2FE84DAC37DDC75" Directory="dir6B2A483915A1F25748ED06690A284619" Guid="3677A46B-C06B-489A-A53E-CF9D40F517C9">
                <File Id="fil2CF166B98F58C1AF5E876021F7AF6789" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Web.config" />
            </Component>
            <Component Id="cmpA01AFE2EDAD5FE41C475A533812E2FD8" Directory="dir6B2A483915A1F25748ED06690A284619" Guid="132C3758-E0B4-41E8-8313-1D8308150164">
                <File Id="filF6B16A148B5BE8A7CB32B89511EDCA61" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\_ViewStart.vbhtml" />
            </Component>
            <Component Id="cmp675EAE2F42BB0462A530D1A07348674C" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="1D8575DF-F8FE-4D76-89B7-1702588AC552">
                <File Id="filC7F5AF4259F4D2EBDF72CF5DD06B0E58" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePassword.vbhtml" />
            </Component>
            <Component Id="cmp73189995267EDBD2930AAA2EE97B85EB" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="8EE21283-EA8C-4B09-8632-180213989360">
                <File Id="filA2B362FE85F95B52EEFF7C980B98D71A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePasswordSuccess.vbhtml" />
            </Component>
            <Component Id="cmp4B5D7CC9B75C50B4A94A5AA2F5133AB1" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="37030DF5-C100-4D90-BBEB-788C41C59E40">
                <File Id="fil7F2B3CC988EA4A54F7C7B80D68CED4CA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\LogOn.vbhtml" />
            </Component>
            <Component Id="cmp5FADF5B30531DB943669CE2FA06AF28A" Directory="dir12D50A869CA7D52F7AA656BA3A264F31" Guid="4731D975-21A3-45C3-B10A-EF20416B73E2">
                <File Id="fil6DA2D9ED6723B3603F18E8EFD5256324" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\Register.vbhtml" />
            </Component>
            <Component Id="cmpD68019BD878FC8E6A59489574AC9EE2F" Directory="dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="9E6C365E-D18F-43E4-9825-109FA83061F7">
                <File Id="filE7AA3F6B4EDA5047EBEA06ADB5175907" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\About.vbhtml" />
            </Component>
            <Component Id="cmp94CF75D73B96FB2D9637F83DAAE2D2DB" Directory="dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="E345A77F-D8EA-4D31-A393-06009B9B9960">
                <File Id="filF11AB5AEE2C127A00FF1DBB4AD64DCF5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\Index.vbhtml" />
            </Component>
            <Component Id="cmpCBE71660E60F6650BD67E1277C81AE85" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="425863D8-1A5F-482E-A827-DD3625565A36">
                <File Id="fil6C9804552F60D6E3051A3D43F04C1507" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\Error.vbhtml" />
            </Component>
            <Component Id="cmp39371757F8ED9C159285418920E6D7F1" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="9172EE25-D623-4242-8288-A4097E666E9F">
                <File Id="fil2E9176C03148EC4B982D6127E8E4B3A1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_Layout.vbhtml" />
            </Component>
            <Component Id="cmp5B696C12100A9BC39D9AC0B0CED71192" Directory="dir123F2651D863C0ED5A8B7087AC343AEA" Guid="FE071537-D987-4B88-9180-C930EF422E6B">
                <File Id="filCF8AF1B807788F1CDAA49C0DAA968307" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_LogOnPartial.vbhtml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir123F2651D863C0ED5A8B7087AC343AEA" Name="Shared" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir12D50A869CA7D52F7AA656BA3A264F31" Name="Account" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirC19C55EB263693016F6E29678F0D6F04">
            <Directory Id="dir871531F2576809306498AAFA0991E9B0" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE384FE96D350C34AAA0E32AA64F2528A">
            <Directory Id="dir123BB3F0821E3CD4B29CDC1FDCB6B9F5" Name="themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6B2A483915A1F25748ED06690A284619">
            <Directory Id="dir12CCDDD31D59EE6C46CFB7D30061940D" Name="Home" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir123BB3F0821E3CD4B29CDC1FDCB6B9F5">
            <Directory Id="dirC19C55EB263693016F6E29678F0D6F04" Name="base" />
        </DirectoryRef>
    </Fragment>
</Wix>