<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS14_VisualBasicMySQLMVC3Project.zip">
      <Directory Id="vs14dirE384FE96D350C34AAA0E32AA64F2528A" Name="Content" />
      <Directory Id="vs14dir12AABB533504A7DC157DD1AE095FA9FD" Name="Controllers" />
      <Directory Id="vs14dir1218BC658309C38B6E3C64C283880974" Name="Models" />
      <Directory Id="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Name="My Project" />
      <Directory Id="vs14dir1246467613ED4F48305EA9F70777736B" Name="Scripts" />
      <Directory Id="vs14dir6B2A483915A1F25748ED06690A284619" Name="Views" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS14_MvcVisualBasicTemplateDirectoryComponents">
      <Component Id="vs14cmp9D692AB5FEFC0D72AFC6E6814ACBCC09" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="69E4549B-582E-4753-BFE5-FB1A750F0951">
        <File Id="vs14filC010006BCD4EC60AD618B5E014F41E99" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax" />
      </Component>
      <Component Id="vs14cmp38B07BA9DAC2211E1CE718A8914F760F" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="790E38D2-7A5C-49C1-B423-41B40FB959A9">
        <File Id="vs14fil2D4EE5A143AC21A6C87BF60BA3D4E5E3" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Global.asax.vb" />
      </Component>
      <Component Id="vs14cmpC018E05F60FB721965672906C877B660" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="CE0DA751-6E05-49C1-A507-16043DF15646">
        <File Id="vs14fil7737B100106741CEE35984D63954177C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MvcApplication.vbproj" />
      </Component>
      <Component Id="vs14cmpE748B25BC83513079EC4FFE3995A6A4E" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="5CB51FD8-5129-4A46-BE91-9BC08C00CE19">
        <File Id="vs14fil27BF76742D83C763CCF189DBE99FA752" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\MyTemplate.vstemplate" />
      </Component>
      <Component Id="vs14cmp0CB7BE0E355EE86C13DFF974D1DA2397" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="372C6E1A-4D56-4859-B97E-8C241192C9B8">
        <File Id="vs14fil12807068D49F6F85301394B5D4128E06" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\packages.config" />
      </Component>
      <Component Id="vs14cmpA9B8FE6192ADBDA73C9D2A6C9F5B24D9" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="BAB798B7-13EC-47C6-B249-0D8D03ECE65A">
        <File Id="vs14filB832EBF390445F4DFBD054EC9DF2DF6A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.config" />
      </Component>
      <Component Id="vs14cmp6CD123353C4F149DE85DDF424C88D5B7" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="F9D43861-9D11-4655-94DC-D96E53810C43">
        <File Id="vs14fil1D6FF993C9DB3733C94245E3C770482D" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Debug.config" />
      </Component>
      <Component Id="vs14cmpA46F1EACC6AEC59D7DFDBF49B0AC798B" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="13794345-62A1-4D88-9104-316AA033201D">
        <File Id="vs14fil983821757C363F69CCDF8CC3A8853F29" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Web.Release.config" />
      </Component>
      <Component Id="vs14cmpDE74FD4FCE4B30702FD1ADA2AD95F963" Directory="VS14_VisualBasicMySQLMVC3Project.zip" Guid="9C155631-111C-41B5-9DD8-F88A04B780D0">
        <File Id="vs14fil5DBCEC1F792365639917C6AEB7E0131C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\__TemplateIcon.ico" />
      </Component>
      <Component Id="vs14cmpBC485FE85D849F81A7EAC23AAB0366B7" Directory="vs14dirE384FE96D350C34AAA0E32AA64F2528A" Guid="48A74C7F-AB00-4725-AADD-7F196F323225">
        <File Id="vs14fil3FD3602925E980CC3822E9DCDD3F792F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Content\Site.css" />
      </Component>

      <Component Id="vs14cmp45E9AB95BBBF83F2E1517E70B200C997" Directory="vs14dir12AABB533504A7DC157DD1AE095FA9FD" Guid="D7199CED-7D78-4343-8C9B-BBAFBC8BB6A3">
        <File Id="vs14filD1C1813AE4A1C4AC38710146326FF6DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\AccountController.vb" />
      </Component>
      <Component Id="vs14cmpFF835357233BD33C8BE6DCB283D88961" Directory="vs14dir12AABB533504A7DC157DD1AE095FA9FD" Guid="822AA2EA-5312-467F-A11E-45E30B2C9A81">
        <File Id="vs14fil05950AE1CA0B5D6F47DE3D1A47441DC1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Controllers\HomeController.vb" />
      </Component>
      <Component Id="vs14cmp08F896C0F0586EA1A16F3BDA78DCA032" Directory="vs14dir1218BC658309C38B6E3C64C283880974" Guid="FF2D7B76-E5D7-4B0C-A2EF-CE7C8FD80AA0">
        <File Id="vs14fil2A658021D354A367203B8FC6B26B58DA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Models\UserModels.vb" />
      </Component>
      <Component Id="vs14cmp3EC33C4DE86C2DDB8D8BE47DF03CE804" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="5FDC1EB9-C689-4048-A544-C9C67EDABA0B">
        <File Id="vs14filC0951B2FC77E9F457EC876F29AD5E340" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.Designer.vb" />
      </Component>
      <Component Id="vs14cmpAF23C150022F607D715CE4194A10BFAB" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="13BEC4D4-0D96-4F19-868A-0FF7CEE1B44F">
        <File Id="vs14fil4320BC4D0F924DC02F0E911C92606653" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Application.myapp" />
      </Component>
      <Component Id="vs14cmpCAB8C670A75E9D27BA202CC6BCB08880" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="1CC041CB-9628-4C8C-AF3D-482D38750849">
        <File Id="vs14fil0F293E58307CACD76898A609BA1466CB" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\AssemblyInfo.vb" />
      </Component>
      <Component Id="vs14cmpB64BE4A8CF2683544F07E4D8A9FF7D0C" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="D2FF3C6C-5C20-40BC-82EE-D849A593578E">
        <File Id="vs14fil13B293E0AFADAFDA883605B5290D0B23" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.Designer.vb" />
      </Component>
      <Component Id="vs14cmp12661516A5A0FD1B5E008CA6BCB3FB6F" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="952D5E5E-174D-45C9-A42E-E4D5ECC5E01D">
        <File Id="vs14filEB11A133C758785ACBA8E6AC96CA4166" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Resources.resx" />
      </Component>
      <Component Id="vs14cmpDAFDEEAF0BD54D99622AA8154A4BF23A" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="1470F7E6-3B97-4D33-A9EB-E41E8D5B1F93">
        <File Id="vs14fil6ACD75703809B49EF6C0221D7F72C1CF" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.Designer.vb" />
      </Component>
      <Component Id="vs14cmp2D98E7B79B1E6E97AEA69C02562B074C" Directory="vs14dir289DF99ED79FC2D4E3EAA2C9DEE38BE2" Guid="24F3A82A-E65A-41B4-B6C0-B70197B7BE43">
        <File Id="vs14fil1DB1CB78B2DA5963B3FA5B3FF32FA238" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\My Project\Settings.settings" />
      </Component>
      <Component Id="vs14cmpBE1539EC7A34B141D2FE84DAC37DDC75" Directory="vs14dir6B2A483915A1F25748ED06690A284619" Guid="4720FC9C-56B2-4623-AC4A-1DFCAA901357">
        <File Id="vs14fil2CF166B98F58C1AF5E876021F7AF6789" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Web.config" />
      </Component>
      <Component Id="vs14cmpA01AFE2EDAD5FE41C475A533812E2FD8" Directory="vs14dir6B2A483915A1F25748ED06690A284619" Guid="10CB25A7-DBDB-4B57-B870-B7384AB47B58">
        <File Id="vs14filF6B16A148B5BE8A7CB32B89511EDCA61" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\_ViewStart.vbhtml" />
      </Component>
      <Component Id="vs14cmp675EAE2F42BB0462A530D1A07348674C" Directory="vs14dir12D50A869CA7D52F7AA656BA3A264F31" Guid="C0946A96-D4BC-4DA5-8C34-3BC90A3B12FB">
        <File Id="vs14filC7F5AF4259F4D2EBDF72CF5DD06B0E58" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePassword.vbhtml" />
      </Component>
      <Component Id="vs14cmp73189995267EDBD2930AAA2EE97B85EB" Directory="vs14dir12D50A869CA7D52F7AA656BA3A264F31" Guid="F0235B86-7A82-4CFD-BEC0-950B7FEB4D9E">
        <File Id="vs14filA2B362FE85F95B52EEFF7C980B98D71A" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\ChangePasswordSuccess.vbhtml" />
      </Component>
      <Component Id="vs14cmp4B5D7CC9B75C50B4A94A5AA2F5133AB1" Directory="vs14dir12D50A869CA7D52F7AA656BA3A264F31" Guid="B189B715-B48F-4322-B75B-78FA3B8A4535">
        <File Id="vs14fil7F2B3CC988EA4A54F7C7B80D68CED4CA" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\Login.vbhtml" />
      </Component>
      <Component Id="vs14cmp5FADF5B30531DB943669CE2FA06AF28A" Directory="vs14dir12D50A869CA7D52F7AA656BA3A264F31" Guid="E69D8899-086B-4108-98F3-472CD6C3CD83">
        <File Id="vs14fil6DA2D9ED6723B3603F18E8EFD5256324" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Account\CreateUser.vbhtml" />
      </Component>
      <Component Id="vs14cmpD68019BD878FC8E6A59489574AC9EE2F" Directory="vs14dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="015BD72D-0AC5-43B0-9C2F-D95914BF74F2">
        <File Id="vs14filE7AA3F6B4EDA5047EBEA06ADB5175907" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\About.vbhtml" />
      </Component>
      <Component Id="vs14cmp94CF75D73B96FB2D9637F83DAAE2D2DB" Directory="vs14dir12CCDDD31D59EE6C46CFB7D30061940D" Guid="416F13AA-F3CC-43E2-A77D-7BBBBA09416D">
        <File Id="vs14filF11AB5AEE2C127A00FF1DBB4AD64DCF5" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Home\Index.vbhtml" />
      </Component>
      <Component Id="vs14cmpCBE71660E60F6650BD67E1277C81AE85" Directory="vs14dir123F2651D863C0ED5A8B7087AC343AEA" Guid="4D57BA80-AF26-4E16-BC6F-4B228B06E907">
        <File Id="vs14fil6C9804552F60D6E3051A3D43F04C1507" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\Error.vbhtml" />
      </Component>
      <Component Id="vs14cmp39371757F8ED9C159285418920E6D7F1" Directory="vs14dir123F2651D863C0ED5A8B7087AC343AEA" Guid="82B46430-2F2A-4EC3-8713-CF61C17D95ED">
        <File Id="vs14fil2E9176C03148EC4B982D6127E8E4B3A1" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_Layout.vbhtml" />
      </Component>
      <Component Id="vs14cmp5B696C12100A9BC39D9AC0B0CED71192" Directory="vs14dir123F2651D863C0ED5A8B7087AC343AEA" Guid="4816DDA7-F0A0-48D7-9F37-E168B89EA8C8">
        <File Id="vs14filCF8AF1B807788F1CDAA49C0DAA968307" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ProjectTemplates\VisualBasic\MySQL\MySQL MVC 3 Project.zip\Views\Shared\_LoginPartial.vbhtml" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dir6B2A483915A1F25748ED06690A284619">
      <Directory Id="vs14dir123F2651D863C0ED5A8B7087AC343AEA" Name="Shared" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dir6B2A483915A1F25748ED06690A284619">
      <Directory Id="vs14dir12D50A869CA7D52F7AA656BA3A264F31" Name="Account" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dirC19C55EB263693016F6E29678F0D6F04">
      <Directory Id="vs14dir871531F2576809306498AAFA0991E9B0" Name="images" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dirE384FE96D350C34AAA0E32AA64F2528A">
      <Directory Id="vs14dir123BB3F0821E3CD4B29CDC1FDCB6B9F5" Name="themes" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dir6B2A483915A1F25748ED06690A284619">
      <Directory Id="vs14dir12CCDDD31D59EE6C46CFB7D30061940D" Name="Home" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="vs14dir123BB3F0821E3CD4B29CDC1FDCB6B9F5">
      <Directory Id="vs14dirC19C55EB263693016F6E29678F0D6F04" Name="base" />
    </DirectoryRef>
  </Fragment>
</Wix>