<?xml version="1.0" encoding="UTF-8"?>
<?define vsRegPath = "8.0$(var.rootSuffix)" ?>
<?if $(var.rootSuffix) = ""?>
<?define vsCmdLine = "/setup" ?>
<?else?>
<?define vsCmdLine = "/rootsuffix $(var.rootSuffix) /setup" ?>
<?endif?>
<!-- false -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name='MySQL Tools for Visual Studio 1.1' Id='43DC5FF6-F904-405c-B506-EA999BC56296'
           Language='1033' Codepage='1252' Version='1.1.2' Manufacturer='MySQL AB' 
           UpgradeCode='6B95212E-6B2E-4d6d-B0BF-F9E17D3D0F9F'>

    <Package Keywords='MySQL Visual Studio Tools' 
        Description='Tools for using MySQL that integrate into Visual Studio' 
        Manufacturer='MySQL AB' InstallerVersion='200' Languages='1033' Compressed='yes' 
        SummaryCodepage='1252' />
    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[ Privileged  ]]>
    </Condition>
    <Property Id="ARPURLINFOABOUT" Value="http://www.mysql.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://dev.mysql.com"/>
    <Media Id='1' Cabinet='MySQLVisualStudio.cab' EmbedCab='yes'/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Component Id='RegistryValues' Guid='688DCD1A-5A94-4c86-A35D-535D82D648E6'>

        <!--Datasource registration section-->
        <RegistryKey Id='DataSource' Root='HKLM'
                     Key='Software\Microsoft\VisualStudio\$(var.vsRegPath)\DataSources\{98FBE4D8-5583-4233-B219-70FF8C7FBBBD}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='DSDefaultValue' Type='string' Value='MySQL Database'/>
          <RegistryKey Id='DSSupportingProviders' Key='SupportingProviders' Action='create'>
            <RegistryKey Id='DSProvider' Key='{C6882346-E592-4da5-80BA-D2EADCDA0359}' Action='create'>
              <RegistryValue Id='DSDesc' Name='Description' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
              <RegistryValue Id='DSDisplayName' Name='DisplayName' Value='Datasource_Displayname, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
        
        <!--Provider registration section-->
        <RegistryKey Id='DataProviders' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\DataProviders\{C6882346-E592-4da5-80BA-D2EADCDA0359}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='DPDefaultValue' Type='string' Value='.NET Framework Data Provider for MySQL'/>
          <RegistryValue Id='DPDisplayName' Name='DisplayName' Type='string' Value='Provider_DisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='DPShortDisplayName' Name='ShortDisplayName' Type='string' Value='Provider_ShortDisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='DPDescription' Name='Description' Type='string' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='FactoryService' Name='FactoryService' Type='string' Value='{D949EA95-EDA1-4b65-8A9E-266949A99360}'/>
          <RegistryValue Id='InvariantName' Name='InvariantName' Type='string' Value='MySql.Data.MySqlClient'/>
          <RegistryKey Id='SupportedObjects' Key='SupportedObjects' Action='create'>
            <RegistryKey Id='SupportedObjects1' Key='DataConnectionPromptDialog' Action='create'/>
            <RegistryKey Id='SupportedObjects2' Key='DataConnectionProperties' Action='create'/>
            <RegistryKey Id='SupportedObjects3' Key='DataConnectionSupport' Action='create'/>
            <RegistryKey Id='SupportedObjects4' Key='DataConnectionUIControl' Action='create'/>
            <RegistryKey Id='SupportedObjects5' Key='DataObjectSupport' Action='create'/>
            <RegistryKey Id='SupportedObjects6' Key='DataSourceInformation' Action='create'/>
            <RegistryKey Id='SupportedObjects7' Key='DataViewSupport' Action='create'/>
          </RegistryKey>
        </RegistryKey> 
        
        <!--Menu section-->
        <RegistryValue Id='Menu' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\Menus' Type='string'
                     Name='{79A115C9-B133-4891-9E7B-242509DAD272}' Value=',1000,1' Action='write'/>

        <!--Service section-->
        <RegistryKey Id='Services' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\Services\{D949EA95-EDA1-4b65-8A9E-266949A99360}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='ServicesDefault' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
          <RegistryValue Id='ServicesName' Name='Name' Value='MySQL Provider Object Factory' Type='string'/>
        </RegistryKey>
        
        <!--Installed Products section-->
        <RegistryKey Id='InstalledProducts' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\InstalledProducts\[ProductName]'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='IPDefault' Value='[ProductName]' Type='string'/>
          <RegistryValue Id='IPPackage' Name='Package' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
          <RegistryValue Id='IPUI' Name='UseInterface' Value='1' Type='integer'/>
        </RegistryKey>

        <!--Package section-->
        <RegistryKey Id='Packages' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\Packages\{79A115C9-B133-4891-9E7B-242509DAD272}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='PackagesDefault' Value='[ProductName]' Type='string'/>
          <RegistryValue Id='PackInProc' Name='InprocServer32' Value='[WindowsFolder]system32\mscoree.dll' Type='string'/>
          <RegistryValue Id='PackClass' Name='Class' Value='MySql.Data.VisualStudio.MySqlDataProviderPackage' Type='string'/>
          <RegistryValue Id='PackCodeBase' Name='CodeBase' Value='[INSTALLDIR]MySql.VisualStudio.dll' Type='string'/>
          <RegistryValue Id='PackProdName' Name='ProductName' Value='MySQL Tools for Visual Studio' Type='string'/>
          <RegistryValue Id='PackVer' Name='ProductVersion' Value='1.1' Type='string'/>
          <RegistryValue Id='PackComp' Name='CompanyName' Value='MySQL AB c/o MySQL, Inc.' Type='string'/>
          <RegistryValue Id='PackMin' Name='MinEdition' Value='standard' Type='string'/>
          <RegistryValue Id='PackId' Name='ID' Value='100' Type='integer'/>
        </RegistryKey>
      </Component>

      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='MySQL' Name='MySQL'>
          <Directory Id='INSTALLDIR' Name='Tools for Visual Studio'>
            <Component Id='Library' Guid='F4FB4A84-3AE0-48fb-8D7A-73C2047A2AA3'>
              <File Id='MySQL.VisualStudio' Name='MySQL.VisualStudio.dll' DiskId='1' Source='MySQL.VisualStudio.dll' />
              <File Id='MySql.VisualStudio.dll.config' Name='MySql.VisualStudio.dll.config' DiskId='1' Source='MySql.VisualStudio.dll.config' />
              <File Id='Release_notes.doc' Name='Release notes.doc' DiskId='1' Source='Release notes.doc' />
              <File Id='Register.reg' Name='Register.reg' DiskId='1' Source='Register.reg' />
            </Component>
            <Merge Id='HELP' Language='1033' DiskId='1' SourceFile='..\MySql.VisualStudio.HelpSetup\bin\MySql.VisualStudio.HelpSetup.msm'/>
            <Merge Id='HELPREG' Language='0' DiskId='1' SourceFile='HTML_Help_Registration__RTL_X86_---.msm'/>
            <Merge Id='VSIPREG' Language='0' DiskId='1' SourceFile='VSIPCC_Collection_Files_RTL_---_---.msm'/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' ConfigurableDirectory='INSTALLDIR' Level='1'>
      <ComponentRef Id='RegistryValues' />
      <ComponentRef Id='Library' />
      <MergeRef Id='HELP'/>
      <MergeRef Id='HELPREG'/>
      <MergeRef Id='VSIPREG'/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/BannrBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/DlgBmp.bmp"/>

    <Property Id='DEVENVINSTALLDIR'>
      <RegistrySearch Id='VSInstallDir' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\$(var.vsRegPath)\Setup\VS' 
          Name='EnvironmentPath' Type='raw'/>
    </Property>

    <CustomAction Id="DevenvSetup" ExeCommand='$(var.vsCmdLine)' Property="DEVENVINSTALLDIR"/>

    <InstallExecuteSequence>
      <!--Rebuild command table-->
    <!--  <Custom Action='DevenvSetup' After='InstallFinalize' /> -->
      <!--It is necessary to reorder actions for correct help installation-->      
      <!--CreateShortcuts after InstallFiles-->
      <CreateShortcuts Sequence='4100'/>
      <!--RegisterComPlus after WriteRegistryValues-->
      <RegisterComPlus Sequence='5200'/>
      <!--InstallServices after RegisterComPlus-->
      <InstallServices Sequence='5300' />
    </InstallExecuteSequence>

  </Product>
</Wix>
