<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS11_CS_Web_ItemTemplate.zip" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS11_CS_Web_ItemTemplate_DirectoryComponents">
      <Component Id="VS11_CS_Web_IT" Directory="VS11_CS_Web_ItemTemplate.zip" Guid="7d44847c-6575-4c49-8b89-9417e8dc5653">
        <File Id="VS11_CS_Web_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_Web.zip\MySQL_Web_ItemTemplate.vstemplate" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>