<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS12_CS_Web_ItemTemplate.zip" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS12_CS_Web_ItemTemplate_DirectoryComponents">
      <Component Id="vs12_CS_Web_IT" Directory="VS12_CS_Web_ItemTemplate.zip" Guid="9516AC61-ECC3-4E66-825A-EA050F34855F">
        <File Id="vs12_CS_Web_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_Web.zip\MySQL_Web_ItemTemplate.vstemplate" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>