<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS14_CS_Web_ItemTemplate.zip" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS14_CS_Web_ItemTemplate_DirectoryComponents">
      <Component Id="VS14_CS_Web_IT" Directory="VS14_CS_Web_ItemTemplate.zip" Guid="81e1fed4-39b9-4708-b9ec-a408ef917ebc">
        <File Id="VS14_CS_Web_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_Web.zip\MySQL_Web_ItemTemplate.vstemplate" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>