<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS14_VB_Web_ItemTemplate.zip" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS14_VB_Web_ItemTemplate_DirectoryComponents">
      <Component Id="VS14_VB_Web_IT" Directory="VS14_VB_Web_ItemTemplate.zip" Guid="f1ba4e8a-e20c-4879-b10d-fd04eec4ce73">
        <File Id="VS14_VB_Web_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\VisualBasic\MySQL\MySQL_VB_Web.zip\MySQL_Web_VB_ItemTemplate.vstemplate" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>