<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS16_Ent_CS_WinForm_ItemTemplate.zip" >
      <Directory Id="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Name="Resources" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS16_Ent_CS_WinForm_ItemTemplate_DirectoryComponents">
      <Component Id="VS16_Ent_CS_WF_IT" Directory="VS16_Ent_CS_WinForm_ItemTemplate.zip" Guid="87068EB5-925F-4907-9367-BE59F9691661">
        <File Id="VS16_Ent_CS_WF_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\MySQL_WinForm_ItemTemplate.vstemplate" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmp67AF18D1EADC6AF483088F5647F30ACE" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="6446F12B-F5CC-4F34-B9B2-9B3CBEAA456C">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_fil5F41CE2508EF28C6486E372862A65836" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorAddNewItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmpCCE194072C5D13ABA66267E7586BE818" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="3B6129A5-9F35-4CFE-91BB-688A38CB47D3">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_filCCCCD5DF3AA4F218AB111DB0CFAB4438" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorDeleteItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmp05FB4B67016AE4FA4532B6A712DEC9BF" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="9C2A6FBA-B881-45D2-AE04-090ADC92D5D8">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_fil1504DDF368288F41CC4A84128FEC385F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveFirstItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmp61FD8D7898B0647AC8D6C0C86B27BA68" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="D0FF9EE5-83D0-478F-904B-BB7F6964C09C">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_filFF5A420C179DB8AB6964CEA4B0F3BE5C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveLastItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmpC593E576C55FBC7E9EF2E009BD8FA751" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="27AFB35B-EF7E-4D88-A49D-1C23891BAEAB">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_filA08E32847B0C02BDBF2BDD41519BE269" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveNextItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmp862812777E9DE1B1B2BDA21B015B468E" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="D79E8658-7F46-4FFC-99FD-565B8E029115">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_filE832F31B8BC1E073E048D7895615677E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMovePreviousItem.Image.png" />
      </Component>
      <Component Id="VS16_Ent_CS_WinForm_ItemTemplate_cmp5FBAE016E0D5F06492A5638E085A2A21" Directory="VS16_Ent_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="90C35F57-2269-4D2C-A46A-B938CDB41D50">
        <File Id="VS16_Ent_CS_WinForm_ItemTemplate_filBFB0EC4E7805778EB6708C8710E0CF9E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorSaveItem.Image.png" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>