<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS16_Ent_CS_Web_ItemTemplate.zip" />
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS16_Ent_CS_Web_ItemTemplate_DirectoryComponents">
      <Component Id="VS16_Ent_CS_Web_IT" Directory="VS16_CS_Web_ItemTemplate.zip" Guid="2E174EDE-4138-41B9-A6D0-3A97E98770F0">
        <File Id="VS16_Ent_CS_Web_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_Web.zip\MySQL_Web_ItemTemplate.vstemplate" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>