<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS16_CS_WinForm_ItemTemplate.zip" >
      <Directory Id="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Name="Resources" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS16_CS_WinForm_ItemTemplate_DirectoryComponents">
      <Component Id="VS16_CS_WF_IT" Directory="VS16_CS_WinForm_ItemTemplate.zip" Guid="AA7934E1-37E4-4BC2-806E-D4C179121892">
        <File Id="VS16_CS_WF_IT_VsTemplate" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\MySQL_WinForm_ItemTemplate.vstemplate" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmp67AF18D1EADC6AF483088F5647F30ACE" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="EA5F3780-D831-42ED-9C08-96ACB168EEAD">
        <File Id="VS16_CS_WinForm_ItemTemplate_fil5F41CE2508EF28C6486E372862A65836" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorAddNewItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmpCCE194072C5D13ABA66267E7586BE818" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="E5A11221-E7F9-4A1B-BC7F-DE758D675171">
        <File Id="VS16_CS_WinForm_ItemTemplate_filCCCCD5DF3AA4F218AB111DB0CFAB4438" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorDeleteItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmp05FB4B67016AE4FA4532B6A712DEC9BF" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="C56CF6F0-7EC4-4481-A267-3237EBFA97F9">
        <File Id="VS16_CS_WinForm_ItemTemplate_fil1504DDF368288F41CC4A84128FEC385F" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveFirstItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmp61FD8D7898B0647AC8D6C0C86B27BA68" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="8BAE76DA-86A9-441B-AC19-A219B231F9E6">
        <File Id="VS16_CS_WinForm_ItemTemplate_filFF5A420C179DB8AB6964CEA4B0F3BE5C" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveLastItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmpC593E576C55FBC7E9EF2E009BD8FA751" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="0535C1E9-E1E9-43B7-8BC4-15890E188053">
        <File Id="VS16_CS_WinForm_ItemTemplate_filA08E32847B0C02BDBF2BDD41519BE269" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMoveNextItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmp862812777E9DE1B1B2BDA21B015B468E" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="FC09116E-9F97-4622-A0B9-14779C62045D">
        <File Id="VS16_CS_WinForm_ItemTemplate_filE832F31B8BC1E073E048D7895615677E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorMovePreviousItem.Image.png" />
      </Component>
      <Component Id="VS16_CS_WinForm_ItemTemplate_cmp5FBAE016E0D5F06492A5638E085A2A21" Directory="VS16_CS_WinForm_ItemTemplate_6E8D3B7215BF9A7193BEBF636375B3C1" Guid="81547E59-B88C-40F0-A687-27D349A56E15">
        <File Id="VS16_CS_WinForm_ItemTemplate_filBFB0EC4E7805778EB6708C8710E0CF9E" KeyPath="yes" Source="..\Source\MySql.VisualStudio\ItemTemplates\CSharp\MySQL\MySQL_WinForm.zip\Resources\bindingNavigatorSaveItem.Image.png" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>