<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="user" value="reggie"/>
    <add key="password" value="reggie"/>
    <add key="nopassuser" value="nopass"/>
    <!--		<add key="otherkeys" value="protocol=memory"/>-->
  </appSettings>
</configuration>