<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <profile defaultProvider="MySqlProfileProvider">
      <providers>
        <clear/>
        <add name="MySqlProfileProvider" connectionStringName="LocalMySqlServer" 
             applicationName="/" type="MySql.Web.Profile.MySQLProfileProvider, mysql.web, Version=5.2.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </providers>
      <properties>
        <add name="Name"/>
        <add name="FavoriteColors" type="System.Collections.Specialized.StringCollection, system, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" serializeAs ="Xml"/>
        <add name="Weight" type="System.Int32"/>
				<add name="BirthDate" type="System.DateTime"/>
        <add name="HasDefault" type="System.String" defaultValue="mydefault"/>
        <add name="ReadOnly" type="System.Int32" readOnly ="true"/>
        <!--<add name="StudentInfo" type="StudentInfo" serializeAs="Binary"/>-->
      </properties>
    </profile>
  </system.web>
</configuration>
