<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="server=localhost;uid=root;database=test;pooling=false"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider"/>
        <add name="MySQLMembershipProvider" 
             type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=5.1.3, Culture=neutral, PublicKeyToken=c5687fc88969c44d" 
             connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" 
             enablePasswordReset="true" requiresQuestionAndAnswer="true" 
             applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" 
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" 
             minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" 
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
  </system.web>
</configuration>