<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost" />
    <add key="user" value="test" />
    <add key="password" value="test" />
    <add key="database" value="sakila" />
    <add key="port" value="3357" />
    <add key="xunit.shadowCopy" value="false" />
    <add key="xunit.appDomain" value="required" />
    <add key="xunit.maxParallelThreads" value="1" />
  </appSettings>
</configuration>