<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='CFFragment'>
    <DirectoryRef Id='assemblies_v2'>
      <Component Id="CFBinaries" Guid="5a9c32ad-62f5-4b24-a225-96acf42d88a1">
        <File Id="cf1" Name="MySql.Data.CF.dll"
              Source="..\VS2008\Source\mysql.data.cf\bin\release\mysql.data.CF.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id='CompactFramework' Display='9' Level='1' Title='Compact Framework Support'
             Description='Support for .NET Compact Framework 2.0'>
      <ComponentRef Id='CFBinaries'/>
    </Feature>

  </Fragment>
</Wix>


