<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id='CoreFragment'>

    <!-- Top level junk - readme, changelog, etc -->
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="BaseFiles" Guid="2448b1b1-f2ec-4153-96c6-bcaae7692ef9" DiskId="1">
        <File Id="ChangeLog" Name="CHANGES" Source="..\CHANGES" />
        <File Id="RelNotes" Name="Release Notes.txt" Source="..\Release Notes.txt" />
        <?if $(var.IsGPL) = 1 ?>
        <File Id="README1" Name="README" Source="..\README" DiskId="1"/>
        <File Id="LICENSE" Name="LICENSE" Source="..\LICENSE" DiskId="1"/>
        <?else?>
        <File Id="README2" Name="README" Source="..\README-Commercial" DiskId="1"/>
        <File Id="LICENSE2" Name="LICENSE" Source="..\LICENSE-Commercial" DiskId="1"/>
        <?endif?>
       </Component>
       
         
       <Component Id="AddRegistryValuesForProduct" Guid="*" DiskId="1">        
         <RegistryKey Id="MySqlKey" Root="HKLM" Key="Software\MySQL AB" ForceCreateOnInstall="yes" >
          <RegistryKey Id="MySqlVSKey" Key="MySQL for Visual Studio"  ForceDeleteOnUninstall="yes" >
            <RegistryValue Id="Location" Name="Location" Value="[INSTALLDIR]" Type="string"/>
            <RegistryValue Id="Version" Name="Version" Value="$(var.Version)" Type="string"/>
          </RegistryKey>
        </RegistryKey>
       </Component>
      
      
      <!-- Until we have installers for both 32 & 64 bit platforms, we deal with registry redirection with dual keys -->
      <!--
      <Component Id="RegistryInstallFlag64" Guid="3C4E556B-2815-405C-8701-14E9A1584D67" DiskId="1">        
          <Condition>NOT(%PROCESSOR_ARCHITECTURE = "x86")</Condition>
          <RegistryKey Id="MySqlKey64" Root="HKLM" Action="createAndRemoveOnUninstall"
                      Key="Software\Wow6432Node\MySQL AB\MySQL for Visual Studio">
            <RegistryValue Id="Location64" Name="Location" Value="[INSTALLDIR]" Type="string"/>
            <RegistryValue Id="Version64" Name="Version" Value="$(var.Version)" Type="string"/>
          </RegistryKey>
      </Component>
      <Component Id="RegistryInstallFlag32" Guid="6D3FD584-DAD2-42D6-9D59-D0D127A72724" DiskId="1">
        <Condition>%PROCESSOR_ARCHITECTURE = "x86"</Condition>
        <RegistryKey Id="MySqlKey" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="Software\MySQL AB\MySQL for Visual Studio">
          <RegistryValue Id="Location" Name="Location" Value="[INSTALLDIR]" Type="string"/>
          <RegistryValue Id="Version" Name="Version" Value="$(var.Version)" Type="string"/>
        </RegistryKey>
      </Component>
      -->
    </DirectoryRef>
    
    <!-- Dependencies with mysqldump -->
    <DirectoryRef Id='Dependencies'>
      <Component Id="MySqldumpx86" Guid="C66D3DF6-A151-4F29-B388-A9803C89131D" >
        <File Id="MySqldumpx86File" Name="mysqldump.exe"
              Source="..\Dependencies\MySql\mysqldump.exe" DiskId="1"/>
        <RemoveFile Id="MySqldumpx86File" Name="mysqldump.exe" On="uninstall"/>
      </Component>
      <Component Id="Libeay32" Guid="415B798F-9B11-4BC9-BE09-9B9EB31E45E0" >
        <File Id="libeay32File" Name="libeay32.dll"
              Source="..\Dependencies\MySql\libeay32.dll" DiskId="1"/>
        <RemoveFile Id="Libeay32File" Name="libeay32.dll" On="uninstall"/>
      </Component>
      <Component Id="Ssleay32" Guid="1FB3BE11-0C4C-4653-A975-48D1A4361FBE" >
        <File Id="Ssleay32File" Name="ssleay32.dll"
              Source="..\Dependencies\MySql\ssleay32.dll" DiskId="1"/>
        <RemoveFile Id="Ssleay32File" Name="ssleay32.dll" On="uninstall"/>
      </Component>
      <Component Id="MySql.VisualStudio.Updater" Guid="8A408C68-2496-4F74-A496-DC3D5C720F1A" >
        <File Id="MySql.VisualStudio.UpdaterFile" Name="MySql.VisualStudio.Updater.exe"
              Source="..\Dependencies\MySql\MySql.VisualStudio.Updater.exe" DiskId="1"/>
        <RemoveFile Id="MySql.VisualStudio.UpdaterFile" Name="MySql.VisualStudio.Updater.exe" On="uninstall"/>
      </Component>
      <Component Id="MySql.VisualStudio.CustomAction" Guid="63B25D69-8519-4AD0-BFEA-008885E572AF" >
        <File Id="MySql.VisualStudio.CustomActionFile" Name="MySql.VisualStudio.CustomAction.dll"
              Source="..\Dependencies\MySql\MySql.VisualStudio.CustomAction.dll" DiskId="1"/>
        <RemoveFile Id="MySql.VisualStudio.CustomAction" Name="MySql.VisualStudio.CustomAction.dll" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <!-- Start menu junk -->
    <DirectoryRef Id='ShortCutDir'>
      <Component Id="StartMenuComponent" Guid="C56D3DF6-A151-4F29-B388-A9803C89131A">
        <CreateFolder/>
        <!-- Clear ICE18 error -->
        <Shortcut Id="S100" Name="Documentation" Description="Complete documentation for [ProductName]"
                  Target="[DocsDir]/MySql.Data.chm" Directory="ShortCutDir" />
        <Shortcut Id="S101" Name="ChangeLog" Description="Complete changelog for [ProductName]"
                  Directory="ShortCutDir" Icon="ChangeLogIcon" Target="[INSTALLDIR]/CHANGES"/>
        <Shortcut Id="S102" Name="Release Notes" Description="Release notes"
                  Directory="ShortCutDir" Target="[INSTALLDIR]/Release Notes.txt"/>
        <RemoveFolder Id="RemoveShortCutDir" Directory="ShortCutDir" On="uninstall"/>
      </Component>      
      <Component Id="PerfMon" Guid="27A03933-72F0-45DB-9468-6FCA354D232E">
        <util:PerformanceCategory Id="PMDataCategoryId" Name=".NET Data Provider for MySQL"
                                  MultiInstance="no" Help="This category includes a series of counters for MySQL.">
          <util:PerformanceCounter Name="HardProcedureQueries" Type="numberOfItems32" Help="The number of times a procedures metadata had to be queried from the server." />
          <util:PerformanceCounter Name="SoftProcedureQueries" Type="rateOfCountsPerSecond32" Help="The number of times a procedures metadata was retrieved from the client-side cache." />
        </util:PerformanceCategory>
      </Component>
    </DirectoryRef>

    <Feature Id="Core.Feature" Level="1" Title="Core Components" Description="Core Components"
              ConfigurableDirectory ="INSTALLDIR" Absent="disallow" Display="2">
      <ComponentRef Id="BaseFiles"/>
      <ComponentRef Id="AddRegistryValuesForProduct"/>
      <!--
      <ComponentRef Id="RegistryInstallFlag64"/>
      <ComponentRef Id="RegistryInstallFlag32"/> -->
      <ComponentRef Id="PerfMon"/>
      <ComponentRef Id="MySqldumpx86"/>
      <ComponentRef Id="Libeay32"/>
      <ComponentRef Id="Ssleay32"/>
      <ComponentRef Id="MySql.VisualStudio.Updater"/>
      <ComponentRef Id="MySql.VisualStudio.CustomAction"/>
      <ComponentRef Id="StartMenuComponent"/>
    </Feature>

    <InstallExecuteSequence>
      <!-- v2 custom action scheduling -->
      <!-- none -->
    </InstallExecuteSequence>

    <!--MaintenanceMode = "Modify" OR MaintenanceMode = "Repair"-->

    <!-- Custom Actions -->
    <!-- none -->
  </Fragment>
</Wix>


