<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id='CoreFragment'>

    <!-- Top level junk - readme, changelog, etc -->
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="BaseFiles" Guid="2448b1b1-f2ec-4153-96c6-bcaae7692ef9" DiskId="1">
        <File Id="ChangeLog" Name="CHANGES" Source="..\CHANGES" />
        <File Id="RelNotes" Name="Release Notes.txt" Source="..\Release Notes.txt" />
        <?if $(var.IsGPL) = 1 ?>
        <File Id="COPYING" Name="COPYING" Source="..\COPYING" DiskId="1" />
        <File Id="README1" Name="README" Source="..\README" DiskId="1"/>
	      <?else?>
        <File Id="README2" Name="README" Source="..\README-Commercial" DiskId="1"/>
        <File Id="License.MYSQL" Name="License.MYSQL" Source="..\License.MYSQL" DiskId="1"/>
        <?endif?>
        <RegistryKey Id="MySqlKey" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="Software\MySQL AB\MySQL Connector/Net">
          <RegistryValue Id="Location" Name="Location" Value="[INSTALLDIR]" Type="string"/>
          <RegistryValue Id="Version" Name="Version" Value="$(var.Version)" Type="string"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- .Net 2.0 Binaries -->
    <DirectoryRef Id='assemblies_v2'>
      <Component Id="C.v2" Guid="0e8af006-273c-49bb-b7c1-ec1737260a5a">
        <File Id="MySql.Data.v2" Name="MySql.Data.dll"
              Source="..\mysql.data\provider\bin\release\mysql.data.dll" DiskId="1"/>

        <RemoveFile Id="RemoveStateFile.v2" Name="*.InstallState" On="uninstall"/>

      </Component>
      <Directory Id="MySql.Data.DummyDir.2" Name="GAC">
        <Component Id="C.v2.GAC" Guid="58f70e4a-96f7-4b67-bdab-9b77a60f9c09">
          <Condition>NETFRAMEWORK20</Condition>
          <File Id="MySql.Data.v2.GAC" Name="MySql.Data.dll"
                Source="..\mysql.data\provider\bin\release\mysql.data.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- .Net 4.0 Binaries -->
    <DirectoryRef Id='assemblies_v4'>
      <Component Id="C.v4" Guid="C66D3DF6-A151-4F29-B388-A9803C89131A">
        <File Id="MySql.Data.v4" Name="MySql.Data.dll"
              Source="..\mysql.data\provider\bin\release-4.0\mysql.data.dll" DiskId="1"/>

        <RemoveFile Id="RemoveStateFile.v4" Name="*.InstallState" On="uninstall"/>

      </Component>
      <Directory Id="MySql.Data.DummyDir.4" Name="GAC">
        <Component Id="C.v4.GAC" Guid="34B6C828-355D-405F-82BC-F18BBC13871D">
          <Condition>NETFRAMEWORK40FULL</Condition>
          <File Id="MySql.Data.v4.GAC" Name="MySql.Data.dll"
                Source="..\mysql.data\provider\bin\release-4.0\mysql.data.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
        </Component>
      </Directory>
    </DirectoryRef>

    <!-- Start menu junk -->
    <DirectoryRef Id='ShortCutDir'>
      <Component Id="StartMenuComponent" Guid="31e1c7c6-e06d-4214-82ca-58e67e5232e2">
        <CreateFolder/>
        <!-- Clear ICE18 error -->
        <Shortcut Id="S100" Name="Documentation" Description="Complete documentation for the connector"
					Target="[DocsDir]/MySql.Data.chm" Directory="ShortCutDir" />
        <Shortcut Id="S101" Name="ChangeLog" Description="Complete changelog for the connector"
                  Directory="ShortCutDir" Icon="ChangeLogIcon" Target="[INSTALLDIR]/CHANGES"/>
        <Shortcut Id="S102" Name="Release Notes" Description="Release notes"
                  Directory="ShortCutDir" Target="[INSTALLDIR]/Release Notes.txt"/>
      </Component>
      <Component Id="PerfMon" Guid="27A03933-72F0-45DB-9468-6FCA354D232E">
        <util:PerformanceCategory Id="PMDataCategoryId" Name=".NET Data Provider for MySQL"
                                  MultiInstance="no" Help="This category includes a series of counters for MySQL.">
          <util:PerformanceCounter Name="HardProcedureQueries" Type="numberOfItems32" Help="The number of times a procedures metadata had to be queried from the server." />
          <util:PerformanceCounter Name="SoftProcedureQueries" Type="rateOfCountsPerSecond32" Help="The number of times a procedures metadata was retrieved from the client-side cache." />
        </util:PerformanceCategory>
      </Component>
    </DirectoryRef>

    <Feature Id="Core.Feature" Level="1" Title="Core Components" Description="Core Components"
             ConfigurableDirectory ="INSTALLDIR" Absent="disallow" Display="2">
      <ComponentRef Id="BaseFiles"/>
      <ComponentRef Id="C.v2"/>
      <ComponentRef Id="C.v2.GAC"/>
      <ComponentRef Id="C.v4"/>
      <ComponentRef Id="C.v4.GAC"/>
      <ComponentRef Id="PerfMon"/>
      <ComponentRef Id="StartMenuComponent"/>
    </Feature>

    <InstallExecuteSequence>
      <!-- v2 custom action scheduling -->
      <Custom Action='Setv4InstallUtil' After='InstallValidate'>NETFRAMEWORK40FULL</Custom>
      <Custom Action='ManagedDataInstallSetup' After="InstallFiles">NOT Installed</Custom>
      <Custom Action='ManagedDataInstall' After="ManagedDataInstallSetup">NOT Installed</Custom>
      <Custom Action='ManagedDataUnInstallSetup' Before="RemoveFiles">Installed</Custom>
      <Custom Action='ManagedDataUnInstall' After="ManagedDataUnInstallSetup">Installed</Custom>
    </InstallExecuteSequence>

    <!-- Custom Actions -->
    <CustomAction Id="Setv4InstallUtil" Property="InstallUtil" Value="c:\windows\microsoft.net\framework\v4.0.30319"/>
    <CustomAction Id="ManagedDataInstallSetup" Property="ManagedDataInstall"
                  Value='"[InstallUtil]\installUtil.exe" /LogToConsole=false /LogFile=  "[#MySql.Data.v2]"'/>
    <CustomAction Id='ManagedDataUnInstallSetup' Property="ManagedDataUnInstall"
                  Value='"[InstallUtil]\installUtil.exe" /LogToConsole=false /LogFile= /u "[#MySql.Data.v2]"'/>
    <CustomAction Id="ManagedDataInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
    <CustomAction Id="ManagedDataUnInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
  </Fragment>
</Wix>


