<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
    <UI Id="CustomDialogs">
      <Dialog Id="RegisterGACAndStartMenu" Width="370" Height="270" Title="$(loc.SetupTypeDlg_Title)">
        <Control Id="Checkbox1" Type="CheckBox" X="18" Y="108" Width="348" Height="12" Property="REGISTERGAC" CheckBoxValue="1">
          <Text>Register Connector/Net in the Global Assembly Cache</Text>
        </Control>
        <Control Id="Checkbox2" Type="CheckBox" X="18" Y="132" Width="348" Height="12" Property="CREATESTARTMENU" CheckBoxValue="1">
          <Text>Create Start Menu Items</Text>
        </Control>
        <Control Id="Checkbox3" Type="CheckBox" X="18" Y="156" Hidden="yes" Width="348" Height="12" Property="INTEGRATEHELP" CheckBoxValue="1">
          <Text>Integrate Help Into Visual Studio .NET</Text>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="$(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="CustomizeDlg">WixUI_InstallMode = "InstallCustom"</Publish>
          <Publish Event="NewDialog" Value="SetupTypeDlg">WixUI_InstallMode = "InstallTypical"</Publish>
          <Publish Event="NewDialog" Value="SetupTypeDlg">WixUI_InstallMode = "InstallComplete"</Publish>
          <Publish Event="NewDialog" Value="CustomizeDlg">WixUI_InstallMode = "Change"</Publish>
          <Publish Event="NewDialog" Value="MaintenanceTypeDlg">WixUI_InstallMode = "Repair"</Publish>
          <Publish Event="NewDialog" Value="MaintenanceTypeDlg">WixUI_InstallMode = "Remove"</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="$(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg"><![CDATA[1]]></Publish>
		</Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="$(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="$(loc.SetupTypeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Final Setup Options" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Select the options you want from the list below." />
      </Dialog>
    </UI>

	<!-- link in our custom dialog -->
	<CustomAction Id="RGSM1" Property='WixUI_SetupTypeDlg_NextTypical' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM2" Property='WixUI_SetupTypeDlg_NextComplete' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM3" Property='WixUI_CustomizeDlg_Next' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM4" Property='WixUI_VerifyReadyDlg_BackCustom' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM5" Property='WixUI_VerifyReadyDlg_BackTypical' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM6" Property='WixUI_VerifyReadyDlg_BackComplete' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM7" Property='WixUI_VerifyReadyDlg_BackChange' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM8" Property='WixUI_VerifyReadyDlg_BackRepair' Value='RegisterGACAndStartMenu' />
	<CustomAction Id="RGSM9" Property='WixUI_VerifyReadyDlg_BackRemove' Value='RegisterGACAndStartMenu' />

	<InstallUISequence>
		<Custom Action="RGSM1" Sequence="1"/>
		<Custom Action="RGSM2" Sequence="1"/>
		<Custom Action="RGSM3" Sequence="1"/>
		<Custom Action="RGSM4" Sequence="1"/>
		<Custom Action="RGSM5" Sequence="1"/>
		<Custom Action="RGSM6" Sequence="1"/>
		<Custom Action="RGSM7" Sequence="1"/>
		<Custom Action="RGSM8" Sequence="1"/>
		<Custom Action="RGSM9" Sequence="1"/>
	</InstallUISequence>
	
	</Fragment>
</Wix>