<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='EntityFramework'>    

    <DirectoryRef Id="VS10_DBGenDir">
      <Component Id="EF.T4.VS10" Guid="6555D339-120C-4D62-B60C-08764D8CA739">
        <Condition>VS_2010_PATH</Condition>
        <File Id="VS10.SSDLToMySQL" Name="SSDLToMySQL.tt" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\SSDLToMySQL.tt"/>
        <File Id="VS10.GenerateMySQL.Utility" Name="GenerateMySQL.Utility.ttinclude" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\GenerateMySQL.Utility.ttinclude"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS11_DBGenDir">
      <Component Id="EF.T4.VS11" Guid="6555D339-120C-4D62-B60C-08764D8CA740">
        <Condition>VS_2012_PATH</Condition>
        <File Id="VS11.SSDLToMySQL" Name="SSDLToMySQL.tt" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\SSDLToMySQL.tt"/>
        <File Id="VS11.GenerateMySQL.Utility" Name="GenerateMySQL.Utility.ttinclude" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\GenerateMySQL.Utility.ttinclude"/>
      </Component>
    </DirectoryRef>

    <Feature Id="EntityFramework" Level="1" Title="Entity Framework Support"
             Description="Support for the entity framework">
      <Condition Level='0'>Not NETFRAMEWORK20 AND Not NETFRAMEWORK40FULL</Condition>      
      <ComponentRef Id="EF.T4.VS10"/>
      <ComponentRef Id="EF.T4.VS11"/>
    </Feature>
  </Fragment>
</Wix>


