<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='EntityFramework'>
    <DirectoryRef Id='assemblies_v2'>
      <Component Id="EF.v2" Guid="AB734C75-F5DC-491e-A2BC-52D5061881B7" DiskId="1">        
        <File Id="MySql.Data.EF" Name="MySql.Data.Entity.dll"
              Source="..\Dependencies\v2.0\Release\mysql.data.entity.dll" DiskId="1"/>        
      </Component>     
    </DirectoryRef>

    <!-- Entity framework 4.0 feature -->
    <DirectoryRef Id='assemblies_v4'>
      <Component Id="EF.v4" Guid="E6B683F6-727A-43c9-B955-6BEE94EF61C7" DiskId="1">        
        <File Id="MySql.Data.EF.v4" Name="MySql.Data.Entity.dll"
              Source="..\Dependencies\v4.0\Release\mysql.data.entity.dll" DiskId="1"/>
      </Component>   
    </DirectoryRef>

    <DirectoryRef Id='VS10_PublicAssemblies'>
      <Component Id="EF.PA.v4" Guid="E6B683F6-727A-43c9-B955-6BEE94EF61C8" DiskId="1">
        <File Id="MySql.EF.PA.v4" Name="MySql.Data.Entity.dll"
              Source="..\Dependencies\v4.0\Release\mysql.data.entity.dll" DiskId="1"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS10_DBGenDir">
      <Component Id="EF.T4.VS10" Guid="6555D339-120C-4D62-B60C-08764D8CA739">
        <Condition>VS_2010_PATH</Condition>
        <File Id="VS10.SSDLToMySQL" Name="SSDLToMySQL.tt" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\SSDLToMySQL.tt"/>
        <File Id="VS10.GenerateMySQL.Utility" Name="GenerateMySQL.Utility.ttinclude" DiskId="1"
               Source="..\Source\MySql.VisualStudio\T4Templates\GenerateMySQL.Utility.ttinclude"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="VS11_DBGenDir">
      <Component Id="EF.T4.VS11" Guid="6555D339-120C-4D62-B60C-08764D8CA740">              
        <File Id="VS11.SSDLToMySQL" Name="SSDLToMySQL.tt" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\SSDLToMySQL.tt"/>
        <File Id="VS11.GenerateMySQL.Utility" Name="GenerateMySQL.Utility.ttinclude" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\GenerateMySQL.Utility.ttinclude"/>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id='VS11_PublicAssemblies'>
      <Component Id="EF.PA11.v4" Guid="E6B683F6-727A-43c9-B955-6BEE94EF61C9" DiskId="1">
        <File Id="MySql.EF.PA11.v4" Name="MySql.Data.Entity.dll"
              Source="..\Dependencies\v4.0\Release\mysql.data.entity.dll" DiskId="1"/>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id="VS12_DBGenDir">
      <Component Id="EF.T4.VS12" Guid="6555D339-120C-4D62-B60C-08764D8CA741">
        <File Id="VS12.SSDLToMySQL" Name="SSDLToMySQL.tt" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\VS2013\SSDLToMySQL.tt"/>
        <File Id="VS12.GenerateMySQL.Utility" Name="GenerateMySQL.Utility.ttinclude" DiskId="1"
              Source="..\Source\MySql.VisualStudio\T4Templates\VS2013\GenerateMySQL.Utility.ttinclude"/>
      </Component>
    </DirectoryRef>

    
    <DirectoryRef Id='VS12_PrivateAssemblies'>
      <Component Id="EF.PA12.v45" Guid="E6B683F6-727A-43c9-B955-6BEE94EF61C1" DiskId="1">
        <File Id="MySql.EF.PA12.v45" Name="MySql.Data.Entity.EF6.dll"
              Source="..\Dependencies\v4.5\Release\mysql.data.entity.EF6.dll" DiskId="1"/>
      </Component>
    </DirectoryRef>

      <Feature Id="EntityFramework2010" Level="1" Display="expand" Title="Entity Framework Support for VS 2010"
                 Description="Support for the entity framework">      
      <Condition Level='0'>Not VS_2010_PATH AND Not Installed</Condition>
      <ComponentRef Id="EF.T4.VS10"/>
      <ComponentRef Id="EF.PA.v4"/>
      <ComponentRef Id="EF.v2"/>
      <ComponentRef Id="EF.v4"/>
    </Feature>
    

    <Feature Id="EntityFramework2012" Level="1" Display="expand" Title="Entity Framework Support for VS 2012"
                 Description="Support for the entity framework">
    <Condition Level='0'>Not VS_2012_PATH AND Not Installed</Condition>
    <ComponentRef Id="EF.T4.VS11"/>    
    <ComponentRef Id="EF.PA11.v4"/>
    </Feature>

    <Feature Id="EntityFramework2013" Level="1" Display="expand" Title="Entity Framework Support for VS 2013"
               Description="Support for the entity framework">
      <Condition Level='0'>Not VS_2013_PATH AND Not Installed</Condition>
      <ComponentRef Id="EF.T4.VS12" />
      <ComponentRef Id="EF.PA12.v45"/>
    </Feature>
    
    
    
  </Fragment>
</Wix>


