<?xml version="1.0" encoding="utf-8"?>
<?define ProductVersion="5.0.2"?>
<?define ProductName="MySQL Connector Net $(var.ProductVersion)"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product Id="E9E76B08-5DCB-47d4-B8FD-B8B0FD51932F" Name="$(var.ProductName)" Manufacturer="MySQL" Version="$(var.ProductVersion)" Language="1033">

		<Package Id="B1855AEF-1ACC-4c06-AEF8-A6BDCD651598" Compressed="yes" InstallerVersion="200" Languages="1033" SummaryCodepage="1252" />
		
		<Media Id="1" EmbedCab="yes" Cabinet="ConnectorNet.cab" CompressionLevel="high" />

		<!-- Our directory structure -->
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='CompanyDir' Name='MySQL'>
					<Directory Id='INSTALLDIR' Name='Con$(var.ProductVersion)' LongName='$(var.ProductName)'>
						<Directory Id='Binaries' Name='Binaries'>
							<Directory Id='BinNet20' Name='NET20' LongName='.NET 2.0'/>
							<Directory Id='BinNet11' Name='NET11' LongName='.NET 1.1'/>
							<Directory Id='BinNet10' Name='NET10' LongName='.NET 1.0'/>
							<Directory Id='Mono10' Name='MONO10' LongName='Mono 1.0'/>
						</Directory>
						<Directory Id='DocsDir' Name='Docs' LongName='Documentation'/>
						<Directory Id='SourceDir' Name='Source'/>
						<Directory Id='SampleDir' Name='Samples'/>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="PMFolder">
				<Directory Id='PMCompanyDir' Name='MySQL'>
					<Directory Id="ShortCutDir" Name="SCutDir" LongName="$(var.ProductName)"/>
				</Directory>
			</Directory>
		</Directory>

		<!-- Top level junk - readme, changelog, etc -->
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id="BaseComponents" Guid="EDA8C4DA-432F-4eb5-AED4-A057C2B95BDC" DiskId="1">
				<File Id="ChangeLog" Name="CLog" LongName="CHANGES" src="..\CHANGES" />
				<File Id="RelNotes" Name="RelNotes" LongName="Release Notes.txt" src="..\Release Notes.txt" />
				<?if $(var.IsGPL) = true ?>
				<File Id="EXCEPTIONS" Name="EXC" LongName="EXCEPTIONS" src="..\EXCEPTIONS" DiskId="1"/>
				<File Id="COPYING" Name="COPY" LongName="COPYING" src="..\COPYING" DiskId="1" />
				<?endif?>
				<File Id="README1" Name="README" src="..\README" DiskId="1"/>
				<Registry Id="LocKey" Root="HKLM" Key="Software\MySQL AB\MySQL Connector/Net $(var.ProductVersion)" Name="Location" Type="string" Value="[TARGETDIR]"/>
				<Registry Id="VerKey" Root="HKLM" Key="Software\MySQL AB\MySQL Connector/Net $(var.ProductVersion)" Name="Version" Type="string" Value="$(var.ProductVersion)"/>
			</Component>
		</DirectoryRef>
			
		<!-- .Net 2.0 Binaries -->
		<DirectoryRef Id='BinNet20'>
			<Component Id="Net20" Guid="BA887AEB-53F3-4a54-AEEF-1E31C58EF0E5">
				<File Id="CoreBin20" Name="MD20" LongName="MySql.Data.dll" src="..\mysqlclient\bin\net-2.0\$(var.build)\mysql.data.dll" DiskId="1"  />
				<File Id="CoreBin20Config" Name="mdconfig" LongName="CustomAction.config" src="CustomAction.config" DiskId="1"/>
				<Registry Id="vs80registry" Root="HKLM" Key="Software\Microsoft\VisualStudio\8.0\AssemblyFolders\MySQL Connector Net $(var.ProductVersion)" Type="string" KeyPath="yes" Value="[TARGETDIR]bin\.NET 2.0\" />
			</Component>
			<Component Id="GAC20" DiskId="1" Guid="36FCD23F-7319-40ba-9B1C-5C5DDE16C439">
				<Condition><![CDATA[REGISTERGAC="1"]]></Condition>
				<File Id="CoreBin20GAC" Name="MD20" LongName="MySql.Data.dll" src="..\mysqlclient\bin\net-2.0\$(var.build)\mysql.data.dll" Assembly=".net" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Start menu junk -->
		<DirectoryRef Id='ShortCutDir'>
			<Component Id="StartMenuComponent" Guid="E7943593-5115-425c-BD1F-8D341CC50590">
				<Condition><![CDATA[CREATESTARTMENU="1"]]></Condition>
				<Shortcut Id="S100" Name="Docs" LongName="Documentation" 
					Description="Complete documentation for the connector" 
					Target="[#CoreCHM]" Directory="ShortCutDir" /> 
				<Shortcut Id="S101" Name="Changes" LongName="ChangeLog" 
					Description="Complete changelog for the connector" Directory="ShortCutDir" 
					Icon="ChangeLogIcon" Target="[#ChangeLog]"/>
				<Shortcut Id="S102" Name="Release" LongName="Release Notes" 
					Description="Release notes" Directory="ShortCutDir" Target="[#RelNotes]"/>
			</Component>
		</DirectoryRef>		

		<DirectoryRef Id='DocsDir'>
			<Component Id="Docs" Guid="4F9C3D2F-86C3-44b3-A00B-030DDD2D24D6">
				<File Id="CoreCHM" Name="Docs" LongName="MySql.Data.chm" src="..\doc\MySql.Data.chm" DiskId="1" />
			</Component>
		</DirectoryRef>
		
		<Feature Id="CoreComponents" Level="1" Title="Core Components" Description="Core Desc" Display="hidden">
			<ComponentRef Id="BaseComponents"/>
			<ComponentRef Id="StartMenuComponent"/>
		</Feature>
		
		<Feature Id="SupportedAssemblies" Level="1" Title="Supported Frameworks" 
			ConfigurableDirectory="INSTALLDIR" Absent="disallow"
			Description="Frameworks that will be supported.">
				<Feature Id="FeatureNet10" Level='0' Title=".NET 1.0">
					<!--<ComponentRef Id="Net10"/>-->
					<!--<ComponentRef Id="GACFiles10"/>-->
				</Feature>
				<Feature Id="FeatureNet11" Level='0' Title=".NET 1.1">
					<!--<ComponentRef Id="Net11"/>-->
					<!--<ComponentRef Id="GACFiles11"/>-->
				</Feature>
				<Feature Id="FeatureNet20" Level='1' Title=".NET 2.0">
					<ComponentRef Id="Net20"/>
					<ComponentRef Id="GAC20"/>
				</Feature>
		</Feature>

		<Feature Id='DocsFeature' Level='1' Title='Documentation' Description='Documentation'>
			<ComponentRef Id='Docs'/>
		</Feature>

		<FeatureRef Id="Samples"/>
		<FeatureRef Id="Sources"/>

		<Property Id="WIXUI_INSTALLDIR" Value='INSTALLDIR'/>
		<UIRef Id="WixUI_Mondo"/>
		<UIRef Id="CustomDialogs"/>

		<Icon Id="ChangeLogIcon" src="Bitmaps\document.ico"/>

		<!-- custom actions for performing machine.config mods -->
		<Binary Id="InstallUtil" src="InstallUtilLib.dll" />
		<CustomAction Id="CustomInstall" BinaryKey="InstallUtil" DllEntry="ManagedInstall" Execute="deferred" />
		<CustomAction Id="InstallSetProp" Property="CustomInstall" Value="/installtype=notransaction /action=install /LogFile= &quot;[#CoreBin20]&quot; &quot;[#CoreBin20Config]&quot;" />
		<CustomAction Id="CustomUninstall" BinaryKey="InstallUtil" DllEntry="ManagedInstall" Execute="deferred" />
		<CustomAction Id="UninstallSetProp" Property="CustomUninstall" Value="/installtype=notransaction /action=uninstall /LogFile= &quot;[#CoreBin20]&quot; &quot;[#CoreBin20Config]&quot;" />

		<InstallExecuteSequence>
			<Custom Action="InstallSetProp" After="InstallFiles">NOT Installed</Custom>
			<Custom Action="CustomInstall" After="InstallSetProp">NOT Installed</Custom>

			<Custom Action="UninstallSetProp" After="ProcessComponents">Installed</Custom>
			<Custom Action="CustomUninstall" After="UninstallSetProp">Installed</Custom>
		</InstallExecuteSequence>
  </Product>
</Wix>



