<?xml version="1.0" encoding="utf-8"?>
<?define ProductName="MySQL Connector Net $(var.Version)"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Manufacturer="Oracle" Version="$(var.Version)"
           UpgradeCode="7454FE1E-BB5B-49DF-BBC7-27B15FB13B7E" Language="1033">
    <Package Compressed="yes" InstallerVersion="200" InstallScope="perMachine"/>

    <Upgrade Id="7454FE1E-BB5B-49DF-BBC7-27B15FB13B7E">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.Version)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Maximum="$(var.Version)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="yes" />
    </Upgrade>
    
    <Property Id="ARPURLINFOABOUT" Value="http://www.mysql.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://dev.mysql.com"/>

    <Media Id="1" EmbedCab="yes" Cabinet="ConnectorNet.cab" CompressionLevel="high" />

    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[ Privileged  ]]>
    </Condition>

    <!-- First make sure that .NET is installed -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="The .NET Framework 2.0 or 4.0 must be installed before installing this package.">Installed OR NETFRAMEWORK20 OR NETFRAMEWORK40FULL</Condition>

    <!-- now make sure that we don't have an old version still around -->
    <Property Id="OLDVERSION">
      <RegistrySearch Id="Ver5081" Key="Software\MySQL AB\MySQL Connector/Net 5.0.8.1" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver507" Key="Software\MySQL AB\MySQL Connector/Net 5.0.7" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver506" Key="Software\MySQL AB\MySQL Connector/Net 5.0.6" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver505" Key="Software\MySQL AB\MySQL Connector/Net 5.0.5" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver504" Key="Software\MySQL AB\MySQL Connector/Net 5.0.4" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver503" Key="Software\MySQL AB\MySQL Connector/Net 5.0.3" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver502" Key="Software\MySQL AB\MySQL Connector/Net 5.0.2" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver501" Key="Software\MySQL AB\MySQL Connector/Net 5.0.1" Name="Location" Root="HKLM" Type="raw"/>
      <RegistrySearch Id="Ver500" Key="Software\MySQL AB\MySQL Connector/Net 5.0.0" Name="Location" Root="HKLM" Type="raw"/>
    </Property>
    <Condition Message="A previous version of Connector/Net 5.0 or higher is already installed.  Please uninstall that version first.">Not OLDVERSION</Condition>

    <!-- now make sure that we don't have an old version that doesn't support upgrades -->
    <Property Id="PREUPGRADEVERSION">
      <RegistrySearch Id="Pre638" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\{5FD88490-011C-4df1-B886-F298D955171B}" Name="DisplayVersion" Root="HKLM" Type="raw"/>
    </Property>
    <Condition Message="A previous version of Connector/Net 6.3 or higher is already installed.  Please uninstall that version first.">Not PREUPGRADEVERSION</Condition>
        
    <Property Id="HLM_LOCATION">
      <RegistrySearch Id="HLMRegSearch" Root="HKLM" Key="Software\Microsoft\Help\v1.0" Name="AppRoot" Type="raw"/>
    </Property>
    
    <!-- Our directory structure -->
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='CompanyDir' Name='MySQL'>
          <Directory Id='INSTALLDIR' Name='$(var.ProductName)'>
            <Directory Id='AssembliesDir' Name='Assemblies'>
              <Directory Id='assemblies_v2' Name='v2.0'/>
              <Directory Id='assemblies_v4' Name='v4.0'/>
            </Directory>
            <Directory Id='VSIntegrationDir' Name='Visual Studio Integration'>
              <Directory Id='VSTemplatesDir' Name='Templates'/>
              <Directory Id='VS2008Integration' Name='2005 and 2008'/>
              <Directory Id='VS2010Integration' Name='2010'/>
            </Directory>
            <Directory Id='DocsDir' Name='Documentation'>
              <Directory Id='LicensesDir' Name='Licenses for Third-Party Components'/>
            </Directory>
            <Directory Id='SampleDir' Name='Samples'/>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMFolder">
        <Directory Id='PMCompanyDir' Name='MySQL'>
          <Directory Id="ShortCutDir" Name="$(var.ProductName)"/>
        </Directory>
      </Directory>

      <!-- Install the T4 DDL creation templates -->
      <Directory Id="VS_2010_PATH" Name="VSPath">
        <Directory Id="Entity.T4.ExtensionDir" Name="Extensions">
          <Directory Id="Entity.T4.OracleDir" Name="Microsoft">
            <Directory Id="Entity.T4.EFToolsDir" Name="Entity Framework Tools">
              <Directory Id="Entity.T4.DBGenDir" Name="DBGen"/>
            </Directory>
          </Directory>
          <Directory Id="OracleVSExtensionsDir" Name="Oracle">
            <Directory Id="CNetVSExtensionDir" Name="MySQL Connector Net ">
              <Directory Id="CNetVerVSExtensionDir" Name="$(var.Version)">
                <Directory Id='VS2010TemplatesDir' Name='Templates'/>
	            </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

    </Directory>

    <DirectoryRef Id='DocsDir'>
      <Component Id="Docs" Guid="8f9d25c7-1eba-4391-b764-eb1f7d39243e">
        <File Id="CoreCHM" Name="MySql.Data.chm" Source="..\Documentation\Output\MySql.Data.chm" DiskId="1" />
        <File Id="docs2" Name="COL_Master.HxC" Source="..\Documentation\CollectionFiles\COL_Master.HxC" DiskId="1"/>
        <File Id="docs3" Name="COL_Master.HxT" Source="..\Documentation\CollectionFiles\COL_Master.HxT" DiskId="1"/>
        <File Id="docs4" Name="COL_Master_A.HxK" Source="..\Documentation\CollectionFiles\COL_Master_A.HxK" DiskId="1"/>
        <File Id="docs5" Name="COL_Master_F.HxK" Source="..\Documentation\CollectionFiles\COL_Master_F.HxK" DiskId="1"/>
        <File Id="docs6" Name="COL_Master_K.HxK" Source="..\Documentation\CollectionFiles\COL_Master_K.HxK" DiskId="1"/>
        <File Id="docs7" Name="COL_Master_N.HxK" Source="..\Documentation\CollectionFiles\COL_Master_N.HxK" DiskId="1"/>
        <File Id="docs8" Name="MySql.Data.HxS" Source="..\Documentation\Output\MySql.Data.HxS" DiskId="1"/>
        <File Id="H2Reg.ini" Name="help.cmd" Source="Binary\h2reg.ini" DiskId="1"/>
        <File Id="MSHA_File" Name="HelpContentSetup.msha" Source="..\Documentation\Output\MySql.Data.msha" DiskId="1"/>
        <File Id="MSHC_File" Name="MySql.Data.mshc" Source="..\Documentation\Output\MySql.Data.mshc" DiskId="1"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LicensesDir">
      <Component Id="Licenses" Guid="F1314965-1B59-4c0f-B168-5DFAA4EB35BC">
        <File Id="SecureHash" Name="license-us-secure-hash.html" Source="..\Documentation\Licenses for Third-Party Components\license-us-secure-hash.html" DiskId="1"/>
        <File Id="Zlib" Name="license-zlib.html" Source="..\Documentation\Licenses for Third-Party Components\license-zlib.html" DiskId="1"/>
        <File Id="Zlib.net" Name="license-zlib-net.html" Source="..\Documentation\Licenses for Third-Party Components\license-zlib-net.html" DiskId="1"/>
      </Component>
    </DirectoryRef>
    
    <Feature Id='DocsFeature' Display='4' Level='1' Title='Documentation' Description='Documentation'>
      <ComponentRef Id='Docs'/>
      <ComponentRef Id='Licenses'/>
    </Feature>

    <FeatureRef Id='Core.Feature'/>
    <FeatureRef Id="WebProviders"/>
    <FeatureRef Id="CompactFramework"/>
    <FeatureRef Id="EntityFramework"/>
    <Feature Id='VSIntegration' Level='1' Display='10'
             Title='Visual Studio Integration' Description='DDEX and Server Explorer Integration'>
      <FeatureRef Id='VS2005Int'/>
      <FeatureRef Id='VS2008Int'/>
      <FeatureRef Id='VS2010Int'/>
    </Feature>
    <FeatureRef Id="Samples"/>

    <Binary Id="H2Reg" SourceFile="Binary\H2Reg.exe"/>
    <Property Id="WIXUI_INSTALLDIR" Value='INSTALLDIR'/>
    
    <!-- Remove the license agreement dialog -->
    <UIRef Id='WixUI_MySQL'/>
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/BannrBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/DlgBmp.bmp"/>
    <WixVariable Id="WixUICostingPopupOptOut" Value="true"/>

    <Icon Id="ChangeLogIcon" SourceFile="Bitmaps\document.ico"/>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      
      <Custom Action='RegisterHelp' After="InstallFiles">(&amp;DocsFeature=3) AND NOT(!DocsFeature=3)</Custom>
      <Custom Action="UnRegisterHelp" Before="RemoveFiles">(&amp;DocsFeature=2) AND (!DocsFeature=3)</Custom>

      <Custom Action="SetHLMPath" After="AppSearch"></Custom>
      <!--<Custom Action="Register2010Help" After="PublishProduct">HLM_LOCATION AND (&amp;DocsFeature=3) AND NOT(!DocsFeature=3)</Custom>
      <Custom Action="UnRegister2010Help" After="RemoveFiles">HLM_LOCATION AND (&amp;DocsFeature=2) AND (!DocsFeature=3)</Custom>-->
      
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERVERSIONDETECTED</Custom>
    </InstallExecuteSequence>

    <!-- Custom actions for VS2005/VS2008 help -->
    <CustomAction Id="RegisterHelp" ExeCommand='-r -q CmdFile="[#H2Reg.ini]"' BinaryKey="H2Reg" Execute="deferred" Return="check" Impersonate="no"/>
    <CustomAction Id="UnRegisterHelp" ExeCommand='-u -q CmdFile="[#H2Reg.ini]"' BinaryKey="H2Reg" Execute="deferred" Return="check" Impersonate="no"/>

    <!-- custom actions for VS2010 help -->
    <CustomAction Id="SetHLMPath" Property="HelpLibManager" Value="[HLM_LOCATION]HelpLibManager.exe"/>
    <CustomAction Id="Register2010Help"
                  ExeCommand ='/product VS /version 100 /locale en-us /brandingPackage Dev10.mshc /sourceMedia "[#MSHA_File]"'
                  Property='HelpLibManager' Return='check'/>
    <CustomAction Id="UnRegister2010Help"
                  ExeCommand ='/product VS /version 100 /locale en-us /uninstall /silent /vendor "Oracle" /mediaBookList "MySQL Connector/Net" /productName "MySQL Connector/Net" > NUL'
                  Property='HelpLibManager' Return='check'/>
    
    <!-- Setup should not continue is a newer version is installed. -->
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed. Setup will now exit.' />
  </Product>
</Wix>



