<?xml version="1.0"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Fragment Id='SourceFragment'>
    <DirectoryRef Id='SourceDir'>
      <Component Id="TopLevelSrc" Guid="0b171095-b9cb-4bab-8c0e-4b8e8247bfe0">
        <File Id="nantFile" Name="client.bld" LongName="client.build" src="..\client.build" DiskId="1"/>
        <File Id="sln2005" Name="MySql5.sln" LongName="MySqlClient.2005.sln" src="..\MySQLClient.2005.sln" DiskId="1"/>
        <File Id="sln2003" Name="MySql3.sln" LongName="MySqlClient.2003.sln" src="..\MySQLClient.2003.sln" DiskId="1"/>
      </Component>
      <Directory Id="clientFolder" Name="msc" LongName="MySqlClient">
        <Component Id="ClientSrc" DiskId="1" Guid="14ffe0b2-329f-4981-ab1c-1d099ec958fa">
          <File Id="file0" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="..\mysqlclient\AssemblyInfo.cs" />
          <File Id="file1" Name="CHARSE_1.CS" LongName="CharSetMap.cs" src="..\mysqlclient\CharSetMap.cs" />
          <File Id="file2" Name="command.cs" src="..\mysqlclient\command.cs" />
          <File Id="file3" Name="COMMAN_1.CS" LongName="CommandBuilder.cs" src="..\mysqlclient\CommandBuilder.cs" />
          <File Id="file4" Name="COMPRE_1.CS" LongName="CompressedStream.cs" src="..\mysqlclient\CompressedStream.cs" />
          <File Id="file5" Name="CONNEC_1.CS" LongName="Connection.cs" src="..\mysqlclient\Connection.cs" />
          <File Id="file6" Name="Crypt.cs" src="..\mysqlclient\Crypt.cs" />
          <File Id="file7" Name="DATAAD_1.CS" LongName="dataadapter.cs" src="..\mysqlclient\dataadapter.cs" />
          <File Id="file8" Name="DATARE_1.CS" LongName="datareader.cs" src="..\mysqlclient\datareader.cs" />
          <File Id="file10" Name="Driver.cs" src="..\mysqlclient\Driver.cs" />
          <File Id="file11" Name="EXCEPT_1.CS" LongName="Exception.cs" src="..\mysqlclient\Exception.cs" />
          <File Id="file12" Name="Field.cs" src="..\mysqlclient\Field.cs" />
          <File Id="file14" Name="ISSCHE_1.CS" LongName="ISSchemaProvider.cs" src="..\mysqlclient\ISSchemaProvider.cs" />
          <File Id="file15" Name="Logger.cs" src="..\mysqlclient\Logger.cs" />
          <File Id="file17" Name="MYSQLD_2.CSP" LongName="MySql.Data.2005.csproj" src="..\mysqlclient\MySql.Data.2005.csproj" />
          <File Id="file42" Name="MYSQLD_3.CSP" LongName="MySql.Data.2003.csproj" src="..\mysqlclient\MySql.Data.2003.csproj" />
          <File Id="file18" Name="MYSQLC_1.CS" LongName="MySqlClientFactory.cs" src="..\mysqlclient\MySqlClientFactory.cs" />
          <File Id="file19" Name="MYSQLC_2.CS" LongName="MySqlConnectionStringBuilder.cs" src="..\mysqlclient\MySqlConnectionStringBuilder.cs" />
          <File Id="file20" Name="MYSQLD_1.CS" LongName="MysqlDefs.cs" src="..\mysqlclient\MysqlDefs.cs" />
          <File Id="file21" Name="MYSQLE_1.CS" LongName="MySqlError.cs" src="..\mysqlclient\MySqlError.cs" />
          <File Id="file22" Name="MYSQLH_1.CS" LongName="MySqlHelper.cs" src="..\mysqlclient\MySqlHelper.cs" />
          <File Id="file23" Name="MYSQLP_1.CS" LongName="MySqlPool.cs" src="..\mysqlclient\MySqlPool.cs" />
          <File Id="file24" Name="MYSQLP_2.CS" LongName="MySqlPoolManager.cs" src="..\mysqlclient\MySqlPoolManager.cs" />
          <File Id="file43" Name="MySqlP_3.cs" LongName="MySqlPromotableTransaction.cs" src="..\mysqlclient\MySqlPromotableTransaction.cs" />
          <File Id="file25" Name="MYSQLS_1.CS" LongName="MySqlStream.cs" src="..\mysqlclient\MySqlStream.cs" />
          <File Id="file26" Name="NATIVE_1.CS" LongName="NativeDriver.cs" src="..\mysqlclient\NativeDriver.cs" />
          <File Id="file27" Name="PARAME_1.CS" LongName="parameter.cs" src="..\mysqlclient\parameter.cs" />
          <File Id="file28" Name="PARAME_2.CS" LongName="parameter_collection.cs" src="..\mysqlclient\parameter_collection.cs" />
          <File Id="file29" Name="PERFOR_1.CS" LongName="PerformanceMonitor.cs" src="..\mysqlclient\PerformanceMonitor.cs" />
          <File Id="file30" Name="PREPAR_1.CS" LongName="PreparableStatement.cs" src="..\mysqlclient\PreparableStatement.cs" />
          <File Id="file31" Name="PROCED_1.CS" LongName="ProcedureCache.cs" src="..\mysqlclient\ProcedureCache.cs" />
          <File Id="file36" Name="RESOUR_1.RES" LongName="Resources.resx" src="..\mysqlclient\Resources.resx" />
          <File Id="file44" Name="RESOUR_2.RES" LongName="Resources.Designer.cs" src="..\mysqlclient\Resources.Designer.cs" />
          <File Id="file37" Name="SCHEMA_1.CS" LongName="SchemaProvider.cs" src="..\mysqlclient\SchemaProvider.cs" />
          <File Id="file38" Name="STATEM_1.CS" LongName="Statement.cs" src="..\mysqlclient\Statement.cs" />
          <File Id="file39" Name="STORED_1.CS" LongName="StoredProcedure.cs" src="..\mysqlclient\StoredProcedure.cs" />
          <File Id="file40" Name="TRANSA_1.CS" LongName="transaction.cs" src="..\mysqlclient\transaction.cs" />
          <File Id="file41" Name="USAGEA_1.CS" LongName="UsageAdvisor.cs" src="..\mysqlclient\UsageAdvisor.cs" />
          <File Id="file45" Name="Reserv_1.txt" LongName="ReservedWords.txt" src="..\mysqlclient\ReservedWords.txt"/>
          <File Id="file46" Name="Instal_1.cs" LongName="Installer.cs" src="..\mysqlclient\Installer.cs"/>
        </Component>
        <Directory Id="commonFolder" Name="Common">
          <Component Id="CommonSrc"  DiskId="1" Guid="e5726acb-91cc-4212-8d2b-594bee186f8c">
            <File Id="file179" Name="CONTEX_1.CS" LongName="ContextString.cs" src="..\mysqlclient\common\ContextString.cs" />
            <File Id="file180" Name="NAMEDP_1.CS" LongName="NamedPipeStream.cs" src="..\mysqlclient\common\NamedPipeStream.cs" />
            <File Id="file181" Name="NATIVE_1.CS" LongName="NativeMethods.cs" src="..\mysqlclient\common\NativeMethods.cs" />
            <File Id="file182" Name="Platform.cs" src="..\mysqlclient\common\Platform.cs" />
            <File Id="file184" Name="SHA1.cs" src="..\mysqlclient\common\SHA1.cs" />
            <File Id="file185" Name="SHARED_1.cs" LongName="SharedMemoryStream.cs" src="..\mysqlclient\common\SharedMemoryStream.cs" />
            <File Id="file186" Name="STREAM_1.cs" LongName="StreamCreator.cs" src="..\mysqlclient\common\StreamCreator.cs" />
            <File Id="file187" Name="Socket_1.cs" LongName="SocketStream.cs" src="..\mysqlclient\common\SocketStream.cs" />
            <File Id="file188" Name="Version.cs" src="..\mysqlclient\common\Version.cs" />
            <File Id="file189" Name="WinCE.cs" src="..\mysqlclient\common\WinCE.cs" />
          </Component>
        </Directory>
        <Directory Id="docSrcFolder" Name="Docs">
          <Component Id="DocsSrc" DiskId="1" Guid="9fa4a523-7578-4d1e-b682-6383c6663518">
            <File Id="file245" Name="MYSQLC_1.XML" LongName="MySqlCommand.xml" src="..\mysqlclient\docs\MySqlCommand.xml" />
            <File Id="file246" Name="MYSQLC_2.XML" LongName="MySqlCommandBuilder.xml" src="..\mysqlclient\docs\MySqlCommandBuilder.xml" />
            <File Id="file247" Name="MYSQLC_3.XML" LongName="MySqlConnection.xml" src="..\mysqlclient\docs\MySqlConnection.xml" />
            <File Id="file248" Name="MYSQLC_4.XML" LongName="MySqlConnectionStringBuilder.xml" src="..\mysqlclient\docs\MySqlConnectionStringBuilder.xml" />
            <File Id="file249" Name="MYSQLD_1.XML" LongName="MySqlDataAdapter.xml" src="..\mysqlclient\docs\MySqlDataAdapter.xml" />
            <File Id="file250" Name="MYSQLD_2.XML" LongName="MySqlDataReader.xml" src="..\mysqlclient\docs\MySqlDataReader.xml" />
            <File Id="file251" Name="MYSQLE_1.XML" LongName="MySqlException.xml" src="..\mysqlclient\docs\MySqlException.xml" />
            <File Id="file252" Name="MYSQLH_1.XML" LongName="MySqlHelper.xml" src="..\mysqlclient\docs\MySqlHelper.xml" />
            <File Id="file253" Name="MYSQLP_1.XML" LongName="MySqlParameter.xml" src="..\mysqlclient\docs\MySqlParameter.xml" />
            <File Id="file254" Name="MYSQLP_2.XML" LongName="MySqlParameterCollection.xml" src="..\mysqlclient\docs\MySqlParameterCollection.xml" />
            <File Id="file255" Name="MYSQLT_1.XML" LongName="MySqlTransaction.xml" src="..\mysqlclient\docs\MySqlTransaction.xml" />
          </Component>
        </Directory>
        <Directory Id="typesFolder" Name="Types">
          <Component Id="TypesSrc" DiskId="1" Guid="00026aa3-136d-4379-a8e2-c12c72866890">
            <File Id="file299" Name="MetaData.cs" src="..\mysqlclient\Types\MetaData.cs" />
            <File Id="file300" Name="MYSQLB_1.CS" LongName="MySqlBinary.cs" src="..\mysqlclient\Types\MySqlBinary.cs" />
            <File Id="file301" Name="MySqlBit.cs" src="..\mysqlclient\Types\MySqlBit.cs" />
            <File Id="file302" Name="MYSQLB_2.CS" LongName="MySqlByte.cs" src="..\mysqlclient\Types\MySqlByte.cs" />
            <File Id="file303" Name="MYSQLC_1.CS" LongName="MySqlConversionException.cs" src="..\mysqlclient\Types\MySqlConversionException.cs" />
            <File Id="file304" Name="MYSQLD_1.CS" LongName="MySqlDateTime.cs" src="..\mysqlclient\Types\MySqlDateTime.cs" />
            <File Id="file305" Name="MYSQLD_2.CS" LongName="MySqlDecimal.cs" src="..\mysqlclient\Types\MySqlDecimal.cs" />
            <File Id="file306" Name="MYSQLD_3.CS" LongName="MySqlDouble.cs" src="..\mysqlclient\Types\MySqlDouble.cs" />
            <File Id="file307" Name="MYSQLI_1.CS" LongName="MySqlInt16.cs" src="..\mysqlclient\Types\MySqlInt16.cs" />
            <File Id="file308" Name="MYSQLI_2.CS" LongName="MySqlInt32.cs" src="..\mysqlclient\Types\MySqlInt32.cs" />
            <File Id="file309" Name="MYSQLI_3.CS" LongName="MySqlInt64.cs" src="..\mysqlclient\Types\MySqlInt64.cs" />
            <File Id="file310" Name="MYSQLS_1.CS" LongName="MySqlSingle.cs" src="..\mysqlclient\Types\MySqlSingle.cs" />
            <File Id="file311" Name="MYSQLS_2.CS" LongName="MySqlString.cs" src="..\mysqlclient\Types\MySqlString.cs" />
            <File Id="file312" Name="MYSQLT_1.CS" LongName="MySqlTime.cs" src="..\mysqlclient\Types\MySqlTime.cs" />
            <File Id="file313" Name="MYSQLU_1.CS" LongName="MySqlUByte.cs" src="..\mysqlclient\Types\MySqlUByte.cs" />
            <File Id="file314" Name="MYSQLU_2.CS" LongName="MySqlUInt16.cs" src="..\mysqlclient\Types\MySqlUInt16.cs" />
            <File Id="file315" Name="MYSQLU_3.CS" LongName="MySqlUInt32.cs" src="..\mysqlclient\Types\MySqlUInt32.cs" />
            <File Id="file316" Name="MYSQLU_4.CS" LongName="MySqlUInt64.cs" src="..\mysqlclient\Types\MySqlUInt64.cs" />
            <File Id="file317" Name="MYSQLV_1.CS" LongName="MySqlValue.cs" src="..\mysqlclient\Types\MySqlValue.cs" />
          </Component>
        </Directory>
        <Directory Id="zlibFolder" Name="zlib">
          <Component Id="ZLibSrc" DiskId="1" Guid="5bf41c05-1d57-4a64-b8a6-e0bad6141317">
            <File Id="file500" Name="Adler32.cs" src="..\mysqlclient\zlib\Adler32.cs" />
            <File Id="file501" Name="Deflate.cs" src="..\mysqlclient\zlib\Deflate.cs" />
            <File Id="file502" Name="InfBlo_1.cs" LongName="InfBlocks.cs" src="..\mysqlclient\zlib\InfBlocks.cs" />
            <File Id="file503" Name="InfCodes.cs" src="..\mysqlclient\zlib\InfCodes.cs" />
            <File Id="file504" Name="Inflate.cs" src="..\mysqlclient\zlib\Inflate.cs" />
            <File Id="file505" Name="InfTree.cs" src="..\mysqlclient\zlib\InfTree.cs" />
            <File Id="file506" Name="Static_1.cs" LongName="StaticTree.cs" src="..\mysqlclient\zlib\StaticTree.cs" />
            <File Id="file507" Name="Suppor_1.cs" LongName="SupportClass.cs" src="..\mysqlclient\zlib\SupportClass.cs" />
            <File Id="file508" Name="Tree.cs" src="..\mysqlclient\zlib\Tree.cs" />
            <File Id="file509" Name="ZInput_1.cs" LongName="ZInputStream.cs" src="..\mysqlclient\zlib\ZInputStream.cs" />
            <File Id="file510" Name="Zlib.cs" src="..\mysqlclient\zlib\Zlib.cs" />
            <File Id="file511" Name="ZOutpu_1.cs" LongName="ZOutputStream.cs" src="..\mysqlclient\zlib\ZOutputStream.cs" />
            <File Id="file512" Name="ZStream.cs" src="..\mysqlclient\zlib\ZStream.cs" />
            <File Id="file513" Name="ZStrea_1.cs" LongName="ZStreamException.cs" src="..\mysqlclient\zlib\ZStreamException.cs" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="TestSuite" Name="ts" LongName="TestSuite">
        <Component Id="TestSuiteSrc" DiskId="1" Guid="54eddace-adcc-44eb-bc25-eb69cbf278d3">
          <File Id="file402" Name="ASYNCT_1.CS" LongName="AsyncTests.cs" src="..\TestSuite\AsyncTests.cs" />
          <File Id="file403" Name="BaseTest.cs" src="..\TestSuite\BaseTest.cs" />
          <File Id="file404" Name="BLOBTE_1.CS" LongName="BlobTests.cs" src="..\TestSuite\BlobTests.cs" />
          <File Id="file405" Name="CHARAC_1.CS" LongName="CharacterSetTests.cs" src="..\TestSuite\CharacterSetTests.cs" />
          <File Id="file406" Name="COMMAN_1.CS" LongName="CommandBuilderTests.cs" src="..\TestSuite\CommandBuilderTests.cs" />
          <File Id="file407" Name="COMMAN_2.CS" LongName="CommandTests.cs" src="..\TestSuite\CommandTests.cs" />
          <File Id="file408" Name="CONNEC_1.CS" LongName="ConnectionTests.cs" src="..\TestSuite\ConnectionTests.cs" />
          <File Id="file409" Name="CULTUR_1.CS" LongName="CultureTests.cs" src="..\TestSuite\CultureTests.cs" />
          <File Id="file410" Name="CURSOR_1.CS" LongName="CursorTests.cs" src="..\TestSuite\CursorTests.cs" />
          <File Id="file411" Name="DATAAD_1.CS" LongName="DataAdapterTests.cs" src="..\TestSuite\DataAdapterTests.cs" />
          <File Id="file412" Name="DATARE_1.CS" LongName="DataReaderTests.cs" src="..\TestSuite\DataReaderTests.cs" />
          <File Id="file413" Name="DATASE_1.CS" LongName="DataSetTest.cs" src="..\TestSuite\DataSetTest.cs" />
          <File Id="file414" Name="DATATY_1.CS" LongName="DataTypeTests.cs" src="..\TestSuite\DataTypeTests.cs" />
          <File Id="file415" Name="DATETI_1.CS" LongName="DateTimeTests.cs" src="..\TestSuite\DateTimeTests.cs" />
          <File Id="file416" Name="EVENTT_1.CS" LongName="EventTests.cs" src="..\TestSuite\EventTests.cs" />
          <File Id="file418" Name="EXCEPT_1.CS" LongName="ExceptionTests.cs" src="..\TestSuite\ExceptionTests.cs" />
          <File Id="file420" Name="GETSCH_1.CS" LongName="GetSchemaTests.cs" src="..\TestSuite\GetSchemaTests.cs" />
          <File Id="file421" Name="INTERF_1.CS" LongName="InterfaceTests.cs" src="..\TestSuite\InterfaceTests.cs" />
          <File Id="file422" Name="LANGUA_1.CS" LongName="LanguageTests.cs" src="..\TestSuite\LanguageTests.cs" />
          <File Id="file424" Name="MICROP_1.CS" LongName="MicroPerfTests.cs" src="..\TestSuite\MicroPerfTests.cs" />
          <File Id="file427" Name="MYSQLD_2.CSP" LongName="MySql.Data.Tests.2005.csproj" src="..\TestSuite\MySql.Data.Tests.2005.csproj" />
          <File Id="file428" Name="MYSQLD_3.CSP" LongName="MySql.Data.Tests.2003.csproj" src="..\TestSuite\MySql.Data.Tests.2003.csproj" />
          <File Id="file430" Name="MYSQLH_1.CS" LongName="MySqlHelperTests.cs" src="..\TestSuite\MySqlHelperTests.cs" />
          <File Id="file431" Name="PARAME_1.CS" LongName="ParameterTests.cs" src="..\TestSuite\ParameterTests.cs" />
          <File Id="file432" Name="PERFMO_1.CS" LongName="PerfMonTests.cs" src="..\TestSuite\PerfMonTests.cs" />
          <File Id="file433" Name="POOLIN_1.CS" LongName="PoolingTests.cs" src="..\TestSuite\PoolingTests.cs" />
          <File Id="file434" Name="PREPAR_1.CS" LongName="PreparedStatements.cs" src="..\TestSuite\PreparedStatements.cs" />
          <File Id="file435" Name="STORED_1.CS" LongName="StoredProcedure.cs" src="..\TestSuite\StoredProcedure.cs" />
          <File Id="file436" Name="STRESS_1.CS" LongName="StressTests.cs" src="..\TestSuite\StressTests.cs" />
          <File Id="file437" Name="Syntax.cs" src="..\TestSuite\Syntax.cs" />
          <File Id="file438" Name="THREAD_1.CS" LongName="Threading.cs" src="..\TestSuite\Threading.cs" />
          <File Id="file439" Name="TRANSA_1.CS" LongName="Transactions.cs" src="..\TestSuite\Transactions.cs" />
          <File Id="file440" Name="USAGEA_1.CS" LongName="UsageAdvisor.cs" src="..\TestSuite\UsageAdvisor.cs" />
          <File Id="file441" Name="Utils.cs" src="..\TestSuite\Utils.cs" />
          <File Id="file442" Name="Simple_1.cs" LongName="SimpleTransactions.cs" src="..\TestSuite\SimpleTransactions.cs"/>
          <File Id="file443" Name="Timeou_1.cs" LongName="TimeoutAndCancel.cs" src="..\TestSuite\TimeoutAndCancel.cs"/>
          <File Id="file444" Name="Syntax2.cs" src="..\TestSuite\Syntax2.cs"/>
          <File Id="file445" Name="CONNEC_2.cs" LongName="ConnectionStringBuilder.cs" src="..\TestSuite\ConnectionStringBuilder.cs"/>
        </Component>
        <Directory Id="TSProperties" Name="tsp" LongName="Properties">
          <Component Id="TestSuitePropSrc" DiskId="1" Guid="45741f34-56c0-4186-aeb2-7218210bed7d">
            <File Id="file401" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="..\TestSuite\Properties\AssemblyInfo.cs" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id='Sources' Level='1' Title='Sources' Description='Source code for all assemblies'>
      <ComponentRef Id='TopLevelSrc'/>
      <ComponentRef Id='ClientSrc'/>
      <ComponentRef Id='CommonSrc'/>
      <ComponentRef Id='DocsSrc'/>
      <ComponentRef Id='TypesSrc'/>
      <ComponentRef Id='ZLibSrc'/>
      <ComponentRef Id='TestSuiteSrc'/>
      <ComponentRef Id='TestSuitePropSrc'/>
    </Feature>

  </Fragment>
</Wix>
