<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='VSFragment'>

    <DirectoryRef Id='VSTemplatesDir'>
      <Component Id='VSTemplates' Guid='CB74DD46-A5D0-402f-9413-63A8DEFB3A26'>
        <File Id='ScriptTemplate' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='ScriptTemplate.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>  
    </DirectoryRef>
    
    <!-- integration of VS2008 -->
    <DirectoryRef Id='VS2008Integration'>
      <!-- common DDEX component to be installed if VS2008 is selected -->
      <Component Id='VS2008_Common' Guid='75F9BFA2-4D6E-4cb3-97E6-B27C478CDE44'>
        <File Id='MySQL.VisualStudio' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\VS2008\Source\MySql.VisualStudio\bin\release\MySQL.VisualStudio.dll' />
      </Component>

      <Component Id='VS_2008_Registry' Guid='84AE8C43-294D-4e48-B75D-D9172396C2FD'>
        <RegistryKey Id="VS_2008_RegistryKey" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\MySQL Connector Net $(var.Version)">
          <RegistryValue Id="VS_2008_RegistryValue" Value="[assemblies_v2]" Type="string" Action="write"/>
        </RegistryKey>
        <?include VS2008_Registry.wxi?>
        <?include VS2008_Data.wxi?>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='CNetVerVSExtensionDir'>
      <Component Id='VS2010_Extensions' Guid='F5BE338A-8D95-4826-8ADE-1C5F310E336C'>
        <File Id='MySQL.VisualStudio.2010' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\release\MySQL.VisualStudio.dll'/>
        <File Id='MySqlParser.2010' Name='MySqlParser.dll' DiskId='1'
          Source='..\Source\MySql.VisualStudio\bin\release\MySqlParser.dll'/>
        <File Id='Antlr3.Runtime' Name='Antlr3.Runtime.dll' DiskId='1'
              Source='..\Source\MySqlParser\bin\Release\Antlr3.Runtime.dll'/>
        <File Id='VsixManifest' Name='extension.vsixmanifest' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\release\extension.vsixmanifest'/>
        <File Id='VSPkgdef' Name='MySql.VisualStudio.pkgdef' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\release\MySql.VisualStudio.pkgdef'/>
        <File Id='MySql.Debugger' Name='MySql.Debugger.dll' DiskId='1'
              Source='..\Source\MySql.Debugger\bin\release\MySql.Debugger.dll'/>
        <File Id='MySql.Debugger.VisualStudio' Name='MySql.Debugger.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.Debugger.VisualStudio\bin\release\MySql.Debugger.VisualStudio.dll'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS2010TemplatesDir'>
      <Component Id='VS2010Templates' Guid='BA082C85-9D64-4B79-8910-C6C25655250B'>
        <File Id='ScriptTemplate2010' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='ScriptTemplate2010.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS2010Integration'>
      <Component Id='VS_2010_Registry' Guid='E602F4FD-4D11-4632-8204-C0CFE22F8C7C'>
        <RegistryKey Id="VS_2010_RegistryKey_v4" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\MySQL Connector Net $(var.Version) v4.0">
          <RegistryValue Id="VS_2010_RegistryValue_v4" Value="[assemblies_v4]" Type="string" Action="write"/>
        </RegistryKey>
        <RegistryKey Id="VS_2010_RegistryKey_v2" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\MySQL Connector Net $(var.Version) v2.0">
          <RegistryValue Id="VS_2010_RegistryValue_v2" Value="[assemblies_v2]" Type="string" Action="write"/>
        </RegistryKey>
        <!-- Debugger -->
        <!--
[HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\AD7Metrics\Engine\{EEEE0740-10F7-4E5F-8BC4-1CC0AC9ED5B0}]
@="guidMySqlStoredProcedureDebugEngine"
"CLSID"="{EEEE066A-1103-451F-BC7A-6AEF76558AE2}"
"ProgramProvider"="{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}"
"Attach"=dword:00000001
"AddressBP"=dword:00000000
"AutoSelectPriority"=dword:00000004
"CallstackBP"=dword:00000001
"Name"="MySql Stored Procedure Debug Engine"
"PortSupplier"="{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}"
"AlwaysLoadLocal"=dword:00000000
        -->
        <RegistryKey Id="VS_2010_Debugger_Engine" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\AD7Metrics\Engine\{EEEE0740-10F7-4E5F-8BC4-1CC0AC9ED5B0}">
          <RegistryValue Name="CLSID" Value="{EEEE066A-1103-451F-BC7A-6AEF76558AE2}" Type="string" Action="write"/>
          <RegistryValue Name="ProgramProvider" Value="{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}" Type="string" Action="write"/>
          <RegistryValue Name="Attach" Value="1" Type="integer" Action="write"/>
          <RegistryValue Name="AddressBP" Value="0" Type="integer" Action="write"/>
          <RegistryValue Name="AutoSelectPriority" Value="4" Type="integer" Action="write"/>
          <RegistryValue Name="CallstackBP" Value="1" Type="integer" Action="write"/>
          <RegistryValue Name="Name" Value="MySql Stored Procedure Debug Engine" Type="string" Action="write"/>
          <RegistryValue Name="PortSupplier" Value="{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}" Type="string" Action="write"/>
          <RegistryValue Name="AlwaysLoadLocal" Value="1" Type="integer" Action="write"/>
        </RegistryKey>
        <!--
        [HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\CLSID\{EEEE066A-1103-451F-BC7A-6AEF76558AE2}]
"Assembly"="MySql.Debugger.VisualStudio"
"Class"="MySql.Debugger.VisualStudio.AD7Engine"
"InprocServer32"="c:\\windows\\system32\\mscoree.dll"
"CodeBase"="file:///C:\\src\\MainSource\\features\\spdebugger-serverside2\\Source\\MySql.Debugger.VisualStudio\\bin\\Debug\\MySql.Debugger.VisualStudio.dll"
        -->
        <RegistryKey Id="VS_2010_Debugger_CLSID_Engine" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\CLSID\{EEEE066A-1103-451F-BC7A-6AEF76558AE2}">
          <RegistryValue Name="Assembly" Value="MySql.Debugger.VisualStudio" Type="string" Action="write"/>
          <RegistryValue Name="Class" Value="MySql.Debugger.VisualStudio.AD7Engine" Type="string" Action="write"/>
          <RegistryValue Name="InprocServer32" Value="c:\\windows\\system32\\mscoree.dll" Type="string" Action="write"/>
          <RegistryValue Name="CodeBase" Value="[#MySql.Debugger.VisualStudio]" Type="string" Action="write"/>
        </RegistryKey>
<!-- 
[HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\CLSID\{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}]
"Assembly"="MySql.Debugger.VisualStudio"
"Class"="MySql.Debugger.VisualStudio.AD7ProgramProvider"
"InprocServer32"="c:\\windows\\system32\\mscoree.dll"
"CodeBase"="file:///C:\\src\\MainSource\\features\\spdebugger-serverside2\\Source\\MySql.Debugger.VisualStudio\\bin\\Debug\\MySql.Debugger.VisualStudio.dll"
-->
        <RegistryKey Id="VS_2010_Debugger_CLSID_Provider" Root="HKLM" Action="createAndRemoveOnUninstall"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\CLSID\{EEEE9AB0-511C-4BF0-BBE8-F763A73DA5EF}">

          <RegistryValue Name="Assembly" Value="MySql.Debugger.VisualStudio" Type="string" Action="write"/>
          <RegistryValue Name="Class" Value="MySql.Debugger.VisualStudio.AD7ProgramProvider" Type="string" Action="write"/>
          <RegistryValue Name="InprocServer32" Value="c:\\windows\\system32\\mscoree.dll" Type="string" Action="write"/>
          <RegistryValue Name="CodeBase" Value="[#MySql.Debugger.VisualStudio]" Type="string" Action="write"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id='VS2008Int' Level='1' Title='Visual Studio 2008'>
      <Condition Level='0'>Not VS_2008_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2008_Common'/>
      <ComponentRef Id='VSTemplates'/>
      <ComponentRef Id='VS_2008_Registry'/>
    </Feature>

    <Feature Id='VS2010Int' Level='1' Title='Visual Studio 2010'>
      <Condition Level='0'>Not VS_2010_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2010_Extensions'/>
      <ComponentRef Id='VS2010Templates'/>
      <ComponentRef Id='VS_2010_Registry'/>
    </Feature>

    <!-- Visual Studio 2008 integration actions -->
    <Property Id='VS_2008_PATH'>
      <RegistrySearch Id='Find_VS2008_Path' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>
    <CustomAction Id="VS_2008_SETUP" Property="VS_2008_SETUP_EXEC" Value='"[VS_2008_PATH]\devenv.com" /setup'/>
    <CustomAction Id="VS_2008_SETUP_EXEC" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="ignore" Execute='deferred' Impersonate='no'/>

    <!-- Visual Studio 2010 integration actions -->
    <Property Id='VS_2010_PATH'>
      <RegistrySearch Id='Find_VS2010_Path' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>

    <InstallExecuteSequence>
      <!-- now vs2008 scheduling -->
      <Custom Action='VS_2008_SETUP' Before='InstallFinalize'>(&amp;VS2008Int=2) OR (&amp;VS2008Int=3)</Custom>
      <Custom Action='VS_2008_SETUP_EXEC' After='VS_2008_SETUP'>(&amp;VS2008Int=2) OR (&amp;VS2008Int=3)</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>


