<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='VSFragment'>

    <DirectoryRef Id='INSTALLDIR'>
      <Directory Id='VSDir' Name='Visual Studio Integration'>
        <Component Id="VS_2005" Guid="a5240e1b-c5c2-4820-8a1d-776c0017f44b">
          <File Id='MySQL.VisualStudio' Name='MySQL.VisualStudio.dll' DiskId='1'
                Source='..\VisualStudio\bin\release\MySQL.VisualStudio.dll' />
          <File Id='MySql.VisualStudio.dll.config' Name='MySql.VisualStudio.dll.config' DiskId='1'
                Source='..\VisualStudio\bin\release\MySql.VisualStudio.dll.config' />

          <!--Datasource registration section-->
          <RegistryKey Id='DataSource' Root='HKLM'
                       Key='Software\Microsoft\VisualStudio\8.0\DataSources\{98FBE4D8-5583-4233-B219-70FF8C7FBBBD}'
                       Action='createAndRemoveOnUninstall'>
            <RegistryValue Id='DSDefaultValue' Type='string' Value='MySQL Database'/>
            <RegistryKey Id='DSSupportingProviders' Key='SupportingProviders' Action='create'>
              <RegistryKey Id='DSProvider' Key='{C6882346-E592-4da5-80BA-D2EADCDA0359}' Action='create'>
                <RegistryValue Id='DSDesc' Name='Description' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
                <RegistryValue Id='DSDisplayName' Name='DisplayName' Value='Datasource_Displayname, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>

          <!--Provider registration section-->
          <RegistryKey Id='DataProviders' Root='HKLM'
                       Key='SOFTWARE\Microsoft\VisualStudio\8.0\DataProviders\{C6882346-E592-4da5-80BA-D2EADCDA0359}'
                       Action='createAndRemoveOnUninstall'>
            <RegistryValue Id='DPDefaultValue' Type='string' Value='.NET Framework Data Provider for MySQL'/>
            <RegistryValue Id='DPDisplayName' Name='DisplayName' Type='string' Value='Provider_DisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
            <RegistryValue Id='DPShortDisplayName' Name='ShortDisplayName' Type='string' Value='Provider_ShortDisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
            <RegistryValue Id='DPDescription' Name='Description' Type='string' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources'/>
            <RegistryValue Id='FactoryService' Name='FactoryService' Type='string' Value='{D949EA95-EDA1-4b65-8A9E-266949A99360}'/>
            <RegistryValue Id='InvariantName' Name='InvariantName' Type='string' Value='MySql.Data.MySqlClient'/>
            <RegistryKey Id='SupportedObjects' Key='SupportedObjects' Action='create'>
              <RegistryKey Id='SupportedObjects1' Key='DataConnectionPromptDialog' Action='create'/>
              <RegistryKey Id='SupportedObjects2' Key='DataConnectionProperties' Action='create'/>
              <RegistryKey Id='SupportedObjects3' Key='DataConnectionSupport' Action='create'/>
              <RegistryKey Id='SupportedObjects4' Key='DataConnectionUIControl' Action='create'/>
              <RegistryKey Id='SupportedObjects5' Key='DataObjectSupport' Action='create'/>
              <RegistryKey Id='SupportedObjects6' Key='DataSourceInformation' Action='create'/>
              <RegistryKey Id='SupportedObjects7' Key='DataViewSupport' Action='create'/>
            </RegistryKey>
          </RegistryKey>

          <!--Menu section-->
          <RegistryValue Id='Menu' Root='HKLM'
                       Key='SOFTWARE\Microsoft\VisualStudio\8.0\Menus' Type='string'
                       Name='{79A115C9-B133-4891-9E7B-242509DAD272}' Value=',1000,1' Action='write'/>

          <!--Service section-->
          <RegistryKey Id='Services' Root='HKLM'
                       Key='SOFTWARE\Microsoft\VisualStudio\8.0\Services\{D949EA95-EDA1-4b65-8A9E-266949A99360}'
                       Action='createAndRemoveOnUninstall'>
            <RegistryValue Id='ServicesDefault' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
            <RegistryValue Id='ServicesName' Name='Name' Value='MySQL Provider Object Factory' Type='string'/>
          </RegistryKey>

          <!--Installed Products section-->
          <RegistryKey Id='InstalledProducts' Root='HKLM'
                       Key='SOFTWARE\Microsoft\VisualStudio\8.0\InstalledProducts\[ProductName]'
                       Action='createAndRemoveOnUninstall'>
            <RegistryValue Id='IPDefault' Value='[ProductName]' Type='string'/>
            <RegistryValue Id='IPPackage' Name='Package' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
            <RegistryValue Id='IPUI' Name='UseInterface' Value='1' Type='integer'/>
          </RegistryKey>

          <!--Package section-->
          <RegistryKey Id='Packages' Root='HKLM'
                       Key='SOFTWARE\Microsoft\VisualStudio\8.0\Packages\{79A115C9-B133-4891-9E7B-242509DAD272}'
                       Action='createAndRemoveOnUninstall'>
            <RegistryValue Id='PackagesDefault' Value='[ProductName]' Type='string'/>
            <RegistryValue Id='PackInProc' Name='InprocServer32' Value='[WindowsFolder]system32\mscoree.dll' Type='string'/>
            <RegistryValue Id='PackClass' Name='Class' Value='MySql.Data.VisualStudio.MySqlDataProviderPackage' Type='string'/>
            <RegistryValue Id='PackCodeBase' Name='CodeBase' Value='[INSTALLDIR]\Visual Studio Integration\MySql.VisualStudio.dll' Type='string'/>
            <RegistryValue Id='PackProdName' Name='ProductName' Value='MySQL Tools for Visual Studio' Type='string'/>
            <RegistryValue Id='PackVer' Name='ProductVersion' Value='1.1' Type='string'/>
            <RegistryValue Id='PackComp' Name='CompanyName' Value='MySQL AB c/o MySQL, Inc.' Type='string'/>
            <RegistryValue Id='PackMin' Name='MinEdition' Value='standard' Type='string'/>
            <RegistryValue Id='PackId' Name='ID' Value='100' Type='integer'/>
          </RegistryKey>
        </Component>
      </Directory>
    </DirectoryRef>

    <Feature Id='VS2005Int' Level='1' Title='Visual Studio 2005'>
      <Condition Level='0'>Not VS_2005_PATH</Condition>
      <ComponentRef Id='VS_2005'/>
    </Feature>

    <Property Id='VS_2005_PATH'>
      <RegistrySearch Id='Find_VS2005_Path' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>
    <CustomAction Id="VS_2005_Setup" Property="VS_2005_SetupRun" Value='"[VS_2005_PATH]\devenv.com" /setup'/>
    <CustomAction Id="VS_2005_SetupRun" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
    
    <InstallExecuteSequence>
      <Custom Action='VS_2005_Setup' Before='InstallFinalize'>(&amp;VS2005Int=2) OR (&amp;VS2005Int=3)</Custom>
      <Custom Action='VS_2005_SetupRun' After='VS_2005_Setup'>(&amp;VS2005Int=2) OR (&amp;VS2005Int=3)</Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>


