<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='VSFragment'>
    <!-- Visual Studio 2010 -->
    <DirectoryRef Id='VS10_ExtVersionDir'>
      <Component Id='VS2010_Extension' Guid='F5BE338A-8D95-4826-8ADE-1C5F310E336C'>
        <File Id='MySQL.VisualStudio.2010' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySQL.VisualStudio.dll'/>
        <File Id='MySqlParser.2010' Name='MySql.Parser.dll' DiskId='1'
          Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySql.Parser.dll'/>
        <File Id='Antlr3.Runtime' Name='Antlr3.Runtime.dll' DiskId='1'
              Source='..\Source\MySql.Parser\bin\v4.0\Release\Antlr3.Runtime.dll'/>
        <File Id='VsixManifest' Name='extension.vsixmanifest' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\extension.vsixmanifest'/>
        <File Id='VSPkgdef' Name='MySql.VisualStudio.pkgdef' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySql.VisualStudio.pkgdef'/>
        <File Id='MySql.Debugger' Name='MySql.Debugger.dll' DiskId='1'
              Source='..\Source\MySql.Debugger\bin\v4.0\release\MySql.Debugger.dll'/>
        <File Id='MySql.Debugger.VisualStudio' Name='MySql.Debugger.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.Debugger.VisualStudio\bin\v4.0\release\MySql.Debugger.VisualStudio.dll'/>
        <File Id='MySql.Utility' Name='MySql.Utility.dll' DiskId='1'
              Source='..\Dependencies\v4.0\release\MySQL.Utility.dll'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS10_TemplatesDir'>
      <Component Id='VS2010_Templates' Guid='BA082C85-9D64-4B79-8910-C6C25655250B'>
        <File Id='VS2010_ScriptTemplate' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='VS2010_ScriptTemplate.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS10_PrivateAssemblies'>
      <Component Id='VS2010_MD.Library' Guid='BA082C85-9D64-4B79-8910-C6C25655250F'>
        <File Id='VS2010_MySql.DataLib' Name='MySql.Data.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Data.dll'/>
      </Component>
      <Component Id='VS2010_Web.Library' Guid='BA082C85-9D64-4B79-8910-C6C25655251B'>
        <File Id='VS2010_MySql.Web.Lib' Name='MySql.Web.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Web.dll'/>
      </Component>
    </DirectoryRef>

    <!--Item Templates-->
    <!--<DirectoryRef Id='VS10_CSharpITMySQL'>
      <Component Id='VS2010_VSIT_DIR' Guid='be68833b-6109-416d-8f77-cbcdadd4e8c2'>
        <File Id='VS2010_VSCS_Winform_ItemTemplate' Name='CSharpWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_WinForm.zip' />
        <File Id='VS2010_VSCS_Web_ItemTemplate' Name='CSharpWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_Web.zip' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='VS10_VBITMySQL'>
      <Component Id='VS2010_VB_VSIT_DIR' Guid='efe939b5-f2b7-40d8-b6a7-897f222a2930'>
        <File Id='VS2010_VSVB_Winform_ItemTemplate' Name='VBWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_WinForm.zip' />
        <File Id='VS2010_VSVB_Web_ItemTemplate' Name='VBWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_Web.zip' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS10_T4TemplatesCSharpDir'>
      <Component Id='VS10_T4TemplatesCSharpDir' Guid='BA082C85-9D64-1079-8910-C6C25655250D'>
        <File Id='VS2010_T4TemplateCSharpController' Name='CSharpControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpControllerClass.tt' />
        <File Id='VS2010_T4TemplateCSharpIndex' Name='CSharpIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS10_T4TemplatesVBDir' >
      <Component Id='VS10_T4TemplatesVBDir' Guid='BA082C85-9D64-1079-8910-C6C2565525DD'>
        <File Id='VS2010_T4TemplateVBController' Name='VisualBasicControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicControllerClass.tt' />
        <File Id='VS2010_T4TemplateVBIndex' Name='VisualBasicIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicIndexFile.tt' />
      </Component>
    </DirectoryRef>-->

    <!-- Visual Studio 2012 -->
    <DirectoryRef Id='VS11_ExtVersionDir'>
      <Component Id='VS2012_Extension' Guid='ECB3633C-4169-4074-A527-3FDA825DDB2F'>
        <File Id='MySQL.VisualStudio.2012' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySQL.VisualStudio.dll'/>
        <File Id='MySql.Parser.2012' Name='MySql.Parser.dll' DiskId='1'
          Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySql.Parser.dll'/>
        <File Id='Antlr3.Runtime.2012' Name='Antlr3.Runtime.dll' DiskId='1'
              Source='..\Source\MySql.Parser\bin\v4.0\Release\Antlr3.Runtime.dll'/>
        <File Id='VsixManifest.2012' Name='extension.vsixmanifest' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\extension.vsixmanifest'/>
        <File Id='VSPkgdef.2012' Name='MySql.VisualStudio.pkgdef' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.0\release\MySql.VisualStudio.pkgdef'/>
        <File Id='MySql.Debugger.2012' Name='MySql.Debugger.dll' DiskId='1'
              Source='..\Source\MySql.Debugger\bin\v4.0\release\MySql.Debugger.dll'/>
        <File Id='MySql.Debugger.VisualStudio.2012' Name='MySql.Debugger.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.Debugger.VisualStudio\bin\v4.0\release\MySql.Debugger.VisualStudio.dll'/>
        <File Id='MySql.Utility_2012' Name='MySql.Utility.dll' DiskId='1'
              Source='..\Dependencies\v4.0\release\MySQL.Utility.dll'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS11_TemplatesDir'>
      <Component Id='VS2012_Templates' Guid='260283FF-817E-408E-8D87-7A4BF99BA818'>
        <File Id='VS2012_ScriptTemplate' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='VS2012_ScriptTemplate.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS11_PrivateAssemblies'>
      <Component Id='VS2012_MD.Library' Guid='BA082C85-9D64-4B79-8910-C6C25655250E'>
        <File Id='VS2012_MySql.DataLib' Name='MySql.Data.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Data.dll'/>
      </Component>
      <Component Id='VS2012_Web.Library' Guid='BA082C85-9D64-4B79-8910-C6C25655251E'>
        <File Id='VS2012_MySql.Web.Lib' Name='MySql.Web.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Web.dll'/>
      </Component>
    </DirectoryRef>

    <!--Item Templates-->
    <!--<DirectoryRef Id='VS11_CSharpITMySQL'>
      <Component Id='VS2012_VSIT_DIR' Guid='53498d20-e60d-4b46-8c94-27fa2a4333ea'>
        <File Id='VS2012_VSCS_Winform_ItemTemplate' Name='CSharpWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_WinForm.zip' />
        <File Id='VS2012_VSCS_Web_ItemTemplate' Name='CSharpWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_Web.zip' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='VS11_VBITMySQL'>
      <Component Id='VS2012_VB_VSIT_DIR' Guid='dfb29060-0564-4851-b771-b5873a92ec90'>
        <File Id='VS2012_VSVB_Winform_ItemTemplate' Name='VBWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_WinForm.zip' />
        <File Id='VS2012_VSVB_Web_ItemTemplate' Name='VBWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_Web.zip' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS11_T4TemplatesCSharpDir'>
      <Component Id='VS2012_T4TemplatesCSharpDir' Guid='BA082C85-9D64-1079-8910-C6C2565525FF'>
        <File Id='VS2012_T4TemplateCSharpController' Name='CSharpControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpControllerClass.tt' />
        <File Id='VS2012_T4TemplateCSharpIndex' Name='CSharpIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS11_T4TemplatesVBDir' >
      <Component Id='VS2012_T4TemplatesVBDir' Guid='BA082C85-9D64-1079-8910-C6C2565525AA'>
        <File Id='VS2012_T4TemplateVBController' Name='VisualBasicControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicControllerClass.tt' />
        <File Id='VS2012_T4TemplateVBIndex' Name='VisualBasicIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicIndexFile.tt' />
      </Component>
    </DirectoryRef>-->

    <!-- Visual Studio 2013 -->
    <DirectoryRef Id='VS12_ExtVersionDir'>
      <Component Id='VS2013_Extension' Guid='AFD7D38E-D166-4256-B1A5-637E7B33134B'>
        <File Id='MySQL.VisualStudio.2013' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySQL.VisualStudio.dll'/>
        <File Id='MySql.Parser.2013' Name='MySql.Parser.dll' DiskId='1'
          Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySql.Parser.dll'/>
        <File Id='Antlr3.Runtime.2013' Name='Antlr3.Runtime.dll' DiskId='1'
              Source='..\Source\MySql.Parser\bin\v4.5.1\Release\Antlr3.Runtime.dll'/>
        <File Id='VsixManifest.2013' Name='extension.vsixmanifest' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\extension.vsixmanifest'/>
        <File Id='VSPkgdef.2013' Name='MySql.VisualStudio.pkgdef' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySql.VisualStudio.pkgdef'/>
        <File Id='MySql.Debugger.2013' Name='MySql.Debugger.dll' DiskId='1'
              Source='..\Source\MySql.Debugger\bin\v4.5.1\release\MySql.Debugger.dll'/>
        <File Id='MySql.Debugger.VisualStudio.2013' Name='MySql.Debugger.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.Debugger.VisualStudio\bin\v4.5.1\release\MySql.Debugger.VisualStudio.dll'/>
        <File Id='MySql.Utility_2013' Name='MySql.Utility.dll' DiskId='1'
              Source='..\Dependencies\v4.0\release\MySQL.Utility.dll'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS12_TemplatesDir'>
      <Component Id='VS2013_Templates' Guid='299BAC3E-82EB-4FC2-9ECA-4E1C0F50F34C'>
        <File Id='VS2013_ScriptTemplate' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='VS2013_ScriptTemplate.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS12_PrivateAssemblies'>
      <Component Id='VS2013_MD.Library' Guid='4D8A38C2-9750-4C35-B89D-FD7FA6789BAC'>
        <File Id='VS2013_MySql.DataLib' Name='MySql.Data.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Data.dll'/>
      </Component>
      <Component Id='VS2013_Web.Library' Guid='0707943C-D00B-4D81-8722-E10CB4F77558'>
        <File Id='VS2013_MySql.Web.Lib' Name='MySql.Web.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Web.dll'/>
      </Component>
    </DirectoryRef>

    <!--Item Templates-->
    <DirectoryRef Id='VS12_CSharpITMySQL'>
      <Component Id='VS2013_VSIT_DIR' Guid='7C09EF65-F8D0-4BE8-9F0A-030933EF1F05'>
        <File Id='VS2013_VSCS_Winform_ItemTemplate' Name='CSharpWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_WinForm.zip' />
        <File Id='VS2013_VSCS_Web_ItemTemplate' Name='CSharpWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_Web.zip' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='VS12_VBITMySQL'>
      <Component Id='VS2013_VB_VSIT_DIR' Guid='a20f84dd-fe3a-4ab4-a0f9-bd346c660fbe'>
        <File Id='VS2013_VSVB_Winform_ItemTemplate' Name='VBWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_WinForm.zip' />
        <File Id='VS2013_VSVB_Web_ItemTemplate' Name='VBWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_Web.zip' />
      </Component>
    </DirectoryRef>


    <DirectoryRef Id='VS12_T4TemplatesCSharpDir'>
      <Component Id='VS2013_T4TemplatesCSharpDir' Guid='BA082C85-9D64-1079-8910-C6C2565525CC'>
        <File Id='VS2013_T4TemplateCSharpController' Name='CSharpControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpControllerClass.tt' />
        <File Id='VS2013_T4TemplateCSharpIndex' Name='CSharpIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS12_T4TemplatesVBDir' >
      <Component Id='VS2013_T4TemplatesVBDir' Guid='BA082C85-9D64-1079-8910-C6C2565525BB'>
        <File Id='VS2013_T4TemplateVBController' Name='VisualBasicControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicControllerClass.tt' />
        <File Id='VS2013_T4TemplateVBIndex' Name='VisualBasicIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <!-- Visual Studio 2015 -->
    <DirectoryRef Id='VS14_ExtVersionDir'>
      <Component Id='VS2015_Extension' Guid='D7EE5F2F-5F1D-48F0-B7E6-E6D731B599F0'>
        <File Id='MySQL.VisualStudio.2015' Name='MySQL.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySQL.VisualStudio.dll'/>
        <File Id='MySql.Parser.2015' Name='MySql.Parser.dll' DiskId='1'
          Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySql.Parser.dll'/>
        <File Id='Antlr3.Runtime.2015' Name='Antlr3.Runtime.dll' DiskId='1'
              Source='..\Source\MySql.Parser\bin\v4.5.1\Release\Antlr3.Runtime.dll'/>
        <File Id='VsixManifest.2015' Name='extension.vsixmanifest' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\extension.vsixmanifest'/>
        <File Id='VSPkgdef.2015' Name='MySql.VisualStudio.pkgdef' DiskId='1'
              Source='..\Source\MySql.VisualStudio\bin\v4.5.1\release\MySql.VisualStudio.pkgdef'/>
        <File Id='MySql.Debugger.2015' Name='MySql.Debugger.dll' DiskId='1'
              Source='..\Source\MySql.Debugger\bin\v4.5.1\release\MySql.Debugger.dll'/>
        <File Id='MySql.Debugger.VisualStudio.2015' Name='MySql.Debugger.VisualStudio.dll' DiskId='1'
              Source='..\Source\MySql.Debugger.VisualStudio\bin\v4.5.1\release\MySql.Debugger.VisualStudio.dll'/>
        <File Id='MySql.Utility_2015' Name='MySql.Utility.dll' DiskId='1'
              Source='..\Dependencies\v4.0\release\MySQL.Utility.dll'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_TemplatesDir'>
      <Component Id='VS2015_Templates' Guid='A7EB6122-2F0F-4C60-BC52-F3C5050DE211'>
        <File Id='VS2015_ScriptTemplate' Name='MySQL Script.mysql' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySQL Script.mysql'/>
        <File Id='VS2015_ScriptTemplate.vsdir' Name='MySqlDataProviderPackage.vsdir' DiskId='1'
              Source='..\Source\MySql.VisualStudio\Templates\MySqlDataProviderPackage.vsdir'/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_PrivateAssemblies'>
      <Component Id='VS2015_MD.Library' Guid='3E76F0B9-B63E-4EEB-A7D1-C6CA28DB0CD2'>
        <File Id='VS2014_MySql.DataLib' Name='MySql.Data.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Data.dll'/>
      </Component>
      <Component Id='VS2015_Web.Library' Guid='9CC2D22E-CB4D-4472-A957-998CB9307B63'>
        <File Id='VS2015_MySql.Web.Lib' Name='MySql.Web.dll' DiskId='1'
             Source='..\Dependencies\v4.0\Release\MySql.Web.dll'/>
      </Component>
    </DirectoryRef>

    <!--Item Templates-->
    <DirectoryRef Id='VS14_CSharpITMySQL'>
      <Component Id='VS2015_VSIT_DIR' Guid='eaa4081e-fea6-4640-9481-f3b1c922ba3d'>
        <File Id='VS2015_VSCS_Winform_ItemTemplate' Name='CSharpWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_WinForm.zip' />
        <File Id='VS2015_VSCS_Web_ItemTemplate' Name='CSharpWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_Web.zip' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='VS14_VBITMySQL'>
      <Component Id='VS2015_VB_VSIT_DIR' Guid='b0f00be9-2298-469f-b269-fd42263c2432'>
        <File Id='VS2015_VSVB_Winform_ItemTemplate' Name='VBWinform_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_WinForm.zip' />
        <File Id='VS2015_VSVB_Web_ItemTemplate' Name='VBWeb_ItemTemplate.zip' DiskId='1'
              Source='..\ItemTemplatesZipFolder\MySQL_VB_Web.zip' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_T4TemplatesCSharpDir'>
      <Component Id='VS2015_T4TemplatesCSharpDir' Guid='CD3EEFFD-230E-4387-92F5-1BCEF885D02B'>
        <File Id='VS2015_T4TemplateCSharpController' Name='CSharpControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpControllerClass.tt' />
        <File Id='VS2015_T4TemplateCSharpIndex' Name='CSharpIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\CSharp\CSharpIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_T4TemplatesVBDir' >
      <Component Id='VS2015_T4TemplatesVBDir' Guid='F8C1D443-164C-4821-9608-CD58C69232C9'>
        <File Id='VS2015_T4TemplateVBController' Name='VisualBasicControllerClass.tt' DiskId='1'
            Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicControllerClass.tt' />
        <File Id='VS2015_T4TemplateVBIndex' Name='VisualBasicIndexFile.tt' DiskId='1'
           Source='..\Source\MySql.VisualStudio\Wizards\Web\T4Templates\VisualBasic\VisualBasicIndexFile.tt' />
      </Component>
    </DirectoryRef>

    <!--Removing files from Private Assemblies Folders-->
    <DirectoryRef Id='VS10_PrivateAssemblies'>
      <Component Id='Remove.VS2010_MD.Library' Guid='BA082C85-9D64-4B79-8910-C6C2565525CA'>
        <RemoveFile Id='RemoveVS2010_MySql.DataLib' Name='MySql.Data.dll' On='uninstall' />
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
      <Component Id='Remove.VS2010_Web.Library' Guid='CA082C85-9D64-4B79-8910-C6C2565525CA'>
        <RemoveFile Id='RemoveVS2010_MySql.Web.Lib' Name='MySql.Web.dll' On='uninstall'/>
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS11_PrivateAssemblies'>
      <Component Id='Remove.VS2012_MD.Library' Guid='AF082C85-9D64-4B79-8910-C6C25655250A'>
        <RemoveFile Id='RemoveVS2012_MySql.DataLib' Name='MySql.Data.dll' On='uninstall'/>
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
      <Component Id='Remove.VS2012_Web.Library' Guid='BA082C85-9D64-4B79-8910-C6C25655251A'>
        <RemoveFile Id='RemoveVS2012_MySql.Web.Lib' Name='MySql.Web.dll' On='uninstall'/>
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS12_PrivateAssemblies'>
      <Component Id="Remove.VS2013_MD.Library" Guid="4D8A38C2-9750-4C35-B89D-FD7FA6789BAA" DiskId="1">
        <RemoveFile Id="RemoveVS2013_MySql.DataLib" Name="MySql.Data.dll" On="uninstall" />
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS12_PrivateAssemblies'>
      <Component Id="Remove.VS2013_Web.Library" Guid="0707943C-D00B-4D81-8722-E10CB4F7755A" DiskId="1">
        <RemoveFile Id="RemoveVS2013_MySql.Web.Lib" Name="MySql.Web.dll" On="uninstall" />
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_PrivateAssemblies'>
      <Component Id="Remove.VS2015_MD.Library" Guid="DDF7A0E8-55AD-4379-9B23-7C57078C34A5" DiskId="1">
        <RemoveFile Id="RemoveVS2015_MySql.DataLib" Name="MySql.Data.dll" On="uninstall" />
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='VS14_PrivateAssemblies'>
      <Component Id="Remove.VS2015_Web.Library" Guid="1DB36478-2940-4202-97FD-BFBC2B2DF8C7" DiskId="1">
        <RemoveFile Id="RemoveVS2015_MySql.Web.Lib" Name="MySql.Web.dll" On="uninstall" />
        <Condition>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE=ALL)</Condition>
      </Component>
    </DirectoryRef>

    <Feature Id='VS2010Int' Level='1' Title='Visual Studio 2010'>
      <Condition Level='0'>Not VS_2010_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2010_Extension'/>
      <ComponentRef Id='VS2010_Templates'/>
      <ComponentRef Id='VS2010_MD.Library' />
      <!--<ComponentRef Id='VS2010_EF.Library' />-->
      <ComponentRef Id='VS2010_Web.Library' />
      <ComponentRef Id='Remove.VS2010_MD.Library'/>
      <ComponentRef Id='Remove.VS2010_Web.Library'/>
      <ComponentRef Id='AutoLoadPackageVS2010'/>
      <!--Item Templates-->
      <!--<Feature Id='VS2010_AddItemTemplate' Title='ItemTemplates' Level='1' Display='hidden'>
        <ComponentRef Id='VS2010_VSIT_DIR'/>
        <ComponentGroupRef Id='VS10_CS_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS10_CS_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2010_VB_VSIT_DIR'/>
        <ComponentGroupRef Id='VS10_VB_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS10_VB_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS10_T4TemplatesCSharpDir' />
        <ComponentRef Id='VS10_T4TemplatesVBDir' />
      </Feature>-->
    </Feature>

    <Feature Id='VS2012Int' Level='1' Title='Visual Studio 2012'>
      <Condition Level='0'>Not VS_2012_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2012_Extension'/>
      <ComponentRef Id='VS2012_Templates'/>
      <ComponentRef Id='VS2012_MD.Library' />
      <ComponentRef Id='VS2012_Web.Library' />
      <ComponentRef Id='Remove.VS2012_MD.Library'/>
      <ComponentRef Id='Remove.VS2012_Web.Library'/>
      <ComponentRef Id='AutoLoadPackageVS2012'/>
      <!--Item Templates-->
      <!--<Feature Id='VS2012_AddItemTemplate' Title='ItemTemplates' Level='1' Display='hidden'>
        <ComponentRef Id='VS2012_VSIT_DIR'/>
        <ComponentGroupRef Id='VS11_CS_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS11_CS_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2012_VB_VSIT_DIR'/>
        <ComponentGroupRef Id='VS11_VB_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS11_VB_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2012_T4TemplatesCSharpDir' />
        <ComponentRef Id='VS2012_T4TemplatesVBDir' />
      </Feature>-->
    </Feature>

    <Feature Id='VS2013Int' Level='1' Title='Visual Studio 2013'>
      <Condition Level='0'>Not VS_2013_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2013_Extension'/>
      <ComponentRef Id='VS2013_Templates'/>
      <ComponentRef Id='VS2013_MD.Library' />
      <ComponentRef Id='VS2013_Web.Library' />
      <ComponentRef Id='Remove.VS2013_MD.Library'/>
      <ComponentRef Id='Remove.VS2013_Web.Library'/>
      <ComponentRef Id='AutoLoadPackageVS2013'/>
      <!--Item Templates-->
      <Feature Id='VS2013_AddItemTemplate' Title='ItemTemplates' Level='1' Display='hidden'>
        <ComponentRef Id='VS2013_VSIT_DIR'/>
        <ComponentGroupRef Id='VS12_CS_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS12_CS_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2013_VB_VSIT_DIR'/>
        <ComponentGroupRef Id='VS12_VB_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS12_VB_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2013_T4TemplatesCSharpDir' />
        <ComponentRef Id='VS2013_T4TemplatesVBDir' />
      </Feature>
    </Feature>

    <Feature Id='VS2015Int' Level='1' Title='Visual Studio 2015'>
      <Condition Level='0'>Not VS_2015_PATH AND Not Installed</Condition>
      <ComponentRef Id='VS2015_Extension'/>
      <ComponentRef Id='VS2015_Templates'/>
      <ComponentRef Id='VS2015_MD.Library' />
      <ComponentRef Id='VS2015_Web.Library' />
      <ComponentRef Id='Remove.VS2015_MD.Library'/>
      <ComponentRef Id='Remove.VS2015_Web.Library'/>
      <ComponentRef Id='AutoLoadPackageVS2015'/>
      <!--Item Templates-->
      <Feature Id='VS2015_AddItemTemplate' Title='ItemTemplates' Level='1' Display='hidden' >
        <ComponentRef Id='VS2015_VSIT_DIR'/>
        <ComponentGroupRef Id='VS14_CS_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS14_CS_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2015_VB_VSIT_DIR'/>
        <ComponentGroupRef Id='VS14_VB_WinForm_ItemTemplate_DirectoryComponents'/>
        <ComponentGroupRef Id='VS14_VB_Web_ItemTemplate_DirectoryComponents'/>
        <ComponentRef Id='VS2015_T4TemplatesCSharpDir' />
        <ComponentRef Id='VS2015_T4TemplatesVBDir' />
      </Feature>
    </Feature>

    <!-- Visual Studio 2010 installation location -->
    <Property Id='VS_2010_PATH' Secure='yes'>
      <RegistrySearch Id='Find_VS2010_Path' Win64='no' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>

    <!-- Visual Studio 2012 installation location -->
    <Property Id='VS_2012_PATH' Secure='yes'>
      <RegistrySearch Id='Find_VS2012_Path' Win64='no' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>

    <!-- Visual Studio 2013 installation location -->
    <!-- way to get VS2013 is clumsy due to Wix not currently having VS2013 support -->
    <Property Id='VS_2013_PATH' Secure='yes'>
      <RegistrySearch Id='Find_VS2013_Path' Win64='no' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\12.0\'
          Name='ShellFolder' Type='raw'/>
    </Property>

    <!-- Visual Studio 2015 installation location -->
    <Property Id='VS_2015_PATH' Secure='yes'>
      <RegistrySearch Id='Find_VS2015_Path' Win64='no' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\14.0\'
          Name='ShellFolder' Type='raw'/>
    </Property>

    <!-- Visual Studio 2012 Custom Action (update packages file) -->
    <Binary Id="VS11_PackagesFile" SourceFile="..\Source\MySql.ConnectorInstaller\bin\v4.0\Release\MySql.ConnectorInstaller.CA.dll" />
    <CustomAction Id="VS2012_SetPathProp" Property="VS11_UpdatePackageFile" Value="VS2012_PathProp=[VS_2012_PATH]" Return="check" />
    <CustomAction Id="VS11_UpdatePackageFile" DllEntry="UpdateFlagPackagesFileForVS2012" BinaryKey="VS11_PackagesFile" Execute="deferred" Return="check" Impersonate="no" />

    <!-- Visual Studio 2013 Custom Action (update packages file) -->
    <Binary Id="VS12_PackagesFile" SourceFile="..\Source\MySql.ConnectorInstaller\bin\v4.0\Release\MySql.ConnectorInstaller.CA.dll" />
    <CustomAction Id="VS2013_SetPathProp" Property="VS12_UpdatePackageFile" Value="VS2013_PathProp=[VS_2013_PATH]" Return="check" />
    <CustomAction Id="VS12_UpdatePackageFile" DllEntry="UpdateFlagPackagesFileForVS2013" BinaryKey="VS12_PackagesFile" Execute="deferred" Return="check" Impersonate="no" />

    <!-- Visual Studio 2015 Custom Action (update packages file) -->
    <Binary Id="VS14_PackagesFile" SourceFile="..\Source\MySql.ConnectorInstaller\bin\v4.0\Release\MySql.ConnectorInstaller.CA.dll" />
    <CustomAction Id="VS2015_SetPathProp" Property="VS14_UpdatePackageFile" Value="VS2015_PathProp=[VS_2015_PATH]" Return="check" />
    <CustomAction Id="VS14_UpdatePackageFile" DllEntry="UpdateFlagPackagesFileForVS2015" BinaryKey="VS14_PackagesFile" Execute="deferred" Return="check" Impersonate="no" />

    <!-- Adding AutoLoadPackage option so our connections are available -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AutoLoadPackageVS2010" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\10.0\AutoLoadPackages\{adfc4e64-0397-11d1-9f4e-00a0c911004f}"
                     ForceCreateOnInstall="yes"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="{79a115c9-b133-4891-9e7b-242509dad272}"  Value="0" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AutoLoadPackageVS2012" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\11.0\AutoLoadPackages\{adfc4e64-0397-11d1-9f4e-00a0c911004f}"
                     ForceCreateOnInstall="yes"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="{79a115c9-b133-4891-9e7b-242509dad272}"  Value="0" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AutoLoadPackageVS2013" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\12.0\AutoLoadPackages\{adfc4e64-0397-11d1-9f4e-00a0c911004f}"
                     ForceCreateOnInstall="yes"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="{79a115c9-b133-4891-9e7b-242509dad272}"  Value="0" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AutoLoadPackageVS2015" Guid="*">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\VisualStudio\14.0\AutoLoadPackages\{adfc4e64-0397-11d1-9f4e-00a0c911004f}"
                     ForceCreateOnInstall="yes"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="{79a115c9-b133-4891-9e7b-242509dad272}"  Value="0" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <InstallExecuteSequence>
      <Custom Action='VS2012_SetPathProp' Before='InstallFinalize'>(&amp;VS2012Int=2) OR (&amp;VS2012Int=3)</Custom>
      <Custom Action='VS2013_SetPathProp' After='VS2012_SetPathProp'>(&amp;VS2013Int=2) OR (&amp;VS2013Int=3)</Custom>
      <Custom Action='VS2015_SetPathProp' After='VS2013_SetPathProp'>(&amp;VS2015Int=2) OR (&amp;VS2015Int=3)</Custom>
      <Custom Action="VS11_UpdatePackageFile" After='VS2015_SetPathProp'>(&amp;VS2012Int=2) OR (&amp;VS2012Int=3)</Custom>
      <Custom Action="VS12_UpdatePackageFile" After='VS11_UpdatePackageFile'>(&amp;VS2013Int=2) OR (&amp;VS2013Int=3)</Custom>
      <Custom Action="VS14_UpdatePackageFile" After='VS12_UpdatePackageFile'>(&amp;VS2015Int=2) OR (&amp;VS2015Int=3)</Custom>
      <Custom Action='VS2010Setup' After='VS14_UpdatePackageFile'>(&amp;VS2010Int=2) OR (&amp;VS2010Int=3)</Custom>
      <Custom Action='VS2012Setup' After='VS2010Setup'>(&amp;VS2012Int=2) OR (&amp;VS2012Int=3)</Custom>
      <Custom Action='VS2013Setup' After='VS2012Setup'>(&amp;VS2013Int=2) OR (&amp;VS2013Int=3)</Custom>
      <Custom Action='VS2015Setup' After='VS2013Setup'>(&amp;VS2015Int=2) OR (&amp;VS2015Int=3)</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>


