<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='VS_2008_Fragment'>
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="VS_2008" Guid="a5240e1b-c5c2-4820-8a1d-776c0017f44b">
        <!--Datasource registration section-->
        <RegistryKey Id='DataSource_2008' Root='HKLM'
                     Key='Software\Microsoft\VisualStudio\9.0\DataSources\{98FBE4D8-5583-4233-B219-70FF8C7FBBBD}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='DSDefaultValue_2008' Type='string' Value='MySQL Database'/>
          <RegistryKey Id='DSSupportingProviders_2008' Key='SupportingProviders' Action='create'>
            <RegistryKey Id='DSProvider_2008' Key='{C6882346-E592-4da5-80BA-D2EADCDA0359}' Action='create'>
              <RegistryValue Id='DSDesc_2008' Name='Description' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
              <RegistryValue Id='DSDisplayName_2008' Name='DisplayName' Value='Datasource_Displayname, MySql.Data.VisualStudio.Properties.Resources' Type='string'/>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>

        <!--Provider registration section-->
        <RegistryKey Id='DataProviders_2008' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\9.0\DataProviders\{C6882346-E592-4da5-80BA-D2EADCDA0359}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='DPDefaultValue_2008' Type='string' Value='.NET Framework Data Provider for MySQL'/>
          <RegistryValue Id='DPDisplayName_2008' Name='DisplayName' Type='string' Value='Provider_DisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='DPShortDisplayName_2008' Name='ShortDisplayName' Type='string' Value='Provider_ShortDisplayName, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='DPDescription_2008' Name='Description' Type='string' Value='Provider_Description, MySql.Data.VisualStudio.Properties.Resources'/>
          <RegistryValue Id='FactoryService_2008' Name='FactoryService' Type='string' Value='{D949EA95-EDA1-4b65-8A9E-266949A99360}'/>
          <RegistryValue Id='InvariantName_2008' Name='InvariantName' Type='string' Value='MySql.Data.MySqlClient'/>
          <RegistryKey Id='SupportedObjects_2008' Key='SupportedObjects' Action='create'>
            <RegistryKey Id='SupportedObjects1_2008' Key='DataConnectionPromptDialog' Action='create'/>
            <RegistryKey Id='SupportedObjects2_2008' Key='DataConnectionProperties' Action='create'/>
            <RegistryKey Id='SupportedObjects3_2008' Key='DataConnectionSupport' Action='create'/>
            <RegistryKey Id='SupportedObjects4_2008' Key='DataConnectionUIControl' Action='create'/>
            <RegistryKey Id='SupportedObjects5_2008' Key='DataObjectSupport' Action='create'/>
            <RegistryKey Id='SupportedObjects6_2008' Key='DataSourceInformation' Action='create'/>
            <RegistryKey Id='SupportedObjects7_2008' Key='DataViewSupport' Action='create'/>
          </RegistryKey>
        </RegistryKey>

        <!--Menu section-->
        <RegistryValue Id='Menu_2008' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\9.0\Menus' Type='string'
                     Name='{79A115C9-B133-4891-9E7B-242509DAD272}' Value=',1000,1' Action='write'/>

        <!--Service section-->
        <RegistryKey Id='Services_2008' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\9.0\Services\{D949EA95-EDA1-4b65-8A9E-266949A99360}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='ServicesDefault_2008' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
          <RegistryValue Id='ServicesName_2008' Name='Name' Value='MySQL Provider Object Factory' Type='string'/>
        </RegistryKey>

        <!--Installed Products section-->
        <RegistryKey Id='InstalledProducts_2008' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\9.0\InstalledProducts\[ProductName]'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='IPDefault_2008' Value='[ProductName]' Type='string'/>
          <RegistryValue Id='IPPackage_2008' Name='Package' Value='{79A115C9-B133-4891-9E7B-242509DAD272}' Type='string'/>
          <RegistryValue Id='IPUI_2008' Name='UseInterface' Value='1' Type='integer'/>
        </RegistryKey>

        <!--Package section-->
        <RegistryKey Id='Packages_2008' Root='HKLM'
                     Key='SOFTWARE\Microsoft\VisualStudio\9.0\Packages\{79A115C9-B133-4891-9E7B-242509DAD272}'
                     Action='createAndRemoveOnUninstall'>
          <RegistryValue Id='PackagesDefault_2008' Value='[ProductName]' Type='string'/>
          <RegistryValue Id='PackInProc_2008' Name='InprocServer32' Value='[WindowsFolder]system32\mscoree.dll' Type='string'/>
          <RegistryValue Id='PackClass_2008' Name='Class' Value='MySql.Data.VisualStudio.MySqlDataProviderPackage' Type='string'/>
          <RegistryValue Id='PackCodeBase_2008' Name='CodeBase' Value='[INSTALLDIR]\Visual Studio Integration\MySql.VisualStudio.dll' Type='string'/>
          <RegistryValue Id='PackProdName_2008' Name='ProductName' Value='MySQL Tools for Visual Studio' Type='string'/>
          <RegistryValue Id='PackVer_2008' Name='ProductVersion' Value='1.1' Type='string'/>
          <RegistryValue Id='PackComp_2008' Name='CompanyName' Value='MySQL AB c/o MySQL, Inc.' Type='string'/>
          <RegistryValue Id='PackMin_2008' Name='MinEdition' Value='standard' Type='string'/>
          <RegistryValue Id='PackId_2008' Name='ID' Value='100' Type='integer'/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id='VS2008Int' Level='1' Title='Visual Studio 2008'>
      <Condition Level='0'>Not VS_2008_PATH</Condition>
      <ComponentRef Id='VS_2008'/>
    </Feature>

    <Property Id='VS_2008_PATH'>
      <RegistrySearch Id='Find_VS2008_Path' Root='HKLM' Key='SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS'
          Name='EnvironmentDirectory' Type='raw'/>
    </Property>
    <CustomAction Id="VS_2008_Setup" Property="VS_2008_SetupRun" Value='"[VS_2008_PATH]\devenv.com" /setup'/>
    <CustomAction Id="VS_2008_SetupRun" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>

    <InstallExecuteSequence>
      <Custom Action='VS_2008_Setup' Before='InstallFinalize'>(&amp;VS2008Int=2) OR (&amp;VS2008Int=3)</Custom>
      <Custom Action='VS_2008_SetupRun' After='VS_2008_Setup'>(&amp;VS2008Int=2) OR (&amp;VS2008Int=3)</Custom>
    </InstallExecuteSequence>    
    
  </Fragment>
</Wix>


