<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='ProvidersFragment'>
    <DirectoryRef Id='AssembliesDir'>
      <Directory Id="MySql.Web.DummyDir" Name="GAC">
        <Component Id="ProvidersGAC" Guid="6b95d34b-91e1-41ff-9f3f-dcb5308a00ce">
          <File Id="ProviderAssemblyGAC" Name="MySql.Web.dll" ShortName="MW"
                Source="..\MySql.Web\providers\bin\release\mysql.web.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
        </Component>
      </Directory>
      <Component Id="Providers" Guid="8578813e-e123-45ad-9c92-565382a058b6">
        <File Id="MySqlWeb" Name="MySql.Web.dll" DiskId="1"
              Source="..\MySql.Web\providers\bin\release\mysql.web.dll"/>
        <RemoveFile Id="RemoveWebStateFile" Name="*.InstallState" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <Feature Id='WebProviders' Display='7' Level='1' Title='Web Providers'
             Description='ASP.Net Web Providers'>
      <ComponentRef Id='Providers'/>
      <ComponentRef Id='ProvidersGAC'/>
    </Feature>

    <InstallExecuteSequence>
      <Custom Action='ManagedWebInstallSetup' After="InstallFiles">(&amp;WebProviders=3) AND NOT(!WebProviders=3)</Custom>
      <Custom Action='ManagedWebInstall' After="ManagedWebInstallSetup">(&amp;WebProviders=3) AND NOT(!WebProviders=3)</Custom>
      <Custom Action='ManagedWebUnInstallSetup' Before="RemoveFiles">(&amp;WebProviders=2) AND (!WebProviders=3)</Custom>
      <Custom Action='ManagedWebUnInstall' After="ManagedWebUnInstallSetup">(&amp;WebProviders=2) AND (!WebProviders=3)</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="ManagedWebInstallSetup" Property="ManagedWebInstall"
                  Value='"[WindowsFolder]\Microsoft.NET\Framework\v2.0.50727\installUtil.exe" /LogToConsole=false /LogFile=  "[#MySqlWeb]"'/>
    <CustomAction Id='ManagedWebUnInstallSetup' Property="ManagedWebUnInstall"
                  Value='"[WindowsFolder]\Microsoft.NET\Framework\v2.0.50727\installUtil.exe" /LogToConsole=false /LogFile= /u "[#MySqlWeb]"'/>
    <CustomAction Id="ManagedWebInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
    <CustomAction Id="ManagedWebUnInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
  </Fragment>
</Wix>


