<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id='ProvidersFragment'>
    
    <DirectoryRef Id='assemblies_v2'>
      <Directory Id="MySql.Web.DummyDir" Name="GAC">
        <Component Id="C.Web.v2.GAC" Guid="6b95d34b-91e1-41ff-9f3f-dcb5308a00ce">
          <Condition>NETFRAMEWORK20</Condition>
          <File Id="ProviderAssemblyGAC.v2" Name="MySql.Web.dll" ShortName="MW"
                Source="..\MySql.Web\providers\bin\release\mysql.web.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
        </Component>
      </Directory>
      <Component Id="C.Web.v2" Guid="8578813e-e123-45ad-9c92-565382a058b6">
        <File Id="MySqlWeb.v2" Name="MySql.Web.dll" DiskId="1"
              Source="..\MySql.Web\providers\bin\release\mysql.web.dll"/>
        <RemoveFile Id="RemoveWebStateFile.v2" Name="*.InstallState" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='assemblies_v4'>
      <Directory Id="MySql.Web.DummyDir.v4" Name="GAC">
        <Component Id="C.Web.v4.GAC" Guid="A30C8C85-C943-4976-8C9C-4ACFBBCD0764">
          <Condition>NETFRAMEWORK40FULL</Condition>
          <File Id="ProviderAssemblyGAC.v4" Name="MySql.Web.dll" ShortName="MW"
                Source="..\MySql.Web\providers\bin\release-4.0\mysql.web.dll" DiskId="1" Assembly=".net" KeyPath="yes"/>
        </Component>
      </Directory>
      <Component Id="C.Web.v4" Guid="64B61967-2AB9-4DCC-B82B-23CA348B3CCF">
        <File Id="MySqlWeb.v4" Name="MySql.Web.dll" DiskId="1"
              Source="..\MySql.Web\providers\bin\release-4.0\mysql.web.dll"/>
        <RemoveFile Id="RemoveWebStateFile.v4" Name="*.InstallState" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <Feature Id='WebProviders' Display='7' Level='1' Title='Web Providers'
             Description='ASP.Net Web Providers'>
      <ComponentRef Id='C.Web.v2'/>
      <ComponentRef Id='C.Web.v2.GAC'/>
      <ComponentRef Id='C.Web.v4'/>
      <ComponentRef Id='C.Web.v4.GAC'/>
    </Feature>

    <InstallExecuteSequence>
      <Custom Action='ManagedWebInstallSetup' After="InstallFiles">(&amp;WebProviders=3) AND NOT(!WebProviders=3)</Custom>
      <Custom Action='ManagedWebInstall' After="ManagedWebInstallSetup">(&amp;WebProviders=3) AND NOT(!WebProviders=3)</Custom>
      <Custom Action='ManagedWebUnInstallSetup' Before="RemoveFiles">(&amp;WebProviders=2) AND (!WebProviders=3)</Custom>
      <Custom Action='ManagedWebUnInstall' After="ManagedWebUnInstallSetup">(&amp;WebProviders=2) AND (!WebProviders=3)</Custom>
    </InstallExecuteSequence>

    <CustomAction Id="ManagedWebInstallSetup" Property="ManagedWebInstall"
                  Value='"[InstallUtil]\installUtil.exe" /LogToConsole=false /LogFile=  "[#MySqlWeb.v2]"'/>
    <CustomAction Id='ManagedWebUnInstallSetup' Property="ManagedWebUnInstall"
                  Value='"[InstallUtil]\installUtil.exe" /LogToConsole=false /LogFile= /u "[#MySqlWeb.v2]"'/>
    <CustomAction Id="ManagedWebInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
    <CustomAction Id="ManagedWebUnInstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Return="check" Execute='deferred' Impersonate='no'/>
  </Fragment>
</Wix>


